<nb-card [routerLink]="['/labs', lab.slug]" class="user-lab">
  <nb-card-body>
    <img
      [alt]="lab.name"
      [src]="lab.header_image?.medium || '/assets/images/Lab-Default.png'"
      [title]="lab.name"
      class="user-lab-cover-image"
    />
    <div class="content">
      <h4 class="user-lab-name">{{ lab.name }}</h4>
      <p class="user-lab-description">{{ lab.description }}</p>
      <div class="user-lab-interactions">
        <app-votes-display
          [icon]="'heart-outline'"
          [votableId]="lab.id"
          [votableType]="'Lab'"
          [textAlignment]="'after'"
        ></app-votes-display>
      </div>
    </div>
  </nb-card-body>
</nb-card>
