<nb-card>
  <nb-card-header
    >Tracks & Prizes<commudle-help-section [helpDictionaryName]="'hackathon-tracks-prizes'"></commudle-help-section
  ></nb-card-header>
  <nb-card-body>
    <div class="router-tab">
      <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
    </div>
  </nb-card-body>
</nb-card>

<div *ngIf="hackathon" class="next-step-container">
  <a>
    Next Step
    <fa-icon [icon]="icons.faArrowRight"></fa-icon>
  </a>
  <div class="next-steps-card">
    <commudle-next-step-card
      headingText="Setup Rounds"
      [routerLink]="
        '/admin' + '/communities/' + hackathon.community.slug + '/hackathon-dashboard/' + hackathon.slug + '/rounds'
      "
      [faIcon]="icons.faGamepad"
    ></commudle-next-step-card>
    <commudle-next-step-card
      headingText="Setup Registration Form"
      [routerLink]="
        '/admin' +
        '/communities/' +
        hackathon.community.slug +
        '/hackathon-dashboard/' +
        hackathon.slug +
        '/registrations'
      "
      [faIcon]="icons.faRectangleList"
    ></commudle-next-step-card>
    <commudle-next-step-card
      headingText="Add Judges, Speakers & Mentors"
      [routerLink]="
        '/admin' + '/communities/' + hackathon.community.slug + '/hackathon-dashboard/' + hackathon.slug + '/speakers'
      "
      [faIcon]="icons.faMicrophone"
    ></commudle-next-step-card>
  </div>
</div>
