<nb-card class="user-past-event-card">
  <a
    [routerLink]="
      pastEvent.speaker_resource
        ? ['/speaker-resources', pastEvent.speaker_resource.id]
        : ['/communities', pastEvent.kommunity_id, 'events', pastEvent.slug]
    "
  >
    <nb-card-body>
      <div class="event">
        <span class="event-month">{{ pastEvent.start_time | date : 'MMM' }}</span>
        <div class="date-day">
          <span class="event-date">{{ pastEvent.start_time | date : 'dd' }}</span>
          <span class="event-day">{{ pastEvent.start_time | date : 'EEE' }}</span>
        </div>
      </div>
      <div class="content">
        <h4 class="title">{{ pastEvent.name }}</h4>
        <div *ngIf="community" class="community-badge">
          <app-community-badge [community]="community" [size]="'small'"></app-community-badge>
        </div>
      </div>
    </nb-card-body>
  </a>
</nb-card>
