<nb-card class="user-attended-event-card" [ngClass]="showCardHorizontal ? 'com-w-[324px]' : 'com-w-full'">
  <nb-card-body class="custom-scrollbar">
    <a
      [routerLink]="[
        '/communities',
        attendedEvent.kommunity_slug,
        cardType === 'hackathons' ? 'hackathons' : 'events',
        attendedEvent.slug
      ]"
      [title]="attendedEvent.name"
    >
      <div class="time" *ngIf="cardType === 'attendedEventCard'">
        <fa-icon
          class="checked-icon"
          [icon]="faCheck"
          [ngClass]="{
            iconSizeSmall: iconSize === 'small',
            iconSizeMedium: iconSize === 'medium'
          }"
        ></fa-icon>
        <div class="date-month">
          <p class="event-date">
            {{ moment(attendedEvent.start_time).format('D') }}
          </p>
          <p class="event-month">
            {{ moment(attendedEvent.start_time).format('MMM') }}
          </p>
        </div>
      </div>
      <div class="time" *ngIf="cardType === 'hackathons' || cardType === 'upcomingEvents'">
        <p class="event-month-header">
          {{ moment(attendedEvent.start_date ? attendedEvent.start_date : attendedEvent.start_time).format('MMM') }}
        </p>
        <div class="date-month">
          <p class="event-date">
            {{ moment(attendedEvent.start_date ? attendedEvent.start_date : attendedEvent.start_time).format('D') }}
          </p>
          <p class="event-day">
            {{ moment(attendedEvent.start_date ? attendedEvent.start_date : attendedEvent.start_time).format('ddd') }}
          </p>
        </div>
      </div>
      <div class="content">
        <h4 class="title">{{ attendedEvent.name }}</h4>
        <div *ngIf="community" class="community-badge">
          <app-community-badge [community]="community" [size]="'small'"></app-community-badge>
        </div>
      </div>
    </a>
  </nb-card-body>
</nb-card>
