<nb-actions size="medium">
  <nb-action>
    <a routerLink="communities" routerLinkActive="active">
      <fa-icon [icon]="faUserFriends"></fa-icon>
      <span>Communities</span>
    </a>
  </nb-action>
  <nb-action *ngIf="currentUser">
    <a routerLink="labs" routerLinkActive="active">
      <fa-icon [icon]="faFlask"></fa-icon>
      <span>Labs</span>
    </a>
  </nb-action>
  <nb-action>
    <a routerLink="builds" routerLinkActive="active">
      <fa-icon [icon]="faLightbulb"></fa-icon>
      <span>Builds</span>
    </a>
  </nb-action>
  <nb-action *ngIf="!currentUser">
    <a routerLink="events" routerLinkActive="active">
      <fa-icon [icon]="faCalendarDays"></fa-icon>
      <span>Events</span>
    </a>
  </nb-action>
  <nb-action *ngIf="!currentUser">
    <a routerLink="pricing" routerLinkActive="active">
      <fa-icon [icon]="faHandHoldingDollar"></fa-icon>
      <span>Pricing</span>
    </a>
  </nb-action>
  <nb-action *ngIf="!currentUser">
    <a routerLink="jobs" routerLinkActive="active">
      <fa-icon [icon]="faBriefcase"></fa-icon>
      <span>Jobs</span>
    </a>
  </nb-action>

  <nb-action (click)="this.notificationCount = 0; gtmService()" *ngIf="currentUser">
    <a *appBreakpoints="'<=md'" [routerLink]="['/notifications']" routerLinkActive="active">
      <nb-badge *ngIf="notificationCount > 0" [text]="notificationCount.toString()" status="danger"></nb-badge>
      <fa-icon [icon]="faBell"></fa-icon>
      <span>Notifications</span>
    </a>
    <a
      *appBreakpoints="'>md'"
      [routerLink]="['/notifications']"
      [ngClass]="{ active: notificationIconHighlight }"
      class="com-cursor-pointer"
    >
      <nb-badge *ngIf="notificationCount > 0" [text]="notificationCount.toString()" status="danger"></nb-badge>
      <fa-icon [icon]="faBell"></fa-icon>
      <span>Notifications</span>
    </a>
  </nb-action>
  <nb-action *ngIf="currentUser">
    <a *appBreakpoints="'<=md'" [routerLink]="['/account-menu']" routerLinkActive="active">
      <img [alt]="currentUser.name" [src]="currentUser.photo.i32" class="user-profile-image-mobile" />
      <span>You</span>
    </a>
  </nb-action>
  <!-- <nb-action *ngIf="!currentUser">
    <a (click)="showContextMenu = !showContextMenu" [nbContextMenu]="contextMenuItems">
      <fa-icon [icon]="faEllipsisV"></fa-icon>
      <span>More</span>
    </a>
  </nb-action> -->
</nb-actions>

<ng-template #notificationPopover>
  <app-notifications-popover (closePopover)="closePopover()"></app-notifications-popover>
</ng-template>
