<nb-actions>
  <nb-action>
    <a routerLink="communities" routerLinkActive="active">
      <fa-icon [icon]="faUserFriends"></fa-icon>
      <span>Communities</span>
    </a>
  </nb-action>
  <nb-action>
    <a routerLink="events" routerLinkActive="active">
      <fa-icon [icon]="faCalendarDays"></fa-icon>
      <span>Events</span>
    </a>
  </nb-action>
  <nb-action>
    <a routerLink="hackathons" routerLinkActive="active">
      <fa-icon [icon]="faTrophy"></fa-icon>
      <span>Hacks</span>
    </a>
  </nb-action>
  <nb-action>
    <a routerLink="builds" routerLinkActive="active">
      <fa-icon [icon]="faLightbulb"></fa-icon>
      <span>Builds</span>
    </a>
  </nb-action>
  <nb-action *appBreakpoints="'>lg'">
    <a
      class="com-cursor-pointer explore-nav-trigger"
      [nbPopover]="desktopExplorePopover"
      nbPopoverPlacement="bottom"
      nbPopoverTrigger="click"
      #desktopExploreTrigger="nbPopover"
    >
      <fa-icon [icon]="faCompass"></fa-icon>
      <span>Explore</span>
    </a>
  </nb-action>
  <nb-action *ngIf="currentUser">
    <a
      [routerLink]="['/notifications']"
      routerLinkActive="active"
      class="com-cursor-pointer"
      *appBreakpoints="'>lg'"
      (click)="this.notificationCount = 0; gtmService()"
    >
      <nb-badge *ngIf="notificationCount > 0" [text]="notificationCount.toString()" status="danger"></nb-badge>
      <fa-icon [icon]="faBell"></fa-icon>
      <span>Notifications</span>
    </a>
    <a *appBreakpoints="'<=lg'" [routerLink]="['/account-menu']" routerLinkActive="active">
      <img [alt]="currentUser.name" [src]="currentUser.photo.i32" class="user-profile-image-mobile" />
      <span>You</span>
    </a>
  </nb-action>
  <nb-action *ngIf="!currentUser">
    <a *appBreakpoints="'<=lg'" (click)="openExploreBottomSheet()" class="com-cursor-pointer explore-nav-trigger">
      <fa-icon [icon]="faCompass"></fa-icon>
      <span>Explore</span>
    </a>
  </nb-action>
  <!-- <nb-action *ngIf="!currentUser">
    <a (click)="showContextMenu = !showContextMenu" [nbContextMenu]="contextMenuItems">
      <fa-icon [icon]="faEllipsisV"></fa-icon>
      <span>More</span>
    </a>
  </nb-action> -->
</nb-actions>

<commudle-bottom-sheet [isOpen]="exploreBottomSheetOpen" title="Explore More" (close)="closeExploreBottomSheet()">
  <div class="explore-bottom-sheet-content">
    <a [routerLink]="['/labs']" (click)="closeExploreBottomSheet()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faFlask" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Labs</span>
          <span class="explore-action-subtitle">Step by Step Tutorials</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/pricing']" (click)="closeExploreBottomSheet()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faHandHoldingDollar" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Pricing</span>
          <span class="explore-action-subtitle">Start your community</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/features']" (click)="closeExploreBottomSheet()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faInfoCircle" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Features</span>
          <span class="explore-action-subtitle">Know more about Commudle</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/my-profile']" (click)="closeExploreBottomSheet()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faIdCard" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Developer Profile</span>
          <span class="explore-action-subtitle">Manage your public profile</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/experts-program']" (click)="closeExploreBottomSheet()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faCircleCheck" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Experts Program</span>
          <span class="explore-action-subtitle">Grow as a community expert</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/speakers']" (click)="closeExploreBottomSheet()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faMicrophone" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Find Speakers</span>
          <span class="explore-action-subtitle">View talk slides</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/jobs']" (click)="closeExploreBottomSheet()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faBriefcase" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Jobs</span>
          <span class="explore-action-subtitle">Post a Job or Apply for one</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/vibeathon-challenge']" (click)="closeExploreBottomSheet()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faBolt" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Vibeathon</span>
          <span class="explore-action-subtitle">Run a vibecode competition</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>
  </div>
</commudle-bottom-sheet>

<ng-template #desktopExplorePopover>
  <div class="desktop-explore-popover">
    <a [routerLink]="['/labs']" (click)="closeDesktopExplorePopover()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faFlask" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Labs</span>
          <span class="explore-action-subtitle">Step by Step Tutorials</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/pricing']" (click)="closeDesktopExplorePopover()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faHandHoldingDollar" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Pricing</span>
          <span class="explore-action-subtitle">Start your community</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/my-profile']" (click)="closeDesktopExplorePopover()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faIdCard" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Developer Profile</span>
          <span class="explore-action-subtitle">Manage your public profile</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/experts-program']" (click)="closeDesktopExplorePopover()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faCircleCheck" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Experts Program</span>
          <span class="explore-action-subtitle">Grow as a community expert</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/features']" (click)="closeDesktopExplorePopover()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faInfoCircle" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Features</span>
          <span class="explore-action-subtitle">Know more about Commudle</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/speakers']" (click)="closeDesktopExplorePopover()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faMicrophone" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Find Speakers</span>
          <span class="explore-action-subtitle">View talk slides</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/jobs']" (click)="closeDesktopExplorePopover()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faBriefcase" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Jobs</span>
          <span class="explore-action-subtitle">Post a Job or Apply for one</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>

    <a [routerLink]="['/vibeathon-challenge']" (click)="closeDesktopExplorePopover()" class="explore-action-item">
      <div class="explore-action-left">
        <fa-icon [icon]="faBolt" class="explore-action-icon"></fa-icon>
        <div class="explore-action-text">
          <span class="explore-action-title">Vibeathon</span>
          <span class="explore-action-subtitle">Run a vibecode competition</span>
        </div>
      </div>
      <fa-icon [icon]="faChevronRight" class="explore-action-chevron"></fa-icon>
    </a>
  </div>
</ng-template>

<ng-template #notificationPopover>
  <app-notifications-popover (closePopover)="closePopover()"></app-notifications-popover>
</ng-template>
