<div class="community-about com-grid com-grid-cols-1 lg:com-grid-cols-3 com-gap-4">
  <div class="main-column">
    <com-card *ngIf="community.upcoming_events_count > 0" class="upcoming-card">
      <com-card-body>
        <h2 class="title">Upcoming Events</h2>
        <app-loading-spinner *ngIf="isLoadingEvents"></app-loading-spinner>
        <div class="event-horizontal-card">
          <div *ngFor="let event of upcomingEvents">
            <commudle-event-horizontal-card [event]="event"></commudle-event-horizontal-card>
          </div>
        </div>
      </com-card-body>
    </com-card>

    <com-card *ngIf="community.upcoming_hackathons_count > 0" class="upcoming-card">
      <com-card-body>
        <h2 class="title">Upcoming Hackathons</h2>
        <app-loading-spinner *ngIf="isLoadingHackathons"></app-loading-spinner>
        <div class="hackathon-card-list">
          <div *ngFor="let hackathon of upcomingHackathons">
            <commudle-hackathon-large-card
              [hackathon]="hackathon"
              [headerImageWidth]="'388px'"
            ></commudle-hackathon-large-card>
          </div>
        </div>
      </com-card-body>
    </com-card>

    <com-card [nbSpinner]="community === null" class="about">
      <com-card-body>
        <h2 class="heading">Who we are</h2>
        <p [innerHTML]="community.about | linky : { sanitizeHtml: false } | safeHtml" class="content"></p>
        <div class="community-social-links d-flex align-items-center">
          <a
            *ngIf="community.facebook"
            href="{{ community.facebook | completeurl : 'facebook' }}"
            rel="noreferrer"
            target="_blank"
          >
            <app-badge
              [faIcon]="faFacebook"
              [fontColor]="'com-text-primary-500'"
              [fontSize]="'small'"
              [borderRadius]="'round'"
              [color]="'com-bg-blue-50'"
            ></app-badge>
          </a>
          <a
            *ngIf="community.linkedin"
            href="{{ community.linkedin | completeurl : 'linkedin' }}"
            rel="noreferrer"
            target="_blank"
          >
            <app-badge
              [faIcon]="faLinkedin"
              [fontColor]="'com-text-primary-500'"
              [fontSize]="'small'"
              [borderRadius]="'round'"
              [color]="'com-bg-blue-50'"
            ></app-badge>
          </a>
          <a
            *ngIf="community.instagram"
            href="{{ community.instagram | completeurl : 'instagram' }}"
            rel="noreferrer"
            target="_blank"
          >
            <app-badge
              [faIcon]="faInstagram"
              [fontColor]="'com-text-primary-500'"
              [fontSize]="'small'"
              [borderRadius]="'round'"
              [color]="'com-bg-blue-50'"
            ></app-badge>
          </a>
          <a
            *ngIf="community.twitter"
            href="{{ community.twitter | completeurl : 'twitter' }}"
            rel="noreferrer"
            target="_blank"
          >
            <app-badge
              [faIcon]="faTwitter"
              [fontColor]="'com-text-primary-500'"
              [fontSize]="'small'"
              [borderRadius]="'round'"
              [color]="'com-bg-blue-50'"
            ></app-badge>
          </a>
          <a
            *ngIf="community.github"
            href="{{ community.github | completeurl : 'github' }}"
            rel="noreferrer"
            target="_blank"
          >
            <app-badge
              [faIcon]="faGithub"
              [fontColor]="'com-text-primary-500'"
              [fontSize]="'small'"
              [borderRadius]="'round'"
              [color]="'com-bg-blue-50'"
            ></app-badge>
          </a>
          <a *ngIf="community.website" href="{{ community.website | completeurl }}" rel="noreferrer" target="_blank">
            <app-badge
              [faIcon]="faGlobe"
              [fontColor]="'com-text-primary-500'"
              [fontSize]="'small'"
              [borderRadius]="'round'"
              [color]="'com-bg-blue-50'"
            ></app-badge>
          </a>
        </div>
      </com-card-body>
    </com-card>

    <com-card *appBreakpoints="'<=md'">
      <com-card-body>
        <h2 class="heading">Community Leaders</h2>
        <div class="organizers com-grid com-grid-cols-1 com-gap-4">
          <div *ngIf="isLoading" class="loading-spinner com-my-4 com-text-center">
            <div class="spinner">
              <div *ngFor="let _ of [].constructor(5)"></div>
            </div>
          </div>
          <ng-container *ngFor="let organizer of organizers">
            <app-user-profile-card-large
              [user]="organizer"
              [showFollowButton]="true"
              [alignFollowToRight]="true"
            ></app-user-profile-card-large>
          </ng-container>
        </div>
      </com-card-body>
    </com-card>

    <com-card *ngIf="defaultChannel" class="default-channel-container">
      <com-card-header>
        <div class="name-count">
          <h2 class="channel-name">{{ defaultChannel.name }}</h2>
          <div class="members-count">
            <fa-icon [icon]="icons.faUsers"></fa-icon>
            <span> {{ defaultChannel.members_count }}</span>
          </div>
        </div>
        <button nbButton status="primary" [routerLink]="['channels']" shape="semi-round">View More</button>
      </com-card-header>
      <com-card-body>
        <div class="description-container" [nbTooltip]="defaultChannel.description">
          <span class="description">
            {{ defaultChannel.description }}
          </span>
        </div>
        <commudle-channel-discussion
          [discussionId]="defaultChannel.discussion_id"
          [channelOrForum]="defaultChannel"
          [autoFocusEditor]="false"
          discussionParent="channels"
          discussionType="channel"
        ></commudle-channel-discussion>
      </com-card-body>
    </com-card>
  </div>

  <com-card class="community-leaders-card" *appBreakpoints="'>md'">
    <com-card-body>
      <h2 class="heading-right-column-card">Community Leaders</h2>
      <div class="organizers com-grid com-grid-cols-1 com-gap-4">
        <div *ngIf="isLoading" class="loading-spinner com-my-4 com-text-center">
          <div class="spinner">
            <div *ngFor="let _ of [].constructor(5)"></div>
          </div>
        </div>
        <ng-container *ngFor="let organizer of organizers">
          <app-user-profile-card-large
            [user]="organizer"
            [showFollowButton]="true"
            [alignFollowToRight]="true"
          ></app-user-profile-card-large>
        </ng-container>
      </div>
    </com-card-body>
  </com-card>
</div>
