<div class="category-heading">STATUS</div>
<section *ngIf="event.editable">
  <select class="select-status" (change)="openConfirmationPopup($any($event.target).value)">
    <option *ngFor="let i of eventStatuses" [value]="i" [selected]="event.event_status.name === i">
      {{ i | titlecase }}
    </option>
  </select>
</section>

<section *ngIf="!event.editable">
  <nb-alert status="success" class="com-mb-0">This event is completed!</nb-alert>
</section>

<ng-template #completeStatusConfirmationPopup let-ref="dialogRef" let-data>
  <nb-card>
    <nb-card-body>
      <div>Are you sure you want to change status to Completed ?</div>
    </nb-card-body>
    <nb-card-footer class="action-buttons">
      <button (click)="ref.close(true)" nbButton status="success">Yes</button>
      <button (click)="ref.close(false)" nbButton status="danger">No</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #confirmOpenEventStatusDialogBox let-ref="dialogRef" let-data>
  <nb-card class="confirm-open-event-status-dialog-box">
    <nb-card-header>
      <div>Are you sure?</div>
      <button ghost nbButton size="small" shape="round" (click)="ref.close()">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div>You have not yet created any registration form.</div>
    </nb-card-body>
    <nb-card-footer>
      <button (click)="ref.close(0)" nbButton status="primary">Create Form</button>
      <button (click)="ref.close(1)" nbButton status="info" outline>Open Anyway</button>
      <button (click)="ref.close(2)" nbButton status="danger" outline>Don't open</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
