<com-card *ngIf="currentUser?.id === user.id" class="user-resume" id="resume">
  <com-card-header class="section-heading-anchor">
    <div>
      <fa-icon [icon]="faClipboard" class="com-text-Azure Icon"></fa-icon>
      Resume
      <a [routerLink]="'.'" fragment="resume" class="anchor-link" aria-label="Link to resume section">
        <fa-icon [icon]="faHashtag" class="anchor-icon-small"></fa-icon>
      </a>
    </div>
  </com-card-header>
  <com-card-body>
    <button
      (click)="onOpenDialog(userResumeDialog)"
      [disabled]="userResumes.length >= 3"
      fullWidth
      ghost
      nbButton
      status="info"
    >
      <nb-icon icon="plus-circle"></nb-icon>
      Add Resume/Portfolio
    </button>
    <div
      *ngIf="userResumes.length > 0"
      class="com-grid com-grid-cols-1 sm:com-grid-cols-2 lg:com-grid-cols-3 com-gap-3"
    >
      <app-user-resume-card
        (reloadUserResume)="getUserResumes()"
        (updateUserResume)="onOpenEditUserResumeDialog(userResumeDialog, userResume)"
        *ngFor="let userResume of userResumes"
        [userResume]="userResume"
        [user]="user"
      ></app-user-resume-card>
    </div>
  </com-card-body>
</com-card>

<ng-template #userResumeDialog let-data>
  <com-card class="resume-dialog">
    <com-card-header class="com-flex com-justify-between com-items-center">
      <span class="com-text-base com-font-semibold com-text-Yankees-Blue">
        {{ isEditing ? 'Edit Resume/Portfolio' : 'Add Resume/Portfolio' }}
      </span>
      <button (click)="onCloseDialog()" ghost nbButton shape="round" size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </com-card-header>
    <com-card-body class="com-max-h-[60vh] md:com-max-h-full">
      <form [formGroup]="userResumeForm" class="com-flex com-flex-col com-space-y-3">
        <label class="com-text-sm com-text-Yankees-Blue">
          Name*
          <input formControlName="name" fullWidth nbInput type="text" />
        </label>
        <label class="com-text-sm com-text-Yankees-Blue">
          File* (PDF, max size: 5MB)
          <input
            formControlName="file"
            (change)="onFileChange($event)"
            accept="application/pdf"
            fullWidth
            nbInput
            type="file"
          />
        </label>
      </form>

      <object
        *ngIf="uploadedResumeSrc"
        class="com-mt-6 com-min-w-full md:com-min-w-[50vw] com-min-h-[70vh]"
        attr.data="{{ uploadedResumeSrc | safe : 'resourceUrl' }}"
        type="application/pdf"
      ></object>
    </com-card-body>
    <com-card-footer class="com-flex com-justify-between">
      <button (click)="onCloseDialog()" ghost nbButton size="small" status="danger">Cancel</button>
      <button
        (click)="isEditing ? updateResume(data.uuid) : createResume()"
        [disabled]="userResumeForm.invalid || !uploadedResumeSrc"
        nbButton
        status="success"
      >
        {{ isEditing ? 'Update' : 'Create' }}
      </button>
    </com-card-footer>
  </com-card>
</ng-template>
