.user-resume {
  @apply com-m-0 com-mb-4;

  com-card-header {
    @apply com-px-4 com-py-3 com-border-0;
    background: linear-gradient(135deg, #f7f7f8 0%, #ffffff 50%, #f7f7f8 100%);
    @apply dark:com-from-[#080808] dark:com-via-[#141414] dark:com-to-[#080808] dark:com-bg-gradient-to-br;
    border-bottom: 1px solid var(--color-bright-gray);
    @apply com-flex com-m-0 com-text-base com-font-semibold com-text-Yankees-Blue com-no-underline com-items-center com-gap-2;
    .Icon {
      @apply com-text-lg;
    }
  }

  com-card-body {
    @apply com-p-4 com-space-y-4;
  }
}

.resume-dialog {
  @apply com-m-0 com-max-w-[100vw] com-max-h-[100vh];

  com-card-header {
    @apply com-px-4 com-py-3 com-flex com-justify-between com-items-center;
    background: linear-gradient(135deg, #f7f7f8 0%, #ffffff 50%, #f7f7f8 100%);
    @apply dark:com-from-[#080808] dark:com-via-[#141414] dark:com-to-[#080808] dark:com-bg-gradient-to-br;
    border-bottom: 1px solid var(--color-bright-gray);
  }

  com-card-body {
    @apply com-p-4 com-overflow-y-auto com-max-h-[70dvh];
  }

  com-card-footer {
    @apply com-px-4 com-py-3 com-flex com-justify-between com-items-center com-border-0 com-border-t com-border-Bright-Gray;
  }
}
