<div class="header-section">
  <h1 class="page-title">Surveys</h1>
  <a *appBreakpoints="'<=lg'" nbButton status="primary" shape="semi-round" (click)="openBottomSheet()"
    ><fa-icon [icon]="faPlus"></fa-icon> &nbsp; New Survey Form
  </a>
  <commudle-bottom-sheet [isOpen]="isBottomSheetOpen" title="New Survey Form" (close)="closeBottomSheet()">
    <form (ngSubmit)="createNewSurvey()" [formGroup]="createSurveyForm" class="dfeg-create-form">
      <div formGroupName="survey" class="form-container">
        <div class="name">
          <label fullWidth>Name*</label>
          <input
            fieldSize="small"
            formControlName="name"
            placeholder="Survey Name"
            size="large"
            shape="semi-round"
            fullWidth
            nbInput
            type="text"
            class="input-field"
          />
        </div>

        <div class="data-form-type-select">
          <label fullWidth> Select Form*</label>
          <div class="dropdown">
            <select
              formControlName="data_form_id"
              class="com-border-0"
              [ngClass]="{
                'com-text-[#8E9BB3]': createSurveyForm.controls.survey.get('data_form_id').value === ''
              }"
              (change)="optionChanged($event)"
            >
              <option value="" selected disabled>Select Form</option>
              <option value="createNewForm">+ Create New Form</option>
              <option *ngFor="let qt of dataForms" [value]="qt.id">
                {{ qt.name | titlecase }}
              </option>
            </select>
          </div>

          <span *ngIf="createSurveyForm.controls.survey.get('data_form_id').value === 'createNewForm'">
            <commudle-alert [error]="true" [errorMessage]="'Please Select Valid Form'"></commudle-alert>
          </span>
        </div>
        <div class="save-button-bottom">
          <button
            [disabled]="!createSurveyForm.valid"
            fullWidth
            nbButton
            outline
            size="medium"
            status="primary"
            type="submit"
          >
            Create Survey
          </button>
        </div>
      </div>
      <span
        *ngIf="
          createSurveyForm.controls.survey.get('name').touched &&
          createSurveyForm.controls.survey.get('name').invalid &&
          createSurveyForm.controls.survey.get('name').errors.required
        "
      >
        <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
      </span>
    </form>
  </commudle-bottom-sheet>
</div>

<div *appBreakpoints="'>lg'" class="survey-header">
  <form (ngSubmit)="createNewSurvey()" [formGroup]="createSurveyForm" class="dfeg-create-form">
    <div formGroupName="survey" class="form-container">
      <div class="name">
        <label fullWidth>Name*</label>
        <input
          fieldSize="small"
          formControlName="name"
          placeholder="Survey Name"
          size="large"
          shape="semi-round"
          fullWidth
          nbInput
          type="text"
        />
      </div>

      <div class="data-form-type-select">
        <label fullWidth> Select Form*</label>
        <div class="dropdown">
          <select
            formControlName="data_form_id"
            class="com-border-0"
            [ngClass]="{
              'com-text-[#8E9BB3]': createSurveyForm.controls.survey.get('data_form_id').value === ''
            }"
            (change)="optionChanged($event)"
          >
            <option value="" selected disabled>Select Form</option>
            <option value="createNewForm">+ Create New Form</option>
            <option *ngFor="let qt of dataForms" [value]="qt.id">
              {{ qt.name | titlecase }}
            </option>
          </select>
        </div>

        <span *ngIf="createSurveyForm.controls.survey.get('data_form_id').value === 'createNewForm'">
          <commudle-alert [error]="true" [errorMessage]="'Please Select Valid Form'"></commudle-alert>
        </span>
      </div>
      <div class="save-button-bottom">
        <button
          [disabled]="!createSurveyForm.valid"
          fullWidth
          nbButton
          outline
          shape="semi-round"
          size="medium"
          status="primary"
          type="submit"
        >
          Create Survey
        </button>
      </div>
    </div>
    <span
      *ngIf="
        createSurveyForm.controls.survey.get('name').touched &&
        createSurveyForm.controls.survey.get('name').invalid &&
        createSurveyForm.controls.survey.get('name').errors.required
      "
    >
      <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
    </span>
  </form>
</div>

<!-- Surveys Table Section -->
<section class="surveys-list-container">
  <div class="table-wrapper">
    <table *ngIf="surveys && surveys.length > 0" class="surveys-table">
      <thead>
        <tr class="table-header">
          <th colspan="2">NAME</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isLoading" class="loading-row">
          <td class="loading-cell">
            <app-loading-spinner></app-loading-spinner>
          </td>
        </tr>
        <ng-container *ngIf="!isLoading">
          <tr *ngFor="let survey of surveys; let i = index" class="survey-row">
            <td colspan="2">
              <div class="survey-name">
                {{ survey.name | titlecase }}
              </div>
            </td>
            <td>
              <div class="survey-actions">
                <div class="show-responses-button-container">
                  <button
                    (click)="openResponses(survey)"
                    nbButton
                    status="basic"
                    shape="semi-round"
                    size="small"
                    class="show-responses-button"
                  >
                    Show Responses ({{ survey.total_responses }})
                  </button>
                  <a [routerLink]="['/fill-form', survey.data_form_entity.id]" target="_blank" class="survey-link">
                    <span>Link to fill</span>
                    <nb-icon icon="external-link"></nb-icon>
                  </a>
                </div>
                <div class="toggle-controls">
                  <div class="toggle-item">
                    <nb-toggle
                      (checkedChange)="updateStatus($event, i)"
                      [checked]="survey.status === ESurveyStatus.open"
                      labelPosition="end"
                      status="success"
                      size="tiny"
                    >
                      Open
                    </nb-toggle>
                  </div>
                  <div class="toggle-item">
                    <nb-toggle
                      (checkedChange)="toggleMultiResponse(i)"
                      [checked]="survey.multi_response"
                      labelPosition="end"
                      size="tiny"
                      class="com-pl-4"
                    >
                      Multiple Responses
                    </nb-toggle>
                  </div>
                  <a [routerLink]="['/forms', survey.data_form_entity.data_form_id, 'edit']" class="edit-btn">
                    <fa-icon [icon]="faEdit"></fa-icon>&nbsp; Edit
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</section>

<ng-template #newCommunitySurveyForm let-data let-ref="dialogRef">
  <nb-card class="com-h-[90dvh] md:com-w-[50dvw]">
    <nb-card-header class="com-flex com-items-center com-justify-between">
      <div>Create New Survey Form</div>
      <button
        (click)="ref.close(); createSurveyForm.controls.survey.get('data_form_id').setValue('')"
        ghost
        nbButton
        size="small"
      >
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body class="com-p-0 com-bg-zinc-100">
      <div class="new-data-form-template">
        <app-new-data-form
          (newDataForm)="createAndSelectForm($event)"
          [minQuestionCount]="1"
          [stickSubmitButtonBottom]="true"
        ></app-new-data-form>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
