.blog-container {
  @apply com-bg-white com-border com-border-b com-border-solid com-border-Yankees-Blue com-pb-10;

  .content {
    ::ng-deep {
      p {
        font-size: initial;
        color: initial;
      }
      a {
        color: blue !important;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: unset !important;
      }
      img {
        @apply com-max-w-full com-rounded-2xl com-my-3;
      }
    }
  }

  .two-column-layout {
    @apply com-pt-10;
  }

  .main-column {
    .blog {
      @apply com-pb-8 com-pr-[30px] com-border-0 com-border-b com-border-solid com-border-Bright-Gray;

      .header {
        @apply com-flex com-flex-col;

        .date {
          @apply com-border-0 com-border-r com-border-solid com-border-Bright-Gray com-flex com-flex-row com-items-center com-text-xs com-font-semibold com-text-gray-500 com-m-0 com-mb-3;

          fa-icon {
            @apply com-mr-2 com-text-lg;
          }
        }

        .blog-title {
          @apply com-text-[28px] com-font-bold com-text-Yankees-Blue com-m-0 com-mb-3;
        }
      }

      .image-content {
        @apply com-flex com-flex-col;

        .image {
          @apply com-aspect-[3/2] com-mb-3;

          img {
            @apply com-w-full com-object-cover com-object-center com-rounded-3xl;
          }
        }

        article {
          div {
            ::ng-deep {
              p {
                @apply com-text-black #{!important};
                strong {
                  @apply com-text-black #{!important};
                }
              }

              h1,
              h2,
              h3,
              h4,
              h5,
              h6,
              span {
                @apply com-text-gray-700 #{!important};
                strong {
                  @apply com-text-gray-700 #{!important};
                }
              }
              ol {
                li {
                  strong {
                    @apply com-text-gray-700 #{!important};
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .similar-blogs {
    @apply com-flex com-flex-col com-pb-8;
    .similar-blogs-heading {
      @apply com-text-[32px] com-font-semibold com-text-Yankees-Blue com-my-8;
    }
    .similar-blogs-list {
      @apply com-grid com-grid-cols-3 com-gap-5;
    }
  }

  app-loading-spinner {
    @apply com-flex com-justify-center com-mt-28;
  }

  .user-profile-large {
    @apply com-flex com-flex-row com-justify-between com-items-center com-mb-5;

    .action-buttons {
      @apply com-flex com-flex-row com-mt-0 com-gap-4;
      .rss-button {
        fa-icon {
          @apply com-text-[32px] com-text-Azure com-rounded-lg;
        }
      }
    }
  }

  // app-share-button {
  //   ::ng-deep {
  //     button {
  //       @apply com-rounded-lg com-text-base #{!important};
  //     }
  //   }
  // }

  .back-btn {
    @apply com-w-max com-p-0;
  }

  .right-column {
    .latest-blog {
      @apply com-bg-gray-50 com-p-3 com-m-0 com-border-0;
      .heading {
        @apply com-text-base com-font-semibold com-text-Yankees-Blue com-m-0 com-pb-4;
      }

      .latest-blog-cards {
        @apply com-flex com-flex-col com-gap-3;
        .latest-blog-card {
          @apply com-p-4 com-m-0 com-border-0;
          .blog-card {
            @apply com-bg-white com-p-0;

            .latest-blog-title {
              @apply com-flex com-text-sm com-font-semibold com-text-Yankees-Blue com-m-0 com-pb-3 com-line-clamp-2;
            }
            .published-on {
              @apply com-text-xs com-font-medium com-text-gray-500 com-m-0;
            }
          }
        }
      }
    }
  }
}
