<div class="blog-container">
  <div class="base-layout">
    <div class="container">
      <div class="two-column-layout medium">
        <div class="main-column">
          <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
          <div *ngIf="blog && !isLoading" class="blog">
            <div class="header">
              <p class="date">
                <fa-icon [icon]="faCalendar"></fa-icon><span>{{ blog.publishedAt | date }}</span>
              </p>
              <h1 class="blog-title">{{ blog.title }}</h1>
            </div>
            <div>
              <div class="user-profile-large">
                <app-user-profile-card-large *ngIf="user" [user]="user"></app-user-profile-card-large>
                <div class="action-buttons">
                  <app-share-button
                    [content]="environment.app_url + '/blogs/' + blog.slug.current"
                    [title]="blog.title"
                    [text]="blog.title"
                    [url]="environment.app_url + '/blogs/' + blog.slug.current"
                    [showText]="true"
                    [round]="false"
                    [status]="'primary'"
                  ></app-share-button>
                  <a
                    [href]="
                      'https://json.commudle.com/api/v2/sanity/blogs/rss/blog_feed.rss?blog_slug=' + blog.slug.current
                    "
                    target="_blank"
                    class="rss-button"
                    ><fa-icon [icon]="faRssSquare"></fa-icon
                  ></a>
                </div>
              </div>
              <div class="image-content">
                <div class="image">
                  <app-loading-spinner *ngIf="imageLoading"></app-loading-spinner>
                  <img [src]="imageUrl(blog?.headerImage).url()" [alt]="blog?.title" />
                </div>

                <article>
                  <div [innerHTML]="richText" class="!com-max-w-full content"></div>
                </article>
              </div>
            </div>
          </div>
        </div>

        <div class="right-column" *appBreakpoints="'>lg'">
          <nb-card class="latest-blog">
            <h1 class="heading">Latest Blogs</h1>
            <div class="latest-blog-cards">
              <nb-card *ngFor="let latestBlog of latestBlogs" class="latest-blog-card">
                <a [routerLink]="['/blogs', latestBlog?.slug.current]">
                  <nb-card-body class="blog-card">
                    <h2 class="latest-blog-title">{{ latestBlog.title }}</h2>
                    <p class="published-on">
                      Published on <span>{{ latestBlog.publishedAt | date }}</span>
                    </p>
                  </nb-card-body>
                </a>
              </nb-card>
            </div>
          </nb-card>
        </div>
      </div>

      <!-- blogFAQ's section -->
      <nb-card *ngIf="blog?.faq" class="blog-faq">
        <nb-card-body>
          <h2>FAQ's</h2>
          <div>
            <ul *ngFor="let item of blog?.faq">
              <li>
                <div class="question">{{ item?.question }}</div>
                <div>{{ item?.answer }}</div>
              </li>
            </ul>
          </div>
        </nb-card-body>
      </nb-card>

      <!-- similarBlogs Section -->
      <div *ngIf="blog?.similarBlogs" class="similar-blogs">
        <h2 class="similar-blogs-heading">Recommended from Commudle</h2>
        <div class="similar-blogs-list">
          <div *ngFor="let blog of similarBlogs">
            <commudle-blog-card [blog]="blog" [shareButton]="false"></commudle-blog-card>
          </div>
        </div>
      </div>

      <a [routerLink]="['/blogs']" ghost status="primary" nbButton size="small" class="back-btn">
        <nb-icon icon="arrow-ios-back"></nb-icon>
        Back to list of blogs
      </a>
    </div>
  </div>
</div>
