<div class="certificate-recipients-table">
  <div class="table-header">
    <button comButton status="basic" size="small" (click)="openCsvUploadDialog()">
      <fa-icon [icon]="icons.faUpload"></fa-icon> &nbsp; Upload CSV
    </button>
    <button comButton status="primary" size="small" (click)="openAddDialog()">
      <fa-icon [icon]="icons.faPlus"></fa-icon> &nbsp; Add Recipient
    </button>
  </div>

  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <ng-container *ngIf="!isLoading">
    <div *ngIf="recipients.length === 0" class="empty-state">No recipients yet. Add one manually, or upload a CSV.</div>

    <div class="recipients-table" *ngIf="recipients.length > 0">
      <commudle-data-table [columns]="tableColumns" [rows]="tableRows" [config]="tableConfig"> </commudle-data-table>
    </div>

    <app-pagination
      *ngIf="total > count"
      [current]="page"
      [count]="count"
      [total]="total"
      (goTo)="onPageChange($event)"
      (next)="onPageChange($event)"
      (previous)="onPageChange($event)"
    ></app-pagination>
  </ng-container>
</div>

<ng-template #statusCell let-row="row">
  <nb-badge
    [text]="statusLabel(row.status)"
    [status]="row.status === ECertificateRecipientStatus.BLOCKED ? 'danger' : 'info'"
    position="static"
  ></nb-badge>
  <div class="skip-reason" *ngIf="row.skip_reason">{{ row.skip_reason }}</div>
</ng-template>

<ng-template #actionsCell let-row="row">
  <div class="actions">
    <button
      *ngIf="canSendIndividually && row.recipient.sendable"
      ghost
      comButton
      size="tiny"
      status="success"
      (click)="sendOne(row.recipient)"
    >
      <fa-icon [icon]="icons.faPaperPlane"></fa-icon>
    </button>
    <button ghost comButton size="tiny" (click)="openPreviewDialog(row.recipient)">
      <fa-icon [icon]="icons.faEye"></fa-icon>
    </button>
    <button ghost comButton size="tiny" (click)="openEditDialog(row.recipient)">
      <fa-icon [icon]="icons.faPen"></fa-icon>
    </button>
    <button ghost comButton size="tiny" status="danger" (click)="deleteRecipient(row.recipient)">
      <fa-icon [icon]="icons.faTrash"></fa-icon>
    </button>
  </div>
</ng-template>
