@import './apps/commudle-admin/src/assets/styles/variables';

.profile-dialog {
  @apply com-flex com-flex-col com-overscroll-contain com-h-[95vh] com-max-h-[95vh];

  com-card-header {
    @apply com-flex com-pb-0 com-border-0 com-w-[98vw] md:com-w-[700px];

    .navigation-buttons {
      @apply com-relative com-top-0 com-flex com-items-center com-gap-3 com-flex-1 com-min-w-0 com-overflow-x-auto com-scrollbar-hide;

      a {
        @apply com-text-gunmetal com-p-0 com-shrink-0;
        text-align: center;
        border: none;
        text-decoration: none;
      }

      .profile-navbar-menu-option {
        @apply com-flex com-items-center com-gap-2 com-text-xs com-font-medium com-h-fit com-m-0 com-px-2 com-py-2 com-cursor-pointer com-no-underline com-whitespace-nowrap md:com-text-sm md:com-py-0;
        cursor: pointer;
      }

      .active {
        @apply com-border-0 com-border-b-[4px] com-border-Azure com-border-solid;
      }
    }
    button {
      @apply com-shrink-0;
    }
  }

  com-card-body {
    @apply com-flex-1 com-overflow-auto com-w-[95vw] md:com-w-[700px] com-flex com-flex-col;
    padding: 0;
  }
}
