@import './apps/commudle-admin/src/assets/styles/variables';

.profile-dialog {
  @apply com-flex com-flex-col com-h-[95vh] com-max-h-[95vh];

  com-card-header {
    @apply com-flex com-pb-0 com-border-0 com-w-[98vw] md:com-w-[700px];
    .navigation-buttons {
      position: relative;
      top: 0px;
      @apply com-flex com-items-center com-gap-3;

      a {
        @apply com-text-gunmetal com-p-0;
        text-align: center;
        border: none;
        text-decoration: none;

        @media screen and (max-width: 768px) {
          @apply com-shrink-0;
        }
      }

      .profile-navbar-menu-option {
        @apply com-flex com-items-center com-gap-2 com-text-sm com-font-medium com-leading-4 com-h-fit com-m-0 com-px-2 com-cursor-pointer com-no-underline;

        @media screen and (max-width: 768px) {
          @apply com-text-xs com-px-2 com-py-2 com-whitespace-nowrap;
        }
        cursor: pointer;
      }

      @media screen and (max-width: 768px) {
        @apply com-overflow-x-auto com-whitespace-nowrap;
      }

      .active {
        @apply com-bg-gray-50;
        border-bottom: 4px solid rgba($azure, 0.9);
      }
    }
  }

  com-card-body {
    @apply com-flex-1 com-overflow-auto;
    padding: 0;
    width: 700px;

    @media screen and (max-width: 768px) {
      width: 95vw;
    }
  }
}
