<form [formGroup]="socialLinksForm">
  <div class="row">
    <div>
      <label>
        <nb-icon icon="info"></nb-icon>
        Personal Website
        <input formControlName="personal_website" fullWidth nbInput placeholder="Enter complete url" type="url" />
      </label>
      <commudle-alert
        [error]="socialLinksForm.get('personal_website').invalid && socialLinksForm.get('personal_website').touched"
        errorMessage="Enter complete url (https://....)"
      ></commudle-alert>
    </div>
    <div>
      <label>
        <nb-icon icon="github"></nb-icon>
        Github
        <input formControlName="github" fullWidth nbInput placeholder="Link to your profile" type="url" />
      </label>
      <commudle-alert
        [error]="socialLinksForm.get('github').invalid && socialLinksForm.get('github').touched"
        errorMessage="Enter complete url (https://....)"
      ></commudle-alert>
    </div>
  </div>

  <div class="row">
    <div>
      <label>
        <nb-icon icon="linkedin"></nb-icon>
        Linkedin
        <input formControlName="linkedin" fullWidth nbInput placeholder="Link to your profile" type="url" />
      </label>
      <commudle-alert
        [error]="socialLinksForm.get('linkedin').invalid && socialLinksForm.get('linkedin').touched"
        errorMessage="Enter complete url (https://....)"
      ></commudle-alert>
    </div>
    <div>
      <label>
        <nb-icon icon="twitter"></nb-icon>
        Twitter
        <input formControlName="twitter" fullWidth nbInput placeholder="Link to your profile" type="url" />
      </label>
      <commudle-alert
        [error]="socialLinksForm.get('twitter').invalid && socialLinksForm.get('twitter').touched"
        errorMessage="Enter complete url (https://....)"
      ></commudle-alert>
    </div>
  </div>

  <div class="row">
    <div>
      <label>
        <fa-icon [icon]="faYoutube"></fa-icon>
        Youtube
        <input formControlName="youtube" fullWidth nbInput placeholder="Link to your channel" type="url" />
      </label>
      <commudle-alert
        [error]="socialLinksForm.get('youtube').invalid && socialLinksForm.get('youtube').touched"
        errorMessage="Enter complete url (https://....)"
      ></commudle-alert>
    </div>
    <div>
      <label>
        <fa-icon [icon]="faMediumM"></fa-icon>
        Medium
        <input formControlName="medium" fullWidth nbInput placeholder="Link to your profile / publication" type="url" />
      </label>
      <commudle-alert
        [error]="socialLinksForm.get('medium').invalid && socialLinksForm.get('medium').touched"
        errorMessage="Enter complete url (https://....)"
      ></commudle-alert>
    </div>
  </div>

  <div class="row">
    <div>
      <label>
        <fa-icon [icon]="faDribbble"></fa-icon>
        Dribbble
        <input formControlName="dribbble" fullWidth nbInput placeholder="Link to your work" type="url" />
      </label>
      <commudle-alert
        [error]="socialLinksForm.get('dribbble').invalid && socialLinksForm.get('dribbble').touched"
        errorMessage="Enter complete url (https://....)"
      ></commudle-alert>
    </div>
    <div>
      <label>
        <fa-icon [icon]="faBehance"></fa-icon>
        Behance
        <input formControlName="behance" fullWidth nbInput placeholder="Link to your work" type="url" />
      </label>
      <commudle-alert
        [error]="socialLinksForm.get('behance').invalid && socialLinksForm.get('behance').touched"
        errorMessage="Enter complete url (https://....)"
      ></commudle-alert>
    </div>
  </div>

  <div class="row">
    <div>
      <label>
        <fa-icon [icon]="faGitlab"></fa-icon>
        Gitlab
        <input formControlName="gitlab" fullWidth nbInput placeholder="Link to your work" type="url" />
      </label>
      <commudle-alert
        [error]="socialLinksForm.get('gitlab').invalid && socialLinksForm.get('gitlab').touched"
        errorMessage="Enter complete url (https://....)"
      ></commudle-alert>
    </div>
    <div>
      <label>
        <fa-icon [icon]="faFacebook"></fa-icon>
        Facebook
        <input formControlName="facebook" fullWidth nbInput placeholder="Link to your profile / page" type="url" />
      </label>
      <commudle-alert
        [error]="socialLinksForm.get('facebook').invalid && socialLinksForm.get('facebook').touched"
        errorMessage="Enter complete url (https://....)"
      ></commudle-alert>
    </div>
  </div>
  <div class="row">
    <div>
      <label>
        <fa-icon [icon]="faInstagram"></fa-icon>
        Instagram
        <input formControlName="instagram" fullWidth nbInput placeholder="Link to your profile" type="url" />
      </label>
      <commudle-alert
        [error]="socialLinksForm.get('instagram').invalid && socialLinksForm.get('instagram').touched"
        errorMessage="Enter complete url (https://....)"
      ></commudle-alert>
    </div>
  </div>
</form>
