<div class="experts-page">
  <commudle-listing-pages-layout>
    <div header>
      <commudle-listing-page-header
        (seoPreviewImageRetrieved)="onSeoPreviewImageRetrieved($event)"
        [parentType]="'experts'"
      ></commudle-listing-page-header>
    </div>
    <div one-column *ngIf="isMobileView">
      <div class="apply-expert">
        <a routerLink="/fill-form/1093" nbButton status="info" size="giant" class="button" outline>
          <nb-icon icon="plus"></nb-icon>
          Apply to be an Expert
        </a>
      </div>
      <commudle-experts-featured></commudle-experts-featured>

      <commudle-experts
        *ngIf="expertBadges"
        [expertBadges]="expertBadges"
        [startSlice]="0"
        [endSlice]="1"
      ></commudle-experts>
      <div class="speakers">
        <commudle-public-home-list-events-speakers
          [parentType]="'communities'"
        ></commudle-public-home-list-events-speakers>
      </div>
      <div class="speakers-content">
        <commudle-public-home-list-speakers-content
          [parentType]="'communities'"
        ></commudle-public-home-list-speakers-content>
      </div>
      <div class="tech-sessions">
        <commudle-public-home-list-events-tech-sessions></commudle-public-home-list-events-tech-sessions>
      </div>
      <commudle-experts
        *ngIf="expertBadges"
        [expertBadges]="expertBadges"
        [startSlice]="1"
        [endSlice]="expertBadgesLength"
      ></commudle-experts>
    </div>
    <div main-column class="main-column" *ngIf="!isMobileView">
      <commudle-experts-featured></commudle-experts-featured>
      <commudle-experts
        *ngIf="expertBadges"
        [expertBadges]="expertBadges"
        [endSlice]="expertBadgesLength"
      ></commudle-experts>
    </div>
    <div right-column class="right-column">
      <div class="apply-expert">
        <a routerLink="/fill-form/1093" nbButton status="info" size="giant" class="button" outline>
          <nb-icon icon="plus"></nb-icon>
          Apply to be an Expert
        </a>
      </div>
      <div class="speakers">
        <commudle-public-home-list-events-speakers
          [parentType]="'communities'"
        ></commudle-public-home-list-events-speakers>
      </div>
      <div class="speakers-content">
        <commudle-public-home-list-speakers-content
          [parentType]="'communities'"
        ></commudle-public-home-list-speakers-content>
      </div>
      <div class="tech-sessions">
        <commudle-public-home-list-events-tech-sessions></commudle-public-home-list-events-tech-sessions>
      </div>
    </div>
  </commudle-listing-pages-layout>
</div>
