<div *ngIf="currentUser?.id !== userId" class="user-follow">
  <button
    (click)="isFollowing ? toggleFollow() : onFollowClick($event)"
    (mouseenter)="onFollowingHover(true)"
    (mouseleave)="onFollowingHover(false)"
    [appearance]="isFollowing || appearance === 'outline' ? 'outline' : 'filled'"
    [ngClass]="{ 'fixed-width': !showIcon, 'width-full': isMobileWidthFull, 'is-following': isFollowing }"
    [status]="status || 'info'"
    class="follow-btn"
    nbButton
    [shape]="round ? 'round' : 'semi-round'"
    size="small"
    [disabled]="disabled"
  >
    <nb-icon
      *ngIf="showIcon"
      [icon]="isFollowing ? (isFollowingHovered ? 'close-outline' : 'checkmark') : 'plus'"
    ></nb-icon>
    <span *ngIf="!iconOnly">{{ isFollowing ? (isFollowingHovered ? 'Unfollow' : 'Following') : 'Follow' }}</span>
  </button>
</div>
