<div class="slots-grid">
  @if(round.round_mentor_slot_rule?.slot_times) {
  <div *ngFor="let slotTime of round.round_mentor_slot_rule.slot_times; let i = index" class="slot-item">
    @if (roundMentorSlots) {
    <commudle-mentor-slot-team-assignment
      [round]="round"
      [mentor]="mentor"
      [slotTime]="slotTime"
      [roundMentorSlots]="roundMentorSlots"
      (slotClick)="onSlotClick($event, i)"
    ></commudle-mentor-slot-team-assignment>
    }
  </div>
  } @else {
  <div class="no-slot-message">NO SLOT</div>
  }
</div>
