<div class="username">
  <form (ngSubmit)="confirmSubmissionDialogueOpen()" [formGroup]="usernameForm">
    <div>
      <label>
        <p class="title">Choose a username<span class="mandatory-field">*</span></p>
        <nb-form-field>
          <nb-icon icon="at-outline" nbPrefix></nb-icon>
          <input
            fieldSize="medium"
            formControlName="username"
            nbInput
            fullWidth
            [status]="getInputStatus()"
            type="text"
            class="username-input"
          />
          <nb-icon
            [icon]="validUsername || currentUser?.username === currentUsername ? 'checkmark-outline' : 'close-outline'"
            [status]="validUsername || currentUser?.username === currentUsername ? 'success' : 'danger'"
            nbSuffix
          ></nb-icon>
        </nb-form-field>
      </label>
      <commudle-alert [error]="!validUsername" [errorMessage]="validationError"></commudle-alert>
      <span
        *ngIf="
          usernameForm['controls'].username.touched &&
          usernameForm['controls'].username.invalid &&
          usernameForm['controls'].username.errors.maxlength
        "
      >
        <commudle-alert [error]="true" [errorMessage]="'Maximum 25 characters allowed'"></commudle-alert>
      </span>
    </div>
    <div *ngIf="showSaveButton">
      <button
        [disabled]="!validUsername || currentUsername === lastUsername || checkingUsername"
        [nbSpinner]="checkingUsername"
        nbButton
        size="small"
        status="success"
        type="submit"
      >
        Save
      </button>
    </div>
  </form>
</div>

<ng-template #confirmChangeUsername let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="text-center"> Confirmation</nb-card-header>
    <nb-card-body>
      <p>
        <nb-icon icon="info"></nb-icon>
        Are you sure you want to change your username?
      </p>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-start">
      <button (click)="ref.close()" ghost nbButton status="danger">No</button>
      <button (click)="setUsername()" nbButton status="success">Yes</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
