<com-card *ngIf="!isLoading && hackathons.length > 0" id="hackathons">
  <com-card-header>
    <div class="section-heading-anchor heading">
      <fa-icon [icon]="icons.faTrophy" class="com-text-primary-500 icon"></fa-icon>
      Hackathons
      <a [routerLink]="'.'" fragment="hackathons" class="anchor-link" aria-label="Link to Hackathons section">
        <fa-icon [icon]="faHashtag" class="anchor-icon-small"></fa-icon>
      </a>
    </div>
  </com-card-header>
  <com-card-body>
    <div class="grid">
      <commudle-user-hackathon-role-card
        *ngFor="let entry of hackathons"
        [hackathon]="entry.hackathon"
        [roleLabel]="entry.roles.includes('winner') ? 'Winner' : 'Participant'"
        [roleIcon]="entry.roles.includes('winner') ? icons.faTrophy : null"
        [roleKey]="entry.roles.includes('winner') ? 'winner' : 'participant'"
        [prizes]="entry.prizes"
      ></commudle-user-hackathon-role-card>
    </div>
  </com-card-body>
</com-card>
