ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

footer {
  .large-footer {
    @apply com-bg-white;
  }

  .large-footer-container {
    @apply com-max-w-[1280px] com-mx-auto lg:com-px-0 com-px-4 com-pt-10;
  }

  .large-footer-grid {
    @apply com-flex com-flex-col com-gap-8 lg:com-flex-row lg:com-gap-12;
  }

  .large-footer-brand {
    @apply com-flex com-flex-col lg:com-gap-6 com-gap-4 com-shrink-0;

    .brand-logo-link {
      @apply com-flex com-h-12 com-w-12;
    }

    .brand-logo {
      @apply com-h-full com-w-full;
    }

    .brand-badges {
      @apply com-flex com-flex-wrap com-items-center com-gap-3 com-mt-2;

      .badge-img {
        @apply com-h-10 com-w-auto;
      }
    }
  }

  .footer-social-links {
    @apply com-flex com-items-center com-gap-4;

    a {
      @apply com-text-gray-400 hover:com-text-gray-600;
    }

    fa-icon {
      @apply com-text-lg;
    }
  }

  .footer-links {
    @apply com-flex-1;

    .footer-links-grid {
      @apply com-grid com-gap-8 com-grid-cols-2 lg:com-grid-cols-4;
    }

    .footer-links-grid-bottom {
      @apply com-grid com-grid-cols-2 com-gap-8 com-mt-8 lg:com-grid-cols-4;
    }

    .footer-links-heading {
      @apply com-m-0 com-mb-3 com-text-sm com-font-medium com-text-gray-600;
    }

    ul {
      li {
        @apply com-mb-2;

        a {
          @apply com-text-sm com-text-gray-500 hover:com-text-primary-500;
        }

        .nested-list {
          @apply com-mt-2;
        }
      }
    }
  }

  .footer-badges {
    @apply com-flex com-flex-wrap com-items-center com-gap-4 com-mt-8;

    a {
      @apply com-flex;
    }

    img,
    .tiny-startup {
      @apply com-h-[52px];
    }
  }

  .footer-copyright {
    @apply com-mt-8 com-border-0 com-border-t com-border-solid com-border-gray-200 com-pt-8 lg:com-pb-10 com-pb-6;

    .footer-text {
      @apply com-m-0 com-text-sm com-font-normal com-text-gray-400 lg:com-text-center;
    }
  }

  .mini-footer {
    @apply com-bg-Anti-Flash;
  }

  .mini-footer-container {
    @apply com-max-w-[1280px] com-mx-auto com-px-4;
  }

  .mini-footer-divider {
    @apply com-border-0 com-border-t com-border-solid com-border-gray-200;
  }

  .mini-footer-content {
    @apply com-flex com-justify-center lg:com-items-center lg:com-gap-10 com-gap-6 lg:com-py-4 com-pt-3 com-pb-6 com-flex-row;
  }

  .mini-footer-logo {
    @apply com-shrink-0;

    img {
      @apply com-h-8 com-w-auto;
    }
  }

  .mini-footer-links {
    @apply com-flex com-flex-wrap com-items-center com-justify-center lg:com-gap-6 com-gap-4;

    @apply sm:com-justify-start;

    li {
      a {
        @apply com-text-sm com-text-gray-500 hover:com-text-gray-900;
      }
    }
  }
}

.nested-list {
  @apply com-pl-6 com-list-disc;

  li::marker {
    @apply com-text-xs;
  }

  a {
    @apply com-relative;

    app-badge {
      @apply com-right-[-52px];
    }
  }
}

.hackathons {
  @apply com-flex com-gap-2;
}
