<div class="forums-by-category">
  <div class="back-new-topic">
    <div class="back-button" (click)="backButton()"><fa-icon [icon]="icons.faArrowLeft"></fa-icon> &nbsp;Go Back</div>
    <button nbButton status="primary" (click)="openDialogBox()" shape="semi-round">
      <fa-icon [icon]="icons.faPlus"></fa-icon> &nbsp; New Topic
    </button>
  </div>

  <div class="forums-by-category-header">
    <span>{{ forumCategory.name | titlecase }}</span>
  </div>

  <div class="forums-by-category-list">
    <div *ngIf="forums.length === 0" class="no-forums">
      <p>No forums found in this category.</p>
    </div>

    <ul>
      <li *ngFor="let forum of forums" class="forum">
        <a [routerLink]="[forum.discussion_id]">
          <div class="topic-name">
            <span>{{ forum.name }}</span>
          </div>
          <div class="description-last-message">
            <span class="description" *ngIf="forum.description">{{ forum.description }}</span>
            <span class="last-message" *ngIf="forum.last_message">
              {{ forum.last_message }}
            </span>
          </div>
          <div class="stats">
            @if (forum.discussions_count ) {
            <span class="discussions">
              {{ forum.discussions_count }} {{ forum.discussions_count === 1 ? 'Discussion' : 'Discussions' }}
            </span>
            } @if (forum.replies_count) {
            <span class="reply"> {{ forum.replies_count }} {{ forum.replies_count === 1 ? 'Reply' : 'Replies' }} </span>
            }
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
