<div class="team">
  <com-card class="team-card">
    <com-card-header>
      <h6 class="section-title">Team</h6>
    </com-card-header>
    <com-card-body>
      <div class="members" (scrolled)="getTeam()" [infiniteScrollDisabled]="team.length >= total" appInfiniteScroll>
        <div class="member" *ngFor="let member of team">
          <app-speaker-card [speaker]="member"></app-speaker-card>
        </div>
      </div>
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    </com-card-body>
  </com-card>
</div>
