<nb-card>
  <nb-card-body>
    <div class="upcoming-card">
      <a [routerLink]="['/communities', event.kommunity_slug, 'events', event.slug]" class="upcoming-card-link">
        <div *ngIf="event.header_image">
          <div *appBreakpoints="'>md'" class="upcoming-card-image" [ngStyle]="{ width: headerImageWidth }">
            <commudle-banner-image
              [headerImagePath]="event.header_image.i350"
              [name]="event.name"
              [topRightCurve]="false"
              [bottomRightCurve]="false"
            ></commudle-banner-image>
          </div>
          <div *appBreakpoints="'<=md'" class="upcoming-card-image com-w-full">
            <commudle-banner-image
              [headerImagePath]="event.header_image.i350"
              [name]="event.name"
              [bottomRightCurve]="false"
              [bottomLeftCurve]="false"
            ></commudle-banner-image>
          </div>
        </div>
        <div *ngIf="!event.header_image">
          <div *appBreakpoints="'>md'" class="no-image-header-desktop">
            <img
              alt="{{ event.name }}"
              src="{{ staticAssets.empty_state_desktop_upcoming_events }}"
              title="{{ event.name }}"
            />
          </div>
          <div *appBreakpoints="'<=md'" class="no-image-header-mobile">
            <img
              alt="{{ event.name }}"
              src="{{ staticAssets.empty_state_mobile_upcoming_events }}"
              title="{{ event.name }}"
            />
          </div>
        </div>
        <div *appBreakpoints="'>lg'" class="upcoming-card-details-desktop">
          <div class="time-badge">
            <p class="event-title">{{ event.name }}</p>
            <div class="interested-members" *ngIf="event.interested_members_count > 0">
              <app-badge
                [text]="event.interested_members_count"
                [fontColor]="'com-text-tAuro-Metal-Saurus'"
                [nbIcon]="'people-outline'"
                [fontSize]="'small'"
                [borderRadius]="'round'"
                [color]="'com-bg-Bright-Gray-Light'"
              ></app-badge>
            </div>
          </div>
          <p class="event-time">
            {{ momentTimezone.tz(moment.utc(event.start_time), event.timezone).format('dddd, MMM Do, YYYY') }}
            {{ momentTimezone.tz(event.timezone).format('z') }}
          </p>
          <div *ngIf="community" class="community-badge">
            <app-community-badge [community]="community" [size]="'small'"></app-community-badge>
          </div>
          <div *ngIf="event.tags" class="tags">
            <app-tag
              [tags]="getTagNames()"
              [backgroundColor]="'com-bg-Azure-opacity-10'"
              [size]="'tiny'"
              [fontColor]="'com-text-blue-500'"
              [maximumTag]="5"
            ></app-tag>
          </div>
        </div>
        <div *appBreakpoints="'<=lg'" class="upcoming-card-details-mobile">
          <div class="time">
            <p class="event-month">
              {{ momentTimezone.tz(moment.utc(event.start_time), event.timezone).format('MMM') }}
            </p>
            <p class="event-date">
              {{ momentTimezone.tz(moment.utc(event.start_time), event.timezone).format('D') }}
            </p>
            <p class="event-day">
              {{ momentTimezone.tz(moment.utc(event.start_time), event.timezone).format('ddd') }}
            </p>
          </div>
          <div class="details">
            <p class="event-title">{{ event.name }}</p>
            <div class="time-badge">
              <p class="event-time">
                {{ momentTimezone.tz(moment.utc(event.start_time), event.timezone).format('h:mm a') }}
                {{ momentTimezone.tz(event.timezone).format('z') }}
                onwards
              </p>
              <div *ngIf="community" class="community-badge">
                <app-community-badge [community]="community" [size]="'small'"></app-community-badge>
              </div>
            </div>
            <div class="interested-members" *ngIf="event.interested_members_count > 0">
              <app-badge
                [text]="event.interested_members_count"
                [fontColor]="'com-text-tAuro-Metal-Saurus'"
                [nbIcon]="'people-outline'"
                [fontSize]="'small'"
                [borderRadius]="'round'"
                [color]="'com-bg-Bright-Gray-Light'"
              ></app-badge>
            </div>
          </div>
        </div>
      </a>
    </div>
  </nb-card-body>
</nb-card>
