<nb-card>
  <nb-card-header>Hackathon Stats</nb-card-header>
  <nb-card-body>
    <div class="hackathon-stats-container" *ngIf="hackathonTeamStats">
      <!-- Registered -->
      <div class="hackathon-stats-item">
        <div class="hackathon-stats-item-label">Registered</div>
        <div class="hackathon-stats-item-value">
          {{ hackathonTeamStats.hackathon_team_statuses_count.registered_count }}
        </div>
      </div>
      <!-- Accepted -->
      <div class="hackathon-stats-item">
        <div class="hackathon-stats-item-label">Accepted</div>
        <div class="hackathon-stats-item-value">
          {{ hackathonTeamStats.hackathon_team_statuses_count.accepted_count }}
        </div>
      </div>
      <!-- Waitlisted -->
      <div class="hackathon-stats-item">
        <div class="hackathon-stats-item-label">Waitlisted Count</div>
        <div class="hackathon-stats-item-value">
          {{ hackathonTeamStats.hackathon_team_statuses_count.waitlisted_count }}
        </div>
      </div>
      <!-- Rejected -->
      <div class="hackathon-stats-item">
        <div class="hackathon-stats-item-label">Rejected Count</div>
        <div class="hackathon-stats-item-value">
          {{ hackathonTeamStats.hackathon_team_statuses_count.rejected_count }}
        </div>
      </div>
      <!-- Teams Count -->
      <div class="hackathon-stats-item">
        <div class="hackathon-stats-item-label">Teams Count</div>
        <div class="hackathon-stats-item-value">{{ hackathonTeamStats.hackathon_teams_count }}</div>
      </div>
      <!-- User Responses -->
      <div class="hackathon-stats-item">
        <div class="hackathon-stats-item-label">User Responses</div>
        <div class="hackathon-stats-item-value">{{ hackathonTeamStats.hackathon_user_responses_count }}</div>
      </div>
      <!-- Total -->
      <div class="hackathon-stats-item">
        <div class="hackathon-stats-item-label">Total</div>
        <div class="hackathon-stats-item-value">{{ hackathonTeamStats.hackathon_team_statuses_count.total }}</div>
      </div>
    </div>

    <div class="graph-container">
      <span class="title">Team Registrations Over Time</span>
      <div class="chart-time-container">
        <canvas #hackathonTeamOverTime></canvas>
      </div>
    </div>

    <div class="graph-container-wrapper">
      <div class="graph-container">
        <span class="title">Gender Distribution</span>
        <div class="chart-container">
          <canvas #genderDistribution></canvas>
        </div>
      </div>

      <div class="graph-container">
        <span class="title">User Tags</span>
        <div class="chart-container">
          <nb-tag-list *ngIf="hackathonUserResponsesTags">
            <nb-tag
              status="info"
              appearance="outline"
              *ngFor="let tag of hackathonUserResponsesTags.users_tags.tags"
              text="{{ tag[0] }} ({{ tag[1] }})"
              [removable]="false"
            ></nb-tag>
          </nb-tag-list>
        </div>
      </div>
    </div>

    <div class="hackathon-stats-container" *ngIf="totalUserVisits">
      <div class="hackathon-stats-item">
        <div class="hackathon-stats-item-label">Total User Visits</div>
        <div class="hackathon-stats-item-value">{{ totalUserVisits }}</div>
      </div>
    </div>
    <div class="graph-container">
      <span class="title">Hackathon Views over days</span>
      <div class="chart-time-container">
        <canvas #hackathonUserVisitOverDays></canvas>
      </div>
    </div>

    <!-- <div class="graph-container">
      <span class="title">Map Wise Distribution</span>
      <div class="chart-container"> -->
    <!-- <canvas #hackathonTeamOverTime></canvas> -->
    <!-- </div>
    </div> -->
  </nb-card-body>
</nb-card>
