<com-card *ngIf="badges.length > 0" class="user-badges" id="badges">
  <com-card-header>
    <div class="section-heading-anchor heading">
      <fa-icon [icon]="faAward" class="com-text-Chrome-Yellow icon"></fa-icon>
      Badges
      <a [routerLink]="'.'" fragment="badges" class="anchor-link" aria-label="Link to user badges section">
        <fa-icon [icon]="faHashtag" class="anchor-icon-small"></fa-icon>
      </a>
    </div>
  </com-card-header>
  <com-card-body>
    <img
      *ngFor="let badge of badges"
      [alt]="badge.name"
      [nbTooltip]="badge.name"
      [src]="badge.image?.i160"
      [title]="badge.name"
    />
  </com-card-body>
</com-card>
