<div
  [ngClass]="{ 'com-dark nb-theme-dark dark': isDarkMode, 'com-light nb-theme-default': !isDarkMode }"
  [attr.data-theme]="isDarkMode ? 'dark' : 'light'"
>
  <nb-layout class="home-layout">
    <nb-layout-header fixed>
      <app-navbar></app-navbar>
    </nb-layout-header>

    <nb-layout-column>
      <div id="mini-user-profile-container"></div>
      <app-profile-status-bar *ngIf="currentUser && profileBarStatus"></app-profile-status-bar>
      <div class="router-outlet" [ngClass]="{ 'com-min-h-screen': isFullHeightContent }">
        <commudle-sidebar [eventName]="'helpSection'" [expandedWidth]="ESidebarWidth.XL" [showExpandedButton]="false"
          ><commudle-help-dictionary-iframe [eventName]="'helpSection'"></commudle-help-dictionary-iframe
        ></commudle-sidebar>
        <commudle-sidebar
          class="main-sidebar"
          [eventName]="sidebarEventName"
          [expandedWidth]="ESidebarWidth.XL"
          [showExpandedButton]="false"
          [showBorder]="true"
          ><app-sidebar-menu></app-sidebar-menu
        ></commudle-sidebar>
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </nb-layout-column>

    <nb-layout-footer *appBreakpoints="'<=md'" fixed>
      <app-navbar-menu></app-navbar-menu>
    </nb-layout-footer>
  </nb-layout>

  <app-chats-container *ngIf="currentUser && cookieAccepted"></app-chats-container>
  <app-cookie-consent *ngIf="!seoService.isBot"></app-cookie-consent>
  <app-user-visit-tracker></app-user-visit-tracker>
  <app-sw-update></app-sw-update>
  <commudle-whats-new></commudle-whats-new>
  <!-- <app-push-notification></app-push-notification> -->
</div>
