<div class="base-layout">
  <div class="container">
    <div class="two-column-layout medium">
      <div class="main-column">
        <nb-card *ngIf="campaign">
          <nb-card-body>
            <div>
              <commudle-campaign-details [campaignId]="purchaseOrder.orderable_id"></commudle-campaign-details>
            </div>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="right-column">
        <div class="payment-details-section" *ngIf="purchaseOrder">
          <nb-card>
            <nb-card-body>
              <div *ngIf="paymentPaid" class="paid-message-container">
                <fa-icon [icon]="icons.faCircleCheck"></fa-icon>
                <p class="message">Payment Successful!</p>
              </div>

              <!-- price -->
              <div class="order-summary-message">Order Summary</div>
              <div class="payment-details">
                <span class="heading">Price </span>
                <span class="value">
                  <span>
                    {{ purchaseOrder.currency_symbol }}
                    {{ purchaseOrder.amount_to_be_paid / 100 }}
                  </span>
                </span>
              </div>

              <!-- total -->
              <div class="payment-details">
                <span class="heading">Total</span>
                <span class="value">
                  {{ purchaseOrder.currency_symbol }}
                  {{ purchaseOrder.amount_to_be_paid / 100 }}
                </span>
              </div>

              <div class="recipient">
                <div class="heading">Recipients</div>
                <div class="recipient-details">
                  <div>{{ purchaseOrder.user.name | titlecase }}</div>
                  <div class="user-contact-details">
                    <span>{{ purchaseOrder.user.email }}</span>
                    <br />
                    <span>{{ purchaseOrder.user.phone }}</span>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>

          <div class="info-container">
            <commudle-alert
              [info]="true"
              message="For any technical support please reach out to payments_support@commudle.com"
            ></commudle-alert>
          </div>

          <div class="info-container">
            <commudle-alert
              [info]="true"
              message="  For any refund related queries please reach out to the event organizers, Commudle is not responsible for
                any refund or disputes between the ticket purchasing party and the ticket seller."
            >
            </commudle-alert>
          </div>
          <div class="com-px-2" *ngIf="!paymentPaid">
            <button nbButton status="primary" fullWidth (click)="Pay()" [disabled]="isLoadingPayment">Pay Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- paymentErrorDialog -->
<ng-template #paymentErrorDialog let-data let-ref="dialogRef">
  <nb-card class="payment-error-dialog">
    <nb-card-body>
      <div class="exclamation-container">
        <div>
          <fa-icon [icon]="icons.faTriangleExclamation"></fa-icon>
        </div>
      </div>
      <p class="primary-text">Seems like there is a problem with payment</p>
      <p (click)="reload(); ref.close()" class="reload-button">
        <fa-icon [icon]="icons.faRotateRight"></fa-icon>Refresh to retry payment
      </p>
      <p class="secondary-text">If money was deducted from your account, please reach out to our support</p>
    </nb-card-body>
  </nb-card>
</ng-template>

<!-- fullPageLoadingDialog -->
<ng-template #loadingDialog let-data let-ref="dialogRef">
  <app-loading-spinner></app-loading-spinner>
</ng-template>
