<div class="base-layout">
  <div class="container">
    <div class="two-column-layout medium">
      <!-- Left Column - Order Details -->
      <div class="main-column">
        <!-- Campaign Details -->
        <nb-card *ngIf="purchaseOrder?.orderable_type === EDbModels.CAMPAIGN">
          <nb-card-body>
            <commudle-campaign-details [campaignId]="purchaseOrder.orderable_id"></commudle-campaign-details>
          </nb-card-body>
        </nb-card>

        <!-- Product Price Details -->
        <nb-card *ngIf="purchaseOrder?.orderable_type === EDbModels.PRODUCT_PRICE">
          <nb-card-body>
            <commudle-product-price-details
              [productPriceId]="purchaseOrder.orderable_id"
              (productPriceLoaded)="onProductPriceLoaded($event)"
            ></commudle-product-price-details>
          </nb-card-body>
        </nb-card>
      </div>

      <!-- Right Column - Payment Summary -->
      <div class="right-column">
        <!-- Company Details Card -->
        <nb-card *ngIf="purchaseOrder?.orderable_type === EDbModels.PRODUCT_PRICE" class="company-details-card">
          <nb-card-header>
            <span> Company Details </span>
          </nb-card-header>
          <nb-card-body>
            <form
              [formGroup]="contactInfoForm"
              class="company-form-container"
              *ngIf="purchaseOrder.status !== EPurchaseOrderStatus.PAID"
            >
              <commudle-alert
                [info]="true"
                message="In case of a business, please add company details, else add personal details if you are purchasing as an individual"
              ></commudle-alert>
              <!-- Company Name -->
              <div>
                <label for="companyName">Company Name <span class="required"> *</span></label>
                <input
                  nbInput
                  fullWidth
                  id="companyName"
                  formControlName="companyName"
                  placeholder="Enter company name"
                />
                <commudle-alert
                  [error]="contactInfoForm.get('companyName')?.invalid && contactInfoForm.get('companyName')?.touched"
                  errorMessage="Company name is required"
                >
                </commudle-alert>
              </div>

              <!-- Company Address -->
              <div>
                <label for="companyAddress">Company Address <span class="required"> *</span></label>
                <textarea
                  nbInput
                  fullWidth
                  id="companyAddress"
                  formControlName="companyAddress"
                  placeholder="Enter company address"
                  rows="3"
                ></textarea>
                <commudle-alert
                  [error]="
                    contactInfoForm.get('companyAddress')?.invalid && contactInfoForm.get('companyAddress')?.touched
                  "
                  errorMessage="Company address is required"
                >
                </commudle-alert>
              </div>

              <!-- Pin Code -->
              <div>
                <label for="pinCode">Pin Code <span class="required"> *</span></label>
                <input nbInput fullWidth id="pinCode" formControlName="pinCode" placeholder="Enter pin code" />

                <commudle-alert
                  [error]="contactInfoForm.get('pinCode')?.invalid && contactInfoForm.get('pinCode')?.touched"
                  errorMessage="Pin code is required"
                >
                </commudle-alert>
              </div>

              <!-- GST Number -->
              <div>
                <label for="gst">GST Number</label>
                <input nbInput fullWidth id="gst" formControlName="gst" placeholder="Enter GST number if applicable" />
              </div>
              <commudle-alert [info]="true" message="This will help us share a GST Invoice with you"></commudle-alert>
            </form>
            <div *ngIf="purchaseOrder.status === EPurchaseOrderStatus.PAID" class="company-details">
              <div class="company-name">
                <span class="heading">Company Name</span>
                <span class="value">
                  {{ purchaseOrder.contact_info.address?.company_name | titlecase }}
                </span>
              </div>
              <div class="address">
                <span class="heading">Address</span>
                <span class="value">
                  {{ purchaseOrder.contact_info.address?.address }}
                </span>
              </div>

              <div class="pin-code">
                <span class="heading">Pin Code</span>
                <span class="value">
                  {{ purchaseOrder.contact_info.address?.pin_code }}
                </span>
              </div>
              <div class="tax-info" *ngIf="purchaseOrder.contact_info.tax_info?.gst">
                <span class="heading">GST Number</span>
                <span class="value">
                  {{ purchaseOrder.contact_info.tax_info?.gst }}
                </span>
              </div>
            </div>
          </nb-card-body>
        </nb-card>

        <!-- Payment Summary Card -->
        <div class="payment-details-section" *ngIf="purchaseOrder">
          <nb-card>
            <nb-card-header>Payment Summary</nb-card-header>
            <nb-card-body>
              <!-- Payment Success Message -->
              <div *ngIf="paymentPaid" class="paid-message-container">
                <fa-icon [icon]="icons.faCircleCheck"></fa-icon>
                <p class="message">Payment Successful!</p>
              </div>

              <!-- Price -->
              <div class="payment-details">
                <span class="heading">Price</span>
                <span class="value">
                  {{ purchaseOrder.price / 100 | currency : purchaseOrder.currency }}
                </span>
              </div>

              <!-- Quantity Selector -->
              <div class="payment-details" *ngIf="purchaseOrder?.orderable_type === EDbModels.PRODUCT_PRICE">
                <span class="heading">Quantity</span>
                <div class="value com-flex com-items-center" *ngIf="purchaseOrder.status !== EPurchaseOrderStatus.PAID">
                  <button
                    nbButton
                    ghost
                    size="small"
                    status="basic"
                    (click)="decreaseQuantity()"
                    [disabled]="quantity <= minQuantity"
                  >
                    <fa-icon [icon]="icons.faMinus"></fa-icon>
                  </button>
                  <span class="com-mx-4 com-font-medium">{{ quantity }}</span>
                  <button nbButton ghost size="small" status="basic" (click)="increaseQuantity()">
                    <fa-icon [icon]="icons.faPlus"></fa-icon>
                  </button>
                </div>
                <span class="value" *ngIf="purchaseOrder.status === EPurchaseOrderStatus.PAID">
                  {{ purchaseOrder.quantity }}
                </span>
              </div>

              <!-- Subscription Duration Selector -->
              <div
                class="payment-details"
                *ngIf="
                  purchaseOrder?.orderable_type === EDbModels.PRODUCT_PRICE &&
                  productPrice?.min_subscription_duration_months
                "
              >
                <span class="heading">Duration (Months)</span>
                <div class="value com-flex com-items-center" *ngIf="purchaseOrder.status !== EPurchaseOrderStatus.PAID">
                  <button
                    nbButton
                    ghost
                    size="small"
                    status="basic"
                    (click)="decreaseMonths()"
                    [disabled]="subscriptionMonths <= productPrice.min_subscription_duration_months"
                  >
                    <fa-icon [icon]="icons.faMinus"></fa-icon>
                  </button>
                  <span class="com-mx-4 com-font-medium">{{ subscriptionMonths }}</span>
                  <button nbButton ghost size="small" status="basic" (click)="increaseMonths()">
                    <fa-icon [icon]="icons.faPlus"></fa-icon>
                  </button>
                </div>
                <span class="value" *ngIf="purchaseOrder.status === EPurchaseOrderStatus.PAID">
                  {{ productPrice?.min_subscription_duration_months }}
                </span>
              </div>

              <div class="payment-details discount-code" *ngIf="discountCodeApplied">
                <span class="heading">Discount Code</span>
                <span class="value">
                  <span *ngIf="purchaseOrder.discount_code || finalDiscountAmount">
                    {{ finalDiscountAmount / 100 | currency : purchaseOrder.currency }}
                  </span>
                </span>
              </div>

              <div class="payment-details" *ngIf="!paymentPaid">
                <span class="heading">Discount Code</span>
                <div class="value com-flex com-items-center">
                  <input
                    nbInput
                    fullWidth
                    [(ngModel)]="discountCode"
                    (input)="onDiscountCodeInput($event)"
                    placeholder="Enter discount code"
                    [disabled]="discountCodeApplied"
                  />
                  <button
                    *ngIf="!discountCodeApplied"
                    nbButton
                    size="small"
                    status="primary"
                    class="com-ml-2"
                    (click)="applyDiscountCode()"
                    [disabled]="!discountCode || discountCodeApplied"
                  >
                    Apply
                  </button>
                  <button
                    *ngIf="discountCodeApplied"
                    nbButton
                    size="small"
                    status="danger"
                    outline
                    class="com-ml-2"
                    (click)="removePromoCode(true)"
                  >
                    Remove
                  </button>
                </div>
              </div>

              <!-- total -->
              <div class="payment-details">
                <span class="heading">Total</span>
                <span class="value com-font-bold">
                  {{ totalPrice | currency : purchaseOrder.currency }}
                </span>
              </div>

              <div class="recipient">
                <div class="heading">Recipient</div>
                <div class="recipient-details">
                  <div class="name">{{ purchaseOrder.user?.name | titlecase }}</div>
                  <span class="email">{{ purchaseOrder.user?.email }}</span>
                  <br *ngIf="purchaseOrder.user?.phone" />
                  <span class="phone" *ngIf="purchaseOrder.user?.phone">{{ purchaseOrder.user.phone }}</span>
                </div>
              </div>
            </nb-card-body>
          </nb-card>

          <!-- Support Information -->
          <div class="info-container">
            <commudle-alert [info]="true">
              <div infoContent>
                For any technical support please reach out to
                <a href="mailto:payments_support@commudle.com">payments_support&#64;commudle.com</a>
              </div>
            </commudle-alert>
          </div>

          <!-- Refund Policy -->
          <div class="info-container">
            <commudle-alert
              [info]="true"
              message="For any refund related queries please reach out to the event organizers, Commudle is not responsible for any refund or disputes between the ticket purchasing party and the ticket seller."
            ></commudle-alert>
          </div>

          <!-- Pay Button -->
          <div class="com-px-2" *ngIf="!paymentPaid">
            <button nbButton status="primary" fullWidth (click)="Pay()" [disabled]="isLoadingPayment">Pay Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Payment Error Dialog -->
<ng-template #paymentErrorDialog let-data let-ref="dialogRef">
  <nb-card class="payment-error-dialog">
    <nb-card-body>
      <div class="exclamation-container">
        <div>
          <fa-icon [icon]="icons.faTriangleExclamation"></fa-icon>
        </div>
      </div>
      <p class="primary-text">Seems like there is a problem with payment</p>
      <p (click)="reload(); ref.close()" class="reload-button">
        <fa-icon [icon]="icons.faRotateRight"></fa-icon>
        Refresh to retry payment
      </p>
      <p class="secondary-text">If money was deducted from your account, please reach out to our support</p>
    </nb-card-body>
  </nb-card>
</ng-template>

<!-- Loading Dialog -->
<ng-template #loadingDialog>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
