<nb-card
  [routerLink]="['/communities', community.community.slug]"
  class="user-communities-card"
  [ngClass]="{ organizer: community.user_role.name === 'organizer' }"
>
  <nb-card-body>
    <img
      [alt]="community.community.name"
      [src]="community.community.logo_image_path?.i64"
      [title]="community.community.name"
      class="user-communities-logo"
    />
    <div class="content-badge">
      <div class="content">
        <div class="title-badge">
          <h4 class="user-communities-name">{{ community.community.name }}</h4>
        </div>
        <p class="user-communities-members">{{ community.community.members_count }} members</p>
      </div>
      <img
        *ngIf="community.user_role.name === 'organizer'"
        src="{{ staticAssets.organizer_badge }}"
        class="organizer-badge"
        [nbTooltip]="'Community Leader'"
      />
    </div>
  </nb-card-body>
</nb-card>
