.community-build {
  nb-card.page-header {
    @apply com-m-0 com-mb-4;
    nb-card-body {
      @apply com-py-10 com-pl-10 com-pr-0;
    }

    .header-content {
      @apply com-flex com-flex-row com-justify-between;

      .header-text {
        @apply com-flex com-flex-col com-w-full;
      }

      .header-image {
        @apply com-flex com-items-center com-m-0 md:com-w-[560px] md:com-h-[184px] com-w-full com-h-full com-shrink-0;
        img {
          @apply com-h-full com-w-full;
        }
      }
    }

    h1 {
      @apply com-m-0 com-flex com-items-center com-mb-3;

      span {
        @apply com-text-4xl com-font-bold com-text-Yankees-Blue;
      }
    }

    p {
      @apply com-text-base com-font-normal com-text-gray-500 com-mb-7 com-m-0;
    }

    ul {
      @apply com-pl-4 com-m-0 com-gap-3;

      li {
        @apply com-text-base com-font-medium  com-text-Yankees-Blue com-m-0;
      }
    }
  }

  nb-card.form-card {
    @apply com-m-0;
    nb-card-body {
      @apply md:com-px-10 com-px-4 md:com-pb-10 com-pb-8 com-pt-0;
    }

    form {
      .field {
        @apply com-flex com-flex-col md:com-pt-10 md:com-pb-8 com-py-8 com-border-0 com-border-b com-border-solid com-border-Bright-Gray;

        .field-header {
          @apply com-flex com-flex-col com-mb-6;

          h3 {
            @apply com-text-2xl com-font-bold com-text-Yankees-Blue com-m-0 com-mb-3;
          }

          p {
            @apply com-text-base com-font-normal com-text-gray-500 com-m-0;
          }
        }

        .teammate-email {
          padding: 5px 0px;
        }
        .add-button {
          margin: 5px 0px;
        }

        .option {
          color: blue;
        }
      }

      .actions {
        @apply com-flex com-flex-row com-flex-wrap com-gap-4 md:com-pt-10 com-pt-8;

        .save-as-draft-button {
          @apply com-bg-[#3366FF1A] com-text-Ultramarine-Blue com-w-max com-rounded-lg com-border-Ultramarine-Blue #{!important};
        }

        .publish-now-button {
          @apply com-bg-Ultramarine-Blue com-text-tWhite com-w-max com-rounded-lg #{!important};
        }
      }

      .field.image-upload {
        input {
          @apply com-hidden;
        }

        .browse-text {
          @apply com-font-normal com-text-primary-500;
        }

        .image-text-content {
          @apply com-flex com-flex-col com-items-center com-justify-center com-gap-1 com-m-0;
        }

        .image-container {
          @apply com-flex com-flex-col com-items-center com-justify-center md:com-w-[360px] md:com-h-[212px] com-w-full com-h-full com-border com-border-dashed com-border-Cadet-Grey com-bg-Ghost-White com-rounded-md com-text-base com-font-medium com-text-Yankees-Blue com-pt-9;

          .image-text {
            @apply com-flex com-flex-col com-items-center com-justify-center com-gap-4;
          }

          nb-icon {
            @apply com-text-2xl com-text-Cadet-Grey;
          }
        }
      }

      .images {
        @apply com-flex com-flex-col com-justify-start com-flex-wrap;
        > div {
          > div {
            @apply com-w-[100px] com-h-[100px] com-border com-border-dashed com-border-Cadet-Grey com-bg-Ghost-White com-rounded-md com-overflow-hidden com-p-6px com-flex com-flex-col com-items-center com-justify-center com-relative;
            img {
              @apply com-w-full;
            }

            p {
              @apply com-absolute com-bottom-0 com-m-0 com-mt-6px;
              nb-icon:hover {
                @apply com-rounded-full com-bg-white;
              }
            }
          }
        }
      }

      .images-list {
        @apply com-flex com-flex-row com-mt-auto com-gap-4;
      }
    }
  }
}

.entity-update {
  @apply com-flex com-justify-between com-items-center com-py-1;
  .update-details {
    .date {
      @apply com-text-xs com-text-Auro-Metal-Saurus;
    }
  }
  nb-icon {
    @apply com-text-left;
  }
}

.entity-update:not(:last-child) {
  @apply com-border-0 com-border-b com-border-solid com-border-Bright-Gray;
}

.build-updates {
  @apply com-my-3;
  .build-update {
    @apply com-flex com-gap-3 com-items-center;
  }
}

.hackathon-user-response {
  @apply com-my-3;
}

.required-field {
  @apply com-text-red-500;
}

.info-text {
  @apply com-py-2 com-bg-gray-100 com-text-xs com-font-semibold com-text-gray-500 com-w-full com-text-center com-mt-auto;
}

.images-container {
  @apply com-flex md:com-flex-row com-flex-col com-gap-4;
}

.links-container {
  @apply com-flex com-flex-col com-gap-4;
}

.label {
  @apply com-flex com-text-sm com-font-medium com-text-Yankees-Blue com-mb-3;
}

.checkbox-container {
  @apply com-flex com-mb-3;
}

.image-icon {
  @apply com-text-4xl com-text-Cadet-Grey;
}

.image-size-text {
  @apply com-flex com-flex-col com-text-base com-text-gray-500 com-m-0 com-gap-2 com-mb-3;
}

.image-size {
  @apply com-font-normal;
}

.image-type {
  @apply com-font-medium;
}

.video-iframe {
  @apply com-w-80 com-mt-7 com-overflow-hidden com-h-max;
}

.video-iframe-content {
  @apply com-aspect-[16/10] com-overflow-hidden;
}

.add-button {
  @apply com-bg-black com-text-white com-w-max com-rounded-lg #{!important};
}

.image {
  @apply com-flex com-items-center com-justify-center;
}

.edit-build-header {
  @apply com-py-4 com-px-10 com-bg-Tigers-Eye com-rounded-t-[10px];
  .edit-header {
    @apply com-text-2xl com-font-semibold com-text-tWhite com-m-0;
  }
  fa-icon {
    @apply com-h-5 com-w-5 com-ml-4;
  }
}
