<div class="base-layout community-build">
  <div class="container">
    <div class="one-column-layout">
      <nb-card class="page-header">
        <nb-card-body *ngIf="!(parentId && parentType)">
          <div
            class="background-image"
            [ngStyle]="{ 'background-image': 'url(\'' + staticAssets.create_build_background + '\')' }"
          >
            <div class="header-content">
              <div class="header-text">
                <h1>
                  <span>Create Your Build</span>
                  <commudle-help-section [helpDictionaryName]="'build-publish-2'"></commudle-help-section>
                </h1>
                <p>
                  Share your project’s story, visuals, and resources. Publish to connect with others, inspire discovery,
                  and receive feedback from the community.
                </p>
                <ul>
                  <li class="md:com-mb-3 com-mb-2">
                    <span>🔮</span>Make your portfolio stronger by adding new projects
                  </li>
                  <li><span>🏅</span>Best one gets Featured!!</li>
                </ul>
              </div>
              <div class="header-image">
                <img
                  alt="Create Build Header"
                  src="{{ staticAssets.create_build_header }}"
                  title="Create Build Header"
                />
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <div *ngIf="editBuildForm && !parentId && !parentType" class="edit-build-header">
        <p class="edit-header">Edit Your Build<fa-icon [icon]="faEdit"></fa-icon></p>
      </div>
      <nb-card class="form-card" [ngClass]="{ 'com-rounded-t-none': editBuildForm && !parentId && !parentType }">
        <nb-card-body>
          <form (keydown.enter)="$event.preventDefault()" [formGroup]="communityBuildForm">
            <div class="field">
              <div class="field-header">
                <h3>Title</h3>
                <p>Give your project a clear and memorable name that best represents its purpose and impact</p>
              </div>
              <label class="label">Title of your build<span class="required-field">*</span> </label>
              <input
                formControlName="name"
                fullWidth
                nbInput
                placeholder="Name of your project or course"
                size="large"
                type="text"
              />
              <span *ngIf="communityBuildForm.get('name').touched && communityBuildForm.get('name').invalid">
                <commudle-alert
                  *ngIf="communityBuildForm.get('name').errors?.required"
                  [errorMessage]="'Required Field'"
                  [error]="true"
                ></commudle-alert>
                <commudle-alert
                  *ngIf="communityBuildForm.get('name').errors?.maxlength"
                  [errorMessage]="'Maximum 100 characters allowed'"
                  [error]="true"
                ></commudle-alert>
              </span>
              <commudle-alert
                *ngIf="
                  communityBuildForm.get('name').touched && communityBuildForm.get('name').hasError('containsLink')
                "
                [errorMessage]="'Name cannot be a link'"
                [error]="true"
              ></commudle-alert>
            </div>

            <div class="field">
              <div class="field-header">
                <h3>Description</h3>
                <p>Briefly explain your project's purpose and goals</p>
              </div>
              <label class="label">Add Description<span class="required-field">*</span></label>
              <span
                *ngIf="
                  communityBuildForm.get('description').touched &&
                  communityBuildForm.get('description').invalid &&
                  communityBuildForm.get('description').errors.required
                "
              >
                <commudle-alert [errorMessage]="'Required Field'" [error]="true"></commudle-alert>
              </span>
              <editor [init]="tinyMCE" formControlName="description"></editor>
              <commudle-alert
                *ngIf="communityBuildForm.get('description').hasError('minlength')"
                [error]="true"
                errorMessage="Description must be at least 300 characters"
              ></commudle-alert>
            </div>

            <div class="field image-upload">
              <div class="field-header">
                <h3>Image Gallery</h3>
                <p>Upload visuals that best represent your project</p>
              </div>
              <div class="images-container">
                <label class="label clickable image-container">
                  <span class="image-text">
                    <fa-icon class="image-icon" [icon]="faImage"></fa-icon>
                    <p class="image-text-content">
                      <span>Drag and drop images</span><span class="browse-text"> or Browse</span>
                    </p>
                  </span>
                  <span class="info-text">Select first image as the thumbnail</span>
                  <input (change)="addImages($event)" accept="image/*" fullWidth multiple nbInput type="file" />
                </label>

                <div class="images">
                  <p class="image-size-text">
                    <span class="image-size">1280 x 720px or higher recommended</span
                    ><span class="image-type">JPG, JPEG, PNG</span>
                  </p>
                  <div class="images-list">
                    <div *ngFor="let image of uploadedImagesFiles; let i = index">
                      <div *ngIf="!uploadedImagesFiles[i]['delete']" class="image">
                        <img
                          alt="{{ uploadedImages[i]?.name || 'Image' }}"
                          src="{{ uploadedImages[i] }}"
                          title="{{ uploadedImages[i]?.name || 'Image' }}"
                        />
                        <p class="clickable">
                          <nb-icon (click)="removeImage(i)" icon="close-circle" status="danger"></nb-icon>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="field-header">
                <h3>Links</h3>
                <p>Share direct links to your live project or key resources</p>
              </div>
              <div class="links-container">
                <div class="link-item">
                  <label class="label"> Link to live project<span class="required-field">*</span> </label>
                  <input
                    formControlName="live_app_link"
                    fullWidth
                    nbInput
                    placeholder="Link to live project"
                    size="large"
                    type="url"
                  />
                  <span *ngIf="communityBuildForm.get('live_app_link').invalid">
                    <commudle-alert [errorMessage]="'Invalid link'" [error]="true"></commudle-alert>
                  </span>
                  <span
                    *ngIf="
                      linkOrLiveAppLinkValue &&
                      communityBuildForm.get('link').value.length === 0 &&
                      communityBuildForm.get('live_app_link').value.length === 0
                    "
                  >
                    <commudle-alert
                      [errorMessage]="'Both Open Source Code and Live Project cannot be empty'"
                      [error]="true"
                    ></commudle-alert>
                  </span>
                </div>
                <div class="link-item">
                  <div class="checkbox-container">
                    <nb-checkbox
                      #openSourceCheckbox
                      (change)="hasOpenSourceLink = openSourceCheckbox.checked"
                      status="primary"
                    >
                      Is it an open source project?
                    </nb-checkbox>
                  </div>
                  <div *ngIf="hasOpenSourceLink" class="open-source-link">
                    <label class="label"> Link to Open Source Code </label>
                    <!-- <span
                  *ngIf="communityBuildForm.get('build_type').value === EBuildType.slides"
                  [nbPopover]="googleSlidesEmbed"
                  class="text-info clickable"
                  nbPopoverTrigger="hover"
                >
                  How to embed Google Slides
                </span> -->
                    <input
                      formControlName="link"
                      fullWidth
                      nbInput
                      placeholder="Link to Open Source Code"
                      size="large"
                      type="url"
                    />

                    <span *ngIf="communityBuildForm.get('link').invalid">
                      <commudle-alert [errorMessage]="'Invalid link'" [error]="true"></commudle-alert>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="field-header">
                <h3>Video Demo (Optional)</h3>
                <p>Add a short video demo to showcase your project</p>
              </div>
              <label class="label"> Video Demo (Iframe 320px X 200px) </label>
              <input
                formControlName="video_iframe"
                fullWidth
                nbInput
                placeholder=" Video Demo (Iframe)"
                size="large"
                type="url"
              />
              <span *ngIf="communityBuildForm.get('video_iframe').invalid">
                <commudle-alert [errorMessage]="'Please add correct iframe'" [error]="true"></commudle-alert>
              </span>

              <div *ngIf="embeddedLink" class="video-iframe">
                <div class="video-iframe-content">
                  <div [innerHTML]="embeddedLink"></div>
                </div>
              </div>
            </div>

            <div
              *ngIf="
                hackathonUserResponses &&
                hackathonUserResponses.user_responses &&
                hackathonUserResponses.user_responses.length > 0
              "
              class="field"
            >
              <label class="label">Teammates<span class="required-field">*</span></label>
              <div class="hackathon-user-response-container">
                <div
                  *ngFor="let hackathonUserResponse of hackathonUserResponses.user_responses"
                  class="hackathon-user-response"
                >
                  <input
                    *ngIf="currentUser && hackathonUserResponse.user_email !== currentUser.email"
                    [readonly]="true"
                    [value]="hackathonUserResponse.user_email"
                    fullWidth
                    nbInput
                    size="large"
                    type="email"
                  />
                </div>
              </div>
            </div>

            <div *ngIf="!(parentId && parentType)" class="field" formArrayName="team">
              <div class="field-header">
                <h3>Teammates</h3>
                <p>List your collaborators or team members</p>
              </div>
              <div *ngFor="let email of communityBuildForm.controls.team['controls']; let i = index">
                <div [formGroupName]="i" class="teammate-email d-flex align-items-center">
                  <input
                    formControlName="value"
                    fullWidth
                    nbInput
                    placeholder="Enter email (we will send an invitation to join)"
                    required
                  />
                  <nb-icon (click)="removeTeammate(i)" class="clickable" icon="close-circle" status="danger"></nb-icon>
                </div>
                <span
                  *ngIf="
                    emailList.controls[i].get('value').touched &&
                    emailList.controls[i].get('value').invalid &&
                    emailList.controls[i].get('value').errors.required
                  "
                >
                  <commudle-alert [errorMessage]="'Required Field'" [error]="true"></commudle-alert>
                </span>
              </div>
              <button (click)="addTeammate()" *ngIf="!(parentId && parentType)" class="add-button" nbButton>
                <nb-icon icon="plus"></nb-icon>
                Add Teammate
              </button>
              <div *ngIf="teammates.length > 0" class="teammates-list">
                <div *ngFor="let teammate of teammates; let i = index">
                  <div
                    *ngIf="
                      teammate.status === eUserRolesUserStatus.INVITED ||
                      teammate.status === eUserRolesUserStatus.ACCEPTED ||
                      teammate.status === eUserRolesUserStatus.AUTO_JOINED
                    "
                    class="teammate-item"
                  >
                    <app-user-profile-horizontal [aboutMe]="true" [user]="teammate.user"></app-user-profile-horizontal>
                    <div class="actions-teammate">
                      <small
                        (click)="sendInvitationMail(teammate)"
                        *ngIf="teammate.status === eUserRolesUserStatus.INVITED"
                        class="option clickable resend"
                      >
                        Resend Invite
                      </small>
                      <small
                        (click)="removeTeamMember(teammate, i)"
                        *ngIf="!hackathonUserResponses"
                        class="option clickable remove"
                        >Remove</small
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- list of entity_updates -->
            <div
              *ngIf="
                hackathonUserResponses &&
                hackathonUserResponses.user_responses &&
                cBuild &&
                cBuild.entity_updates.length > 0
              "
              class="field"
            >
              <div *ngFor="let update of cBuild.entity_updates; let i = index" class="entity-update">
                <div class="update-details">
                  <div [innerHTML]="update.details"></div>
                  <span class="date">{{ moment(update.created_at).format('Do MMM YYYY') }} </span>
                </div>
                <nb-icon
                  (click)="removeEntityUpdate(update.id, i)"
                  class="clickable"
                  icon="close-circle"
                  status="danger"
                ></nb-icon>
              </div>
            </div>

            <!-- to post updates for build -->
            <div *ngIf="parentId && parentType" class="field" [formGroup]="communityBuildUpdateForm">
              <div class="field-header">
                <h3>Teammates</h3>
                <p>List your collaborators or team members</p>
              </div>
              <div formArrayName="update">
                <div
                  *ngFor="let update of communityBuildUpdateForm.controls.update['controls']; let i = index"
                  class="build-updates"
                >
                  <div [formGroupName]="i" class="build-update">
                    <editor [init]="tinyMCEForUpdate" formControlName="value"></editor>
                    <nb-icon (click)="removeUpdate(i)" class="clickable" icon="close-circle" status="danger"></nb-icon>
                  </div>
                  <span
                    *ngIf="
                      updateList.controls[i].get('value').touched &&
                      updateList.controls[i].get('value').invalid &&
                      updateList.controls[i].get('value').errors.required
                    "
                  >
                    <commudle-alert [errorMessage]="'Required Field'" [error]="true"></commudle-alert>
                  </span>
                </div>
                <button (click)="addUpdate()" *ngIf="parentId && parentType" class="add-button" nbButton>
                  <nb-icon icon="plus"></nb-icon>
                  Add Update
                </button>
              </div>
            </div>

            <div class="field">
              <div class="field-header">
                <h3>Tags</h3>
                <p>Enter keywords so others can easily find your project</p>
              </div>
              <label class="label">Add Tags<span class="required-field">*</span></label>
              <app-tag
                (tagAdd)="onTagAdd($event)"
                (tagDelete)="onTagDelete($event)"
                [backgroundColor]="'com-bg-tAnti-Flash'"
                [editable]="true"
                [fontColor]="'com-text-tYankees-Blue'"
                [tags]="tags"
              ></app-tag>

              <span *ngIf="showTagsValidation && tags.length < 5">
                <commudle-alert [errorMessage]="'Minimum 5 tags need to be added'" [error]="true"></commudle-alert>
              </span>
            </div>

            <div>
              <!-- <p class="text-info">
                *After you click 'Submit for Approval', we'll just review it once and publish it within 2 days. In case of
                any changes, we'll reach out on your email!
              </p> -->
            </div>
            <br />
            <re-captcha
              #captchaRef
              [size]="'normal'"
              (resolved)="onCaptchaResolved($event)"
              [siteKey]="environment.recaptcha_site_key_v2"
            >
            </re-captcha>
            <div class="actions">
              <!-- <button
                (click)="submitForm(EPublishStatus.submitted)"
                [disabled]="!communityBuildForm.valid"
                nbButton
                outline
                status="primary"
                type="submit"
              >
                <nb-icon icon="checkmark"></nb-icon>
                Submit For Approval
              </button> -->

              <button
                (click)="submitForm(EPublishStatus.draft)"
                *ngIf="!hackathonUserResponses"
                nbButton
                outline
                type="submit"
                class="save-as-draft-button"
              >
                <fa-icon [icon]="faPenClip" class="com-mr-2"></fa-icon>
                Save as Draft
              </button>
              <button (click)="submitForm(EPublishStatus.published)" nbButton type="submit" class="publish-now-button">
                <nb-icon icon="cloud-upload"></nb-icon>
                Publish Now
              </button>
            </div>
          </form>
        </nb-card-body>
      </nb-card>

      <ng-template #googleSlidesEmbed>
        <div>
          <ol>
            <li>Open your Google Slides</li>
            <li>At the top, click <strong>File</strong> and then <strong>Publish to the web</strong></li>
            <li>In the window that appears, <strong>click Embed</strong></li>
            <li>
              Choose a publishing option:
              <strong>
                Presentation: Choose a presentation size <strong>(Small)</strong> and how quickly to change the slides
                <strong>(Default)</strong>.
              </strong>
            </li>
            <li>Click Publish</li>
            <li>
              Copy the HTML in the text box and paste it into the box given on the page, it'll look like this:
              <small>
                <code>
                  {{
                    '&lt;iframe allowfullscreen="true" frameborder="0" height="569" mozallowfullscreen="true" src="https://docs.google.com/presentation/d/e/...../embed?start=true&amp;loop=false&amp;delayms=3000" webkitallowfullscreen="true" width="960"&gt;&lt;/iframe&gt;'
                  }}
                </code>
              </small>
            </li>
          </ol>

          <p>
            &nbsp; &nbsp;
            <small>
              <a href="https://support.google.com/docs/answer/183965?co=GENIE.Platform%3DDesktop&hl=en">
                Source
                <nb-icon icon="external-link"></nb-icon>
              </a>
            </small>
          </p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
