<li *ngIf="update">
  <p class="title">
    <span>{{ update.title }}</span>
    <app-badge
      [color]="'com-bg-green-100'"
      [fontSize]="'x-small'"
      [text]="'New'"
      [borderRadius]="'semi-round'"
      [fontColor]="'com-text-green-700'"
    ></app-badge>
  </p>
  <div [innerHTML]="richText" class="content"></div>
  <div *ngIf="update.images && update.images.length > 0" class="images-container">
    <div *ngFor="let image of update.images" class="image-container" (click)="openImage(image)">
      <img [src]="imageUrl(image)?.url()" [alt]="update.title" />
    </div>
  </div>
</li>

<ng-template #imageTemplate let-ref="dialogRef" let-data>
  <nb-card class="image-popup">
    <nb-card-body>
      <div class="image-wrapper">
        <img [src]="data.image" [alt]="data.title" />
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
