<div class="confirmation-container">
  <div class="base-layout thin">
    <div class="container">
      <div class="one-column-layout">
        <commudle-loading-spinner *ngIf="isLoading; else confirmationContainer"></commudle-loading-spinner>
        <ng-template #confirmationContainer>
          <div *ngIf="userRolesUser" class="confirmation-card">
            <div class="confirmation-header">
              <div class="check-icon">{{ userRolesUser.active ? '🎉' : '❌' }}</div>
              <div *ngIf="userRolesUser.active">
                <div
                  *ngIf="
                    userRolesUser.user_role.name === EUserRoles.ORGANIZER ||
                    userRolesUser.user_role.name === EUserRoles.COMMUNITY_ADMIN
                  "
                >
                  <h1 class="title accepted">
                    You’re now an Organizer for
                    {{ userRolesUser.user_role.name === EUserRoles.ORGANIZER ? community.name : communityGroup.name }}
                  </h1>
                  <h3 class="sub-heading">
                    Welcome aboard! You now have full control over managing and shaping this community.
                  </h3>
                </div>
                <div *ngIf="userRolesUser.user_role.name === EUserRoles.EVENT_VOLUNTEER">
                  <h1 class="title accepted">Welcome to the Volunteer Team for {{ event.name }}!</h1>
                  <h3 class="sub-heading">
                    You’ve officially joined the volunteer squad — we’re glad to have you on board. Let’s get you
                    started.
                  </h3>
                </div>
              </div>
              <div *ngIf="roleRejected">
                <h1 class="title rejected">You have declined the invitation</h1>
                <h3 class="sub-heading">
                  If you did this by mistake, please contact the person who sent you the invite
                </h3>
              </div>
            </div>

            <div
              *ngIf="community && userRolesUser.active && userRolesUser.user_role.name === EUserRoles.ORGANIZER"
              class="details-card-container"
            >
              <h2 class="card-heading">
                <img
                  alt="{{ community.name }}"
                  class="community-card-logo"
                  src="{{ community.logo_image_path.i64 }}"
                  title="{{ community.name }}"
                />
                {{ community.name }}
              </h2>

              <div *ngIf="communityLeaders" class="interested-members">
                <commudle-interested-members
                  [users]="communityLeaders"
                  [totalCount]="communityLeaders.length"
                  [showHeading]="false"
                ></commudle-interested-members>
              </div>

              <a [routerLink]="['/admin/communities', community.slug]" class="actions">
                <button nbButton fullWidth shape="semi-round" status="primary" class="take-dashboard-button">
                  <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>&nbsp; Go to admin panel
                </button>
              </a>
            </div>

            <div
              *ngIf="
                communityGroup && userRolesUser.active && userRolesUser.user_role.name === EUserRoles.COMMUNITY_ADMIN
              "
              class="details-card-container"
            >
              <h2 class="card-heading">
                <img
                  alt="{{ communityGroup.name }}"
                  class="community-card-logo"
                  src="{{ communityGroup.logo.i64 }}"
                  title="{{ communityGroup.name }}"
                />
                {{ communityGroup.name }}
              </h2>

              <div *ngIf="leadersOrg" class="interested-members">
                <commudle-interested-members
                  [users]="leadersOrg"
                  [totalCount]="leadersOrg.length"
                  [showHeading]="false"
                ></commudle-interested-members>
              </div>

              <a [routerLink]="['/admin/orgs', communityGroup.slug]" class="actions">
                <button nbButton fullWidth shape="semi-round" status="primary" class="take-dashboard-button">
                  <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>&nbsp; Go to admin panel
                </button>
              </a>
            </div>

            <!-- User profile section -->
            <div class="profile-card-container">
              <ng-container *ngIf="currentUser && isProfileCompleted">
                <div class="profile-card">
                  <div class="profile-preview-card">
                    <div class="card-heading">Profile Card Preview</div>
                    <app-user-profile-card-large [user]="currentUser"></app-user-profile-card-large>
                  </div>

                  <div class="profile-completion-card">
                    <div class="card-heading">Profile's Progress</div>
                    <commudle-profile-completion-progress></commudle-profile-completion-progress>
                  </div>
                </div>

                <div class="missing-field-card">
                  <commudle-user-profile-missing-fields></commudle-user-profile-missing-fields>
                </div>
              </ng-container>

              <ng-container *ngIf="currentUser && !isProfileCompleted">
                <commudle-user-profile [currentUser]="currentUser"></commudle-user-profile>
                <commudle-userprofile-details
                  [userProfileDetails]="userProfileDetails"
                  [username]="currentUser.username"
                ></commudle-userprofile-details>
              </ng-container>
            </div>

            <!-- Speakers section -->
            <div *ngIf="speakers && userRolesUser.user_role.name === EUserRoles.EVENT_VOLUNTEER" class="leaders-card">
              <h2 class="card-heading">Follow Event Speakers</h2>
              <div *ngFor="let speaker of speakers" class="leader">
                <app-user-profile-card-large
                  [alignFollowToRight]="true"
                  [showFollowButton]="true"
                  [user]="speaker.user"
                  appearanceOfFollowButton="outline"
                ></app-user-profile-card-large>
              </div>
            </div>

            <!-- Community leaders section -->
            <div
              *ngIf="communityLeaders?.length && userRolesUser.user_role.name === EUserRoles.EVENT_VOLUNTEER"
              class="leaders-card"
            >
              <h2 class="card-heading">Follow Community Leaders</h2>
              <div *ngFor="let user of communityLeaders" class="leader">
                <app-user-profile-card-large
                  [alignFollowToRight]="true"
                  [showFollowButton]="true"
                  [user]="user"
                  appearanceOfFollowButton="outline"
                ></app-user-profile-card-large>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
