<div class="base-layout">
  <div class="container">
    <div class="one-column-layout">
      <commudle-loading-spinner *ngIf="isLoading; else campaignsTable"></commudle-loading-spinner>
      <ng-template #campaignsTable>
        <div *ngIf="campaigns.length > 0; else noCampaignFound">
          <div class="dashboard-header">
            <h1 class="page-title">Ad Dashboard</h1>
            <button [routerLink]="['new']" nbButton status="primary" size="medium" class="create-new-campaign-button">
              <fa-icon [icon]="icons.faPlus"></fa-icon> &nbsp; Create New Campaign
            </button>
          </div>
          <commudle-campaign-list [campaigns]="campaigns"></commudle-campaign-list>

          <app-pagination
            *ngIf="pagination.total > 0"
            (goTo)="pagination.page = $event; fetchCampaigns()"
            (next)="pagination.page = $event; fetchCampaigns()"
            (previous)="pagination.page = $event; fetchCampaigns()"
            [count]="pagination.count"
            [current]="pagination.page"
            [total]="pagination.total"
          ></app-pagination>
        </div>

        <ng-template #noCampaignFound>
          <div class="empty-state">
            <h3 class="empty-state-title">No ad campaigns yet</h3>
            <p class="empty-state-description">
              Once you create a campaign, this table will show its status, impressions, clicks, CTR, spend, and
              remaining balance in one place
            </p>
            <a [routerLink]="['new']" nbButton status="primary" size="medium" class="create-new-campaign-button">
              <fa-icon [icon]="icons.faPlus"></fa-icon>
              &nbsp; Create Your First Campaign
            </a>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
