<div class="emailer-component">
  <form [formGroup]="eMailForm">
    <div class="filters"></div>
    <div *ngIf="showEmailFilters" class="fieldset">
      <select name="members" formControlName="members" (change)="toggleEventSpecificEmail($event)">
        <option value="" disabled>Filter Emails</option>
        <option selected value="{{ EemailTypes.GENERAL_ALL }}">
          General Email (to All or a Specific Member)
          <commudle-help-section [helpDictionaryName]="'community-general-email'"></commudle-help-section>
        </option>
        <option value="{{ EemailTypes.EVENT_SPEAKER }}">To All Speakers</option>
        <option value="event">
          Event Specific Emails
          <commudle-help-section [helpDictionaryName]="'event-specific-mails'"></commudle-help-section>
        </option>
      </select>
    </div>

    <div *ngIf="isEventSpecificEmail && showEmailFilters" class="fieldset">
      <select (change)="getEventDataFormEntityGroups($event)" formControlName="event_id">
        <option value="" disabled>Select Event</option>
        <option *ngFor="let event of events" [value]="event.id">
          {{ event.name }}
        </option>
      </select>

      <div class="fieldset form-mail-type-selection">
        <div *ngIf="eventDataFormEntityGroups.length > 0" class="fieldset">
          <p>Source?</p>
          <nb-radio-group
            (valueChange)="toggleEventDataFormEntityGroupType($event)"
            formControlName="event_data_form_entity_group_id"
            name="event_data_form_entity_group_id"
          >
            <nb-radio *ngFor="let edfeg of eventDataFormEntityGroups" [value]="edfeg.id">
              {{ edfeg.name }}
            </nb-radio>
          </nb-radio-group>
        </div>
        <div *ngIf="eventSimpleRegistration" class="fieldset">
          <p>Single Click Registration</p>
        </div>

        <div *ngIf="selectedEventDataFormEntityGroup || eventSimpleRegistration" class="fieldset">
          <p>Let's Be Specific!</p>
          <nb-radio-group
            (valueChange)="toggleEmailBodyValidation($event)"
            *ngIf="selectedEventDataFormEntityGroup"
            formControlName="registration_selection_type"
            name="registration_selection_type"
          >
            <nb-radio *ngFor="let reg of selectedFormRegistrationType" [value]="reg.value">
              {{ reg.display }}
            </nb-radio>
          </nb-radio-group>

          <nb-radio-group
            (valueChange)="toggleEmailBodyValidation($event)"
            *ngIf="eventSimpleRegistration"
            formControlName="registration_selection_type"
            name="registration_selection_type"
          >
            <nb-radio *ngFor="let reg of selectedFormRegistrationType" [value]="reg.value">
              {{ reg.display }}
            </nb-radio>
          </nb-radio-group>
        </div>
      </div>
    </div>
    <div
      *ngIf="
        [EemailTypes.GENERAL_ALL, EemailTypes.ENTRY_PASS, EemailTypes.SEND_LINK, EemailTypes.RSVP].includes(
          selectedEmailType
        ) == true
      "
      class="fieldset"
    >
      <div>
        <p *ngIf="recipientUsername">
          To
          <br />
          <b>Selected Username</b>: <u>{{ recipientUsername }}</u>
        </p>
        <label *ngIf="!recipientUsername" for="recipient_email" class="label">To</label>
        <input
          formControlName="recipient_email"
          fullWidth
          nbInput
          placeholder="Enter 1 email addresses or leave blank for all matching members"
          type="text"
        />
      </div>
      <div>
        <nb-checkbox formControlName="resend" status="basic"> Resend (if already sent)</nb-checkbox>
      </div>
    </div>
    <div class="fieldset">
      <label for="subject" class="label"> Subject* </label>
      <input formControlName="subject" fullWidth nbInput type="text" />
      <span
        *ngIf="
          eMailForm['controls'].subject.touched &&
          eMailForm['controls'].subject.invalid &&
          eMailForm['controls'].subject.errors.required
        "
      >
        <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
      </span>
    </div>
    <div class="fieldset">
      <label class="label"> Message From Organizers </label>
      <span
        *ngIf="
          eMailForm['controls'].body.touched &&
          eMailForm['controls'].body.invalid &&
          eMailForm['controls'].body.errors.required
        "
      >
        <commudle-alert [error]="true" [errorMessage]="'Required Field'"></commudle-alert>
      </span>
      <editor [init]="tinyMCE" formControlName="body"> </editor>
    </div>

    <div class="action-btns">
      <button
        (click)="openEmailPreviewTemplate(); $event.stopPropagation()"
        [disabled]="!eMailForm.valid || isEmailSending"
        nbButton
        status="primary"
        shape="semi-round"
        type="button"
      >
        Preview Email
      </button>
      <button
        (click)="submitForm()"
        [disabled]="!eMailForm.valid || isEmailSending"
        fullWidth
        nbButton
        status="primary"
        type="submit"
        class="submit-button"
        shape="semi-round"
      >
        Send Mail
      </button>
    </div>
  </form>
</div>
<ng-template #emailPreview let-ref="dialogRef">
  <nb-card>
    <nb-card-body>
      <h1>Hello</h1>
    </nb-card-body>
  </nb-card>
</ng-template>
