.emailer-component {
  @apply com-h-[65vh] com-overflow-y-auto com-relative;
}

.submit-button {
  // position: fixed;
  // bottom: 10px;
  // width: 100%;
}

.fieldset {
  @apply com-mx-0 com-my-6;
  .label {
    @apply com-text-sm com-font-medium com-text-Yankees-Blue;
  }
  input {
    @apply com-rounded-lg com-mt-3;

    &::placeholder {
      @apply com-p-3 com-text-sm com-font-normal com-text-gray-400;
    }
  }
  editor {
    @apply com-mt-3;
  }
  nb-radio {
    &::ng-deep {
      span {
        @apply com-flex com-items-center;
      }
    }
  }
}

.form-mail-type-selection {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  > .fieldset {
    margin-right: 1.5rem;
  }
}

.action-btns {
  @apply com-flex com-items-center com-gap-6;
}

select {
  @apply com-border-0 com-rounded-lg com-bg-gray-100 com-pr-2 com-pl-3 com-py-2 com-w-40 com-text-sm com-font-normal com-text-Yankees-Blue;
}
