<nb-card>
  <nb-card-body>
    <commudle-loading-spinner *ngIf="isLoading; else projectCards"></commudle-loading-spinner>
    <ng-template #projectCards>
      <div *ngIf="communityBuilds.length === 0">No Project to show</div>
      <nb-card *ngFor="let build of communityBuilds" class="project-card">
        <nb-card-body>
          <commudle-build-card [communityBuild]="build" [showHackathonPrizes]="true"></commudle-build-card>
        </nb-card-body>
      </nb-card>
      <div class="pagination" *ngIf="total > 0">
        <app-pagination
          (goTo)="page = $event; fetchHackathonProjects()"
          (next)="page = $event; fetchHackathonProjects()"
          (previous)="page = $event; fetchHackathonProjects()"
          [count]="count"
          [current]="page"
          [total]="total"
        ></app-pagination>
      </div>
    </ng-template>
  </nb-card-body>
</nb-card>
