<nb-card>
  <nb-card-body>
    <div class="upcoming-card">
      <a
        [routerLink]="['/communities', hackathon.community.slug, 'hackathons', hackathon.slug]"
        class="upcoming-card-link"
      >
        <div>
          <div *appBreakpoints="'>lg'" class="upcoming-card-image">
            <commudle-banner-image
              [headerImagePath]="
                hackathon.banner_image ? hackathon.banner_image.i320 : staticAssets.hackathon_empty_state
              "
              [name]="hackathon.name"
              [aspectRatio]="'8/3'"
            ></commudle-banner-image>
            <app-badge
              *ngIf="showHackathonBadge"
              class="hackathon-badge"
              [text]="'Hackathon'"
              [fontColor]="'com-text-tChocolate-Traditional'"
              [fontSize]="'xx-small'"
              [nbIcon]="'people-outline'"
              [borderRadius]="'round'"
              [color]="'com-bg-Seashell'"
            ></app-badge>
          </div>
          <div *appBreakpoints="'<=lg'" class="upcoming-card-image">
            <commudle-banner-image
              [headerImagePath]="
                hackathon.banner_image ? hackathon.banner_image.i320 : staticAssets.hackathon_empty_state
              "
              [name]="hackathon.name"
              [bottomRightCurve]="false"
              [bottomLeftCurve]="false"
            ></commudle-banner-image>
            <app-badge
              class="hackathon-badge"
              [text]="'Hackathon'"
              [fontColor]="'com-text-tChocolate-Traditional'"
              [fontSize]="'xx-small'"
              [nbIcon]="'people-outline'"
              [borderRadius]="'round'"
              [color]="'com-bg-Seashell'"
            ></app-badge>
          </div>
        </div>
        <div *appBreakpoints="'>lg'" class="upcoming-card-details-desktop">
          <div>
            <div class="title-interested-members">
              <p class="title">{{ hackathon.name }}</p>
              <div class="interested-members" *ngIf="hackathon.interested_members_count > 0">
                <app-badge
                  [text]="hackathon.interested_members_count"
                  [fontColor]="'com-text-tAuro-Metal-Saurus'"
                  [nbIcon]="'people-outline'"
                  [fontSize]="'small'"
                  [borderRadius]="'round'"
                  [color]="'com-bg-Bright-Gray-Light'"
                ></app-badge>
              </div>
            </div>
            <p class="time">
              Starts - {{ moment(hackathon.start_date).format('dddd, MMM Do, YYYY') }} |
              <span>{{ hackathon.hackathon_location_type | titlecase }}</span>
            </p>
          </div>
          <div class="badge-register-prize-buttons">
            <div *ngIf="hackathon.community" class="community-badge">
              <app-community-badge [community]="hackathon.community" [size]="'small'"></app-community-badge>
            </div>
            <div class="prize-register-btn">
              <div *ngIf="totalPrizes?.length > 0" class="prize-money">
                <fa-icon [icon]="faSackDollar"></fa-icon>
                <span>{{ totalPrizes[0].currency.symbol }}</span>
                <span>{{ totalPrizes[0].amount }}</span>
              </div>
              <button nbButton status="info" shape="semi-round" size="large" outline class="register-button">
                Register
              </button>
            </div>
          </div>
        </div>
        <div *appBreakpoints="'<=lg'" class="upcoming-card-details-mobile">
          <p class="title">{{ hackathon.name }}</p>
          <div class="time-community-badge">
            <p class="time">Starts - {{ moment(hackathon.start_date).format('dddd, MMM Do, YYYY') }}</p>
            <div *ngIf="hackathon.community" class="community-badge">
              <app-community-badge [community]="hackathon.community" [size]="'small'"></app-community-badge>
            </div>
          </div>
          <div class="interested-members-container">
            <div class="interested-members" *ngIf="hackathon.interested_members_count > 0">
              <app-badge
                [text]="hackathon.interested_members_count"
                [fontColor]="'com-text-tAuro-Metal-Saurus'"
                [nbIcon]="'people-outline'"
                [fontSize]="'small'"
                [borderRadius]="'round'"
                [color]="'com-bg-Bright-Gray-Light'"
              ></app-badge>
            </div>
            <app-badge
              [text]="hackathon.hackathon_location_type | titlecase"
              [fontColor]="'com-text-tAuro-Metal-Saurus'"
              [fontSize]="'small'"
              [borderRadius]="'round'"
              [color]="'com-bg-Bright-Gray-Light'"
            ></app-badge>
          </div>
          <div *ngIf="totalPrizes?.length > 0" class="prize-money-mobile-section">
            <p>
              🏆 Prize Pool - <span>{{ totalPrizes[0].currency.symbol }}{{ totalPrizes[0].amount }}</span>
            </p>
          </div>
        </div>
      </a>
    </div>
  </nb-card-body>
</nb-card>
