<div
  [ngClass]="[horizontalScroll ? 'scroll-container' : 'container', showJoinBtnBottom ? 'com-flex-col' : 'com-flex-row']"
>
  <a [routerLink]="['/communities', featuredCommunity.slug]" target="_blank">
    <div class="featured-community">
      <div>
        <div *ngIf="featuredCommunity.logo_image || featuredCommunity.logo_image_path" class="image">
          <img
            [alt]="featuredCommunity.name"
            [src]="
              featuredCommunity.logo_image_path
                ? featuredCommunity.logo_image_path.i64
                : featuredCommunity.logo_image.i64
            "
            [title]="featuredCommunity.name"
            class="avatar"
          />
        </div>
        <div *ngIf="!featuredCommunity.logo_image?.url && !featuredCommunity.logo_image_path" class="no-image-header">
          <nb-icon icon="link" status="primary"></nb-icon>
        </div>
      </div>
      <div class="featured-communities-details">
        <div class="details">
          <p class="community-name">{{ featuredCommunity.name }}</p>
          <p class="mini-description">
            {{ communityFeaturedReason ? communityFeaturedReason : featuredCommunity.mini_description }}
          </p>
        </div>
      </div>
    </div>
  </a>
  <div class="membership-toggle">
    <app-membership-toggle
      [community]="featuredCommunity"
      [shapes]="'semi-round'"
      [size]="'small'"
      [status]="'info'"
      [appearance]="'outline'"
      [isMobileWidthFull]="true"
    ></app-membership-toggle>
  </div>
</div>
