<div class="base-layout">
  <div class="container">
    <div class="one-column-layout">
      <p class="step-number">Step 1 of 3</p>
      <h2 class="welcome-text">Welcome, {{ currentUser.name }}</h2>
      <p class="sub-text">Let’s get to know you — so we can personalise your journey</p>

      <div class="goals-section">
        <h3 class="goals-heading">What are your goals?&nbsp;<span>(Select atleast 4)</span></h3>
        <div class="goals-container">
          <div
            *ngFor="let goal of goals"
            class="goals-card"
            [ngClass]="{ 'active-goal': selectedGoals.includes(goal.id) }"
            (click)="toggleGoal(goal.id)"
          >
            {{ goal | capitalizeAndRemoveUnderscore }}
          </div>
        </div>
      </div>

      <div class="skills-container">
        <h3 class="skills-heading">Skills</h3>

        <app-tag
          (tagAdd)="onTagAdd($event)"
          (tagDelete)="onTagDelete($event)"
          [backgroundColor]="'com-bg-tAnti-Flash'"
          [editable]="true"
          [fontColor]="'com-text-tYankees-Blue'"
          [tags]="tags"
          [minTagLimit]="false"
          [showAutoSuggestDropDown]="true"
          [showSuggestedTags]="true"
        ></app-tag>

        <!-- <div class="com-flex com-flex-wrap com-gap-2 com-mb-4">
          <div
            *ngFor="let skill of selectedSkills; let i = index"
            class="com-bg-blue-100 com-px-3 com-py-1 com-rounded-full com-flex com-items-center"
          >
            <span>{{ skill }}</span>
            <button class="com-ml-2 com-text-gray-600" (click)="removeSkill(i)">×</button>
          </div>
        </div> -->

        <!-- <h4 class="com-text-sm com-font-medium com-mb-2">Suggested Skills</h4> -->
        <!-- <div class="com-flex com-flex-wrap com-gap-2">
          <div
            *ngFor="let skill of suggestedSkills"
            class="com-bg-gray-100 com-px-3 com-py-1 com-rounded-full com-cursor-pointer"
            (click)="addSuggestedSkill(skill)"
          >
            {{ skill }}
          </div>
        </div> -->
      </div>

      <div class="experience-level-section">
        <h3 class="experience-heading">Where are you in your journey?</h3>
        <select [(ngModel)]="selectedJourneyLevel" class="experience-select">
          <option value="">Select your experience</option>
          <option *ngFor="let experienceLevel of EExperienceLevel | keyvalue" [value]="experienceLevel.key">
            {{ experienceLevel.value }}
          </option>
        </select>

        <div class="com-flex">
          <button nbButton status="primary" fullWidth (click)="goToNextStep()" class="com-px-6 com-py-2">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
