<div class="base-layout">
  <div class="container">
    <div class="three-column-layout medium">
      <div class="left-column"></div>
      <div [formGroup]="profileStepOneForm">
        <p class="step-number">Step 1 of 3</p>
        <h2 class="welcome-text">Welcome, {{ currentUser?.name }}</h2>
        <p class="sub-text">Let’s get to know you — so we can personalise your journey</p>

        <div class="goals-section">
          <h3 class="goals-heading">
            What are your goals?<span class="mandatory-field">*</span>&nbsp;<span class="select-atleast"
              >(Select atleast 4)</span
            >
          </h3>
          <div class="goals-container">
            <div
              *ngFor="let goal of goals"
              class="goals-card"
              [ngClass]="{ 'active-goal': profileStepOneForm.get('goals').value.includes(goal) }"
              (click)="toggleGoal(goal)"
            >
              {{ goal | capitalizeAndRemoveUnderscore }}
            </div>
          </div>
        </div>

        <div class="skills-container">
          <h3 class="skills-heading">Skills<span class="mandatory-field">*</span></h3>

          <app-tag
            (tagAdd)="onTagAdd($event)"
            (tagDelete)="onTagDelete($event)"
            [backgroundColor]="'com-bg-tAnti-Flash'"
            [editable]="true"
            [fontColor]="'com-text-tYankees-Blue'"
            [tags]="tags"
            [minTagLimit]="false"
            [showAutoSuggestDropDown]="true"
            [showSuggestedTags]="true"
          ></app-tag>

          <!-- <h4 class="com-text-sm com-font-medium com-mb-2">Suggested Skills</h4> -->
          <!-- <div class="com-flex com-flex-wrap com-gap-2">
          <div
            *ngFor="let skill of suggestedSkills"
            class="com-bg-gray-100 com-px-3 com-py-1 com-rounded-full com-cursor-pointer"
            (click)="addSuggestedSkill(skill)"
          >
            {{ skill }}
          </div>
        </div> -->
        </div>

        <div class="experience-level-section">
          <h3 class="experience-heading">Where are you in your journey?<span class="mandatory-field">*</span></h3>
          <select formControlName="experience_level" class="experience-select">
            <option value="" selected>Select your experience</option>
            <option *ngFor="let experienceLevel of EExperienceLevel | keyvalue" [value]="experienceLevel.key">
              {{ experienceLevel.value }}
            </option>
          </select>
        </div>

        <div class="continue-btn">
          <button nbButton status="primary" shape="semi-round" fullWidth (click)="goToNextStep()">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
