<div>
  <div class="text">
    <p class="heading">Review your order summary and confirm the details for submission.</p>
    <p class="sub-heading">
      Please keep in mind that all orders are subject to approval. Your campaign will go live once approved.
    </p>
  </div>

  <nb-card>
    <nb-card-header>
      <span class="left">Order Summary</span>
      <span class="right">Review your order and details</span>
    </nb-card-header>
    <nb-card-body>
      <div>
        <p class="heading">Name</p>
        <p class="value">{{ campaign?.name }}</p>
      </div>
      <div class="date-section">
        <p class="heading">Date</p>
        <p class="value">
          From <span>{{ moment(campaign.start_date).format('MMM Do, YYYY') }}</span> to
          <span>{{ moment(campaign.end_date).format('MMM Do, YYYY') }}</span> between
          <span> {{ campaign.start_time }}</span> and
          <span>{{ campaign.end_time }}</span>
        </p>
      </div>
      <div>
        <p class="heading">Status</p>
        <p class="value">{{ campaign?.status | capitalizeAndRemoveUnderscore }}</p>
      </div>
      <div>
        <p class="heading">Total</p>
        <p class="value">${{ campaign?.budget }}</p>
      </div>
      <div>
        <a [routerLink]="['/campaigns', 'edit', campaign?.id, 'order-setup']" fragment="user-information">
          <button nbButton>
            <fa-icon [icon]="icons.faEdit"></fa-icon>
          </button>
        </a>
      </div>
    </nb-card-body>
  </nb-card>
  <commudle-alert
    [info]="true"
    message="All ads are subject to approval from our team. In case of any changes needed or rejection, you will be notified by email"
  ></commudle-alert>
  <br />
  <nb-checkbox [(ngModel)]="consent" status="basic">
    By submitting this ad for approval you confirm that you have read our privacy policy and terms & conditions. You
    also understand that all the information provided here is correct and does not pose any harm to anyone who visits
    Commudle.
  </nb-checkbox>

  <br />
  <br />
  <div class="next-button">
    <button nbButton status="primary" (click)="submitForApproval()" [disabled]="!consent">
      Submit for Approval &nbsp;
      <fa-icon [icon]="icons.faArrowRight"></fa-icon>
    </button>
  </div>
</div>

<ng-template #submissionCampaign let-ref="dialogRef">
  <nb-card class="submission-dialog">
    <nb-card-header>Your Campaign is submitted for approval</nb-card-header>
    <nb-card-body>
      Your Campaign have Been submit, We will shortly give response Thank You for submitting your campaign.
      <br />
      Next Steps:
      <ol>
        <li>We will review the campaign timings, assets and other parameters.</li>
        <li>
          If everything is correct then you will receive an approval emall with a payment link. Once you make the
          payment, the campaign will be set to go live.
        </li>
        <li>In case any changes are required, our team will get back to you over email.</li>
      </ol>
      <br />
      Stay Tuned!
    </nb-card-body>
    <nb-card-footer>
      <button (click)="ref.close()" routerLink="/campaigns" nbButton status="primary">Go To My Ad Campaigns</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
