<div>
  <div class="text">
    <p class="heading">Review your order summary and confirm the details for submission.</p>
    <p class="sub-heading">
      Please keep in mind that all orders are subject to approval. Your campaign will go live once approved.
    </p>
  </div>

  <nb-card>
    <nb-card-header>
      <span class="left">Order Summary</span>
      <span class="right">Review your order and details</span>
    </nb-card-header>
    <nb-card-body>
      <div>
        <p class="heading">Name</p>
        <p class="value">{{ campaign?.name }}</p>
      </div>
      <div>
        <p class="heading">Date</p>
        <p class="value">{{ moment(campaign.start_time).format('MMM Do, YYYY - h:mm a') }}</p>
      </div>
      <div>
        <p class="heading">Status</p>
        <p class="value">{{ campaign?.status | capitalizeAndRemoveUnderscore }}</p>
      </div>
      <div>
        <p class="heading">Total</p>
        <p class="value">{{ campaign?.budget }}</p>
      </div>
      <div>
        <button nbButton>
          <fa-icon [icon]="icons.faEdit"></fa-icon>
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
