<com-card id="experts">
  <com-card-body>
    <div class="heading">
      <h3 class="title section-heading-anchor">
        EXPERTS TO FOLLOW
        <a [routerLink]="'.'" fragment="experts" class="anchor-link" aria-label="Link to experts section">
          <fa-icon [icon]="faHashtag" class="anchor-icon-small"></fa-icon>
        </a>
      </h3>
      <h4 class="sub-heading">Grow your network</h4>
    </div>
    <app-skeleton-cards
      [cards]="4"
      [ImageShapeSquare]="true"
      [ImageShapeCircle]="false"
      *ngIf="showSpinner"
    ></app-skeleton-cards>
    <div class="top-experts custom-scrollbar">
      <div class="top-expert-card" *ngFor="let topBuilder of experts | slice : 0 : 4">
        <div *appBreakpoints="'>lg'">
          <commudle-top-builders-card
            [topBuilder]="topBuilder"
            [displayDesignation]="true"
            [allignFollowButtonToRight]="true"
          ></commudle-top-builders-card>
        </div>
        <div *appBreakpoints="'<=lg'">
          <commudle-top-builders-card
            [topBuilder]="topBuilder"
            [displayDesignation]="true"
            [showFollowButton]="true"
          ></commudle-top-builders-card>
        </div>
      </div>
      <div class="load-more">
        <button routerLink="/experts" nbButton outline size="tiny" status="info">View All</button>
      </div>
    </div>
  </com-card-body>
</com-card>
