<com-card id="speakers">
  <com-card-header>
    <h6 class="title section-heading-anchor">
      <nb-icon icon="people-outline" status="success"></nb-icon>Speakers<a
        [routerLink]="'.'"
        fragment="speakers"
        class="anchor-link"
      >
        <fa-icon [icon]="faHashtag" class="anchor-icon-small"></fa-icon>
      </a>
    </h6>
  </com-card-header>
  <com-card-body
    [ngClass]="{
      'view-more': viewMoreSection && !isBot,
      'view-less': !viewMoreSection && !isBot
    }"
  >
    <app-skeleton-cards *ngIf="isLoading" [displayFollowButton]="true"></app-skeleton-cards>
    <div *ngFor="let speaker of speakers | sortBy : ['speaker.user.name'] : ['asc']" class="speaker">
      <app-user-profile-card-large
        [alignFollowToRight]="true"
        [showFollowButton]="true"
        [user]="speaker.user"
      ></app-user-profile-card-large>
    </div>
    <div *ngFor="let speaker of simpleAgendaSpeakers" class="speaker">
      <app-user-profile-card-large
        [alignFollowToRight]="true"
        [showFollowButton]="true"
        [user]="speaker.user"
      ></app-user-profile-card-large>
    </div>
  </com-card-body>
  <com-card-footer
    *ngIf="event.event_speakers_count > totalSpeakers && !isBot"
    (click)="viewMore()"
    class="com-cursor-pointer"
  >
    <div>
      {{ footerText }}
      <nb-icon *ngIf="viewMoreSection" icon="arrow-ios-downward-outline"></nb-icon>
      <nb-icon *ngIf="!viewMoreSection" icon="arrow-ios-upward-outline"></nb-icon>
    </div>
  </com-card-footer>
</com-card>
