<div class="com-flex com-justify-between com-items-center com-gap-3 com-container com-max-w-screen-xl com-px-2">
  <a [routerLink]="['/']">
    <div *ngIf="!isDarkMode">
      <img
        *appBreakpoints="'<=md'"
        alt="Commudle"
        class="com-d-block com-w-8 com-h-8 com-object-contain"
        src="{{ staticAssets.commudle_logo_72 }}"
        title="Commudle"
      />
      <img
        *appBreakpoints="'>md'"
        alt="Commudle"
        class="com-d-block com-w-auto com-h-8 com-object-contain"
        src="{{ staticAssets.commudle_logo_full }}"
        title="Commudle"
      />
    </div>
    <div *ngIf="isDarkMode">
      <img
        *appBreakpoints="'<=md'"
        alt="Commudle"
        class="com-d-block com-w-8 com-h-8 com-object-contain"
        src="{{ staticAssets.commudle_logo_72 }}"
        title="Commudle"
      />
      <img
        *appBreakpoints="'>md'"
        alt="Commudle"
        class="com-d-block com-w-auto com-h-8 com-object-contain"
        src="{{ staticAssets.commudle_logo_dark_mode }}"
        title="Commudle"
      />
    </div>
  </a>

  <div class="home-navbar">
    <ng-container *ngIf="!currentUser; else searchBox">
      <div *appBreakpoints="'<=lg'" [routerLink]="['/search']" class="logged-out-search">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </div>
      <app-search-box
        *appBreakpoints="'>lg'"
        class="md:com-col-span-1 md:com-justify-self-start"
        shape="semi-round"
      ></app-search-box>
    </ng-container>
    <ng-template #searchBox>
      <app-search-box
        class="com-col-span-4 md:com-col-span-1 md:com-justify-self-start"
        shape="semi-round"
      ></app-search-box>
    </ng-template>

    <app-navbar-menu *appBreakpoints="'>md'" class="com-justify-self-center"></app-navbar-menu>

    <div class="user-login">
      <div class="toggle-dark-mode">
        <button *ngIf="!isDarkMode" (click)="toggleDarkMode(true)" class="toggle-btn-moon" nbButton>
          <fa-icon [icon]="faMoon"></fa-icon>
        </button>
        <button *ngIf="isDarkMode" (click)="toggleDarkMode(false)" class="toggle-btn-sun !com-p-0" nbButton>
          <img src="https://json.commudle.com/icons/dark-mode-sun-icon.svg" />
        </button>
      </div>
      <div class="profile-container" *appBreakpoints="'>md'">
        <img
          *ngIf="currentUser; else guest"
          (click)="toggleDropdown($event)"
          [alt]="currentUser.name"
          [src]="currentUser.photo.i64"
          class="user-profile-image"
        />
        <commudle-navbar-user-context-menu
          *ngIf="currentUser && showUserContextMenu"
          [currentUser]="currentUser"
        ></commudle-navbar-user-context-menu>
        <ng-template #guest>
          <button (click)="login()" *appBreakpoints="'>lg'" nbButton outline size="small" class="profile">
            Login / Signup
          </button>
          <button
            (click)="login()"
            *appBreakpoints="'<=lg'"
            nbButton
            outline
            size="small"
            class="profile"
            title="Login / Signup"
          >
            <nb-icon icon="log-in-outline"></nb-icon>
          </button>
        </ng-template>
      </div>
    </div>
  </div>

  <div *appBreakpoints="'>lg'">
    <div *ngIf="showAdminSidebar" (click)="toggleSidebar()" class="home-sidebar">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
  </div>
  <div *appBreakpoints="'<=lg'">
    <div *ngIf="showAdminSidebar" (click)="toggleSidebar()" class="home-sidebar">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
    <button
      *ngIf="!currentUser"
      (click)="login()"
      nbButton
      size="small"
      status="info"
      shape="semi-round"
      class="profile"
    >
      Login
    </button>
  </div>
</div>
