p {
  @apply com-text-xs com-m-0 com-text-tYankees-Blue;
}

.message-container {
  @apply com-px-4 com-py-1 com-flex;

  &.self-message {
    @apply com-justify-end;

    .bubble {
      @apply com-bg-Azure com-text-tWhite com-overflow-visible com-w-fit com-max-w-full com-ml-auto;

      &.has-tail {
        @apply com-rounded-tr-none;
      }

      &.has-tail::after {
        @apply com-border-Azure;
        content: '';
        @apply com-absolute com-top-0 com-right-[-8px] com-w-0 com-h-0;
        border-top: 8px solid #0095ff;
        border-right: 8px solid transparent;
      }
    }

    .time {
      @apply com-text-10px com-font-normal com-text-Cadet-Grey com-flex-shrink-0;
    }

    .action-icons-hover {
      @apply com-left-auto com-right-0 com-ml-0 com-mr-0;
    }

    .chat-message {
      @apply com-text-sm com-font-normal com-text-tWhite;
      overflow-wrap: anywhere;
      word-break: break-word;

      &::ng-deep a {
        @apply com-text-sm com-font-normal com-text-tWhite;
        overflow-wrap: anywhere;
        word-break: break-all;
      }
    }
  }

  &.other-message {
    @apply com-justify-start;

    .bubble {
      @apply com-text-sm com-font-medium com-bg-tWhite com-text-tYankees-Blue com-w-fit com-max-w-full com-mr-auto;
      @apply com-overflow-visible;

      &.has-tail {
        @apply com-rounded-tl-none;
      }

      &.has-tail::before {
        content: '';
        @apply com-absolute com-top-0 com-left-[-8px] com-w-0 com-h-0;
        border-top: 8px solid #ffffff;
        border-left: 8px solid transparent;
      }
    }

    .time {
      @apply com-text-10px com-font-normal com-text-Cadet-Grey com-flex-shrink-0;
    }

    .chat-message {
      @apply com-text-sm com-font-normal com-bg-tWhite com-text-tYankees-Blue;
      overflow-wrap: anywhere;
      word-break: break-word;

      &::ng-deep a {
        @apply com-text-sm com-font-normal com-text-tYankees-Blue;
        overflow-wrap: anywhere;
        word-break: break-all;
      }
    }
  }

  .chat-message {
    @apply com-text-sm com-font-normal com-text-tWhite;
  }

  .prefix {
    @apply com-w-fit com-max-w-full;

    .avatar {
      @apply com-h-8 com-w-8 com-rounded-full com-object-cover com-object-center;
    }

    .user-container {
      @apply com-flex com-flex-col com-w-fit com-max-w-full;

      &.self-user-container {
        @apply com-items-end com-justify-end;
      }

      &.other-user-container {
        @apply com-items-start com-justify-start;
      }

      .user {
        .name {
          a {
            @apply com-text-xs com-font-medium com-text-black com-no-underline;
          }
        }
      }
    }
  }

  .replies {
    .reply-form {
      emoji-mart {
        display: none;
        width: clamp(250px, 100%, 360px);

        &.active {
          display: initial;
        }
      }

      form {
        nb-form-field {
          .emoji-picker {
            @apply com-p-2.5;
          }
        }
      }
    }
  }
}

.message-block {
  @apply com-relative com-w-fit com-max-w-[90%];
}

.message-content {
  @apply com-relative com-w-fit com-max-w-full;
}

.highlight-background {
  @apply com-bg-gray-100;
}

.action-icons-hover {
  @apply com-absolute -com-top-6 com-right-0 com-mt-0 com-mr-0 com-z-20;
}

nb-action {
  @apply com-flex com-flex-shrink-0 com-h-6 com-m-0 hover:com-bg-gray-100 com-px-1 #{!important};

  p {
    @apply com-text-Spanish-Gray com-text-xs;
  }

  fa-icon {
    @apply com-text-xs com-text-gray-400;
  }

  &.votes-action {
    @apply com-px-2px;
  }
}

.suffix {
  @apply com-border com-border-solid com-shadow-md com-rounded com-p-0 com-border-gray-100 com-m-0 com-w-fit;
  app-votes-display {
    &::ng-deep {
      .votes {
        p {
          @apply com-text-xs com-font-medium com-text-gray-500;

          nb-icon {
            @apply com-text-xs com-text-gray-400;
          }
        }
      }
    }
  }
}

.time-container {
  @apply com-flex com-items-center com-justify-end com-gap-1 com-mt-0.5;
}

.votes-display {
  @apply com-m-0 com-p-0 com-absolute com-left-6px -com-bottom-[18px] com-z-10 com-rounded-[4px] com-border com-border-solid com-border-gray-200 com-shadow-sm;
  background-color: #f1f5f9cc;
  box-shadow: 0 3px 10px rgba(15, 23, 42, 0.14);
}

.message {
  @apply com-relative com-rounded-lg com-px-2 com-py-1;
}
