@import './apps/commudle-admin/src/assets/styles/variables';

p {
  color: $gunmetal;
  font-size: $fs-13;
  line-height: 15px;
  margin: 0;
}

.message-container {
  @apply com-px-4 com-py-1 com-flex;

  &.self-message {
    @apply com-justify-end;

    .bubble {
      @apply com-bg-Azure;
      @apply com-text-white;
      @apply com-rounded-tr-none com-overflow-visible;

      &::after {
        @apply com-border-Azure;
        content: '';
        @apply com-absolute com-top-0 com-right-[-8px] com-w-0 com-h-0;
        border-top: 8px solid #0095ff;
        border-right: 8px solid transparent;
      }
    }

    .time {
      @apply com-text-10px com-font-normal com-text-Cadet-Grey com-flex-shrink-0;
    }

    .action-icons-hover {
      @apply com-left-auto com-right-0 com-ml-0 com-mr-0;
    }
  }

  &.other-message {
    @apply com-justify-start;

    .bubble {
      @apply com-text-sm com-font-medium com-bg-tWhite com-text-tYankees-Blue;
      @apply com-rounded-tl-none com-overflow-visible;

      &::before {
        content: '';
        @apply com-absolute com-top-0 com-left-[-8px] com-w-0 com-h-0;
        border-top: 8px solid #ffffff;
        border-left: 8px solid transparent;
      }
    }

    .time {
      @apply com-text-10px com-font-normal com-text-Cadet-Grey com-flex-shrink-0;
    }

    .chat-message {
      @apply com-text-sm com-font-medium com-bg-tWhite com-text-tYankees-Blue;
    }
  }

  .prefix {
    @apply com-w-full;

    .avatar {
      @apply com-h-8 com-w-8 com-rounded-full com-object-cover com-object-center;
    }

    .user-container {
      @apply com-flex com-flex-col com-items-end com-w-full;

      .user {
        .name {
          a {
            @apply com-text-xs com-font-medium com-text-black com-no-underline;
          }
        }
      }
    }
  }

  .replies {
    .reply-form {
      emoji-mart {
        display: none;
        width: clamp(250px, 100%, 360px);

        &.active {
          display: initial;
        }
      }

      form {
        nb-form-field {
          .emoji-picker {
            @apply com-p-2.5;
          }
        }
      }
    }
  }
}

.message-block {
  @apply com-relative com-w-fit com-max-w-[90%];
}

.custom-width {
  @apply com-min-w-[84px];
}

.message-content {
  @apply com-relative com-mb-2px;
}

.chat-message {
  @apply com-text-sm com-font-normal com-text-white;
}

.highlight-background {
  @apply com-bg-gray-100;
}

.action-icons-hover {
  @apply com-absolute com-top-[-22px] com-right-0 com-mt-0 com-mr-0;
  @apply com-z-[2];
}

nb-action {
  @apply com-flex com-flex-shrink-0 com-h-6 com-m-0 com-px-6px hover:com-bg-gray-100 #{!important};

  p {
    @apply com-text-Spanish-Gray com-text-xs;
  }

  fa-icon {
    @apply com-text-xs com-text-gray-400;
  }

  &.votes-action {
    @apply com-px-2px #{!important};
  }
}

nb-actions {
  @apply com-bg-white com-rounded-[4px] #{!important};
}

.suffix {
  @apply com-border com-border-solid com-shadow-md com-rounded com-p-0 com-border-gray-100 com-m-0 com-w-fit;
  app-votes-display {
    &::ng-deep {
      .votes {
        p {
          @apply com-text-xs com-font-medium com-text-gray-500;

          nb-icon {
            @apply com-text-xs com-text-gray-400;
          }
        }
      }
    }
  }
}

.time-container {
  @apply com-flex com-justify-end;
}

.votes-display {
  @apply com-m-0 com-p-0 com-absolute com-left-6px -com-bottom-4 com-z-10;
}

.message {
  @apply com-relative com-rounded-lg com-px-2 com-py-1;
}
