<nb-card>
  <nb-card-header>
    <span class="topic-form-title">New Topic</span>
    <button nbButton ghost size="small" (click)="closeForm()" shape="round">
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="topicForm" (ngSubmit)="onSubmit()" class="topic-form">
      <div class="form-field-container">
        <label class="form-field"> Topic Name <span class="required">*</span> </label>
        <input class="form-field" formControlName="name" nbInput fullWidth placeholder="Enter Topic Name" />
      </div>

      <div class="form-field-container">
        <label class="form-field"> Category <span class="required">*</span> </label>
        <input class="form-field" formControlName="category" nbInput fullWidth placeholder="Enter Category" />
      </div>

      <div class="form-field-container">
        <label class="form-field"> Add Description <span class="required">*</span> </label>
        <textarea
          class="form-field"
          formControlName="description"
          nbInput
          fullWidth
          rows="6"
          placeholder="A very long line of text which is expected to span more than two to three lines so it breaks as the text increases."
        ></textarea>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button type="submit" class="save-btn" nbButton status="primary" fullWidth [disabled]="topicForm.invalid">
      Save
    </button>
  </nb-card-footer>
</nb-card>
