<a class="com-no-underline" [routerLink]="['/communities', hackathon.community?.slug, 'hackathons', hackathon.slug]">
  <com-card class="role-card">
    <div class="card-banner">
      <commudle-banner-image
        *appBreakpoints="'>md'"
        [headerImagePath]="hackathon.banner_image?.i320 || placeholderImage"
        [name]="hackathon.name"
        [aspectRatio]="'16/7'"
        [bottomRightCurve]="false"
        [bottomLeftCurve]="false"
      ></commudle-banner-image>
      <commudle-banner-image
        *appBreakpoints="'<=md'"
        [headerImagePath]="hackathon.banner_image?.i320 || placeholderImage"
        [name]="hackathon.name"
        [aspectRatio]="'6/5'"
        [bottomRightCurve]="false"
        [topRightCurve]="false"
      ></commudle-banner-image>
      <span class="role-badge" [attr.data-role]="roleKey">
        <fa-icon *ngIf="roleIcon" [icon]="roleIcon"></fa-icon>
        {{ roleLabel }}
      </span>
    </div>

    <div class="card-content">
      <h4 class="card-title">{{ hackathon.name }}</h4>

      <div *ngIf="prizes?.length > 0" class="prize-list">
        <span *ngFor="let prize of prizes" class="prize-tag">
          <fa-icon [icon]="icons.faStar"></fa-icon>
          {{ prize }}
        </span>
      </div>

      <div class="card-meta">
        <span *ngIf="hackathon.start_date" class="meta-item">
          <fa-icon [icon]="icons.faCalendarAlt"></fa-icon>
          {{ hackathon.start_date | date : 'MMM yyyy' }}
        </span>
        <div *ngIf="hackathon.community" class="community-badge">
          <app-community-badge [community]="hackathon.community" [size]="'small'"></app-community-badge>
        </div>
      </div>
    </div>
  </com-card>
</a>
