<section>
  <canvas id="confetti" width="1" height="1"></canvas>
  <canvas id="thankyou-confetti" width="1" height="1"></canvas>
  <div class="recap-container">
    <button nbButton ghost class="navigation-button-left" (click)="prevSlide()" [disabled]="currentSlide === 0">
      <fa-icon [icon]="icons.faChevronLeft"></fa-icon>
    </button>

    <div class="carousel">
      <!-- Slides container -->
      <div
        *ngIf="statsData"
        class="container"
        [ngStyle]="{
          transform: 'translateX(-' + currentSlide * 100 + '%)',
        }"
      >
        <!-- Welcome Screen -->
        <div class="component-container-wrapper welcome">
          <div class="component-container" style.background-image="url({{ staticAssets.recap_background_screen_1 }})">
            <div class="commudle-logo">
              <img [src]="staticAssets.commudle_white_full_logo" title="commudle logo" />
            </div>
            <div class="recap-screen">
              <img [src]="staticAssets.recap_2024_screen" title="recap 2024" />
            </div>
          </div>
        </div>

        <!-- first Screen -->
        <div class="component-container-wrapper first">
          <div class="component-container" style.background-image="url({{ staticAssets.recap_background_screen_2 }})">
            <div class="profile-image">
              <img [src]="statsData?.user.photo.url" [alt]="statsData?.user.name" />
            </div>
            <p>
              Hey 👋 <br />
              <strong>{{ statsData?.user.name }}!</strong> <br />
              Let's take a look at your community journey in 2024!
            </p>
          </div>
        </div>

        <!-- Profile Visits -->
        <div class="component-container-wrapper second">
          <div class="component-container" style.background-image="url({{ staticAssets.recap_background_screen_2 }})">
            <p class="first-line">So many curious people..</p>
            <p>
              <img [src]="staticAssets.fire_illustration" />
            </p>
            <p class="second-line">Your profile was visited</p>
            <p class="page-visit-count">
              {{ statsData?.total_page_visits }}
            </p>
            <p class="third-line">times by the techies</p>
          </div>
        </div>

        <!-- Learning -->
        <div class="component-container-wrapper third">
          <div class="component-container" style.background-image="url({{ staticAssets.recap_background_screen_2 }})">
            <p class="title" *ngIf="statsData.total_events_attended > 0">You Attended</p>
            <p class="event-attended-count" *ngIf="statsData.total_events_attended > 0">
              {{ statsData.total_events_attended }}
            </p>
            <p class="first-line" *ngIf="statsData.total_events_attended > 0">📅 Events & 🏆 Hackathons</p>
            <p class="title" *ngIf="statsData.total_events_attended === 0">
              This year you attended events and can now be a champion at hackathons too!
            </p>
            <p class="event-name" *ngFor="let event_attended of statsData?.events_attended">
              {{ event_attended.name }}
            </p>
          </div>
        </div>

        <!-- Sharing Knowledge & Inspiring Others -->
        <div class="component-container-wrapper fourth">
          <div
            class="component-container"
            style.background-image="url({{ staticAssets.recap_background_screen_2 }})"
            *ngIf="
              statsData.total_labs_published > 0 &&
              statsData.total_builds_published > 0 &&
              statsData.total_speaker_events > 0
            "
          >
            <div class="content">
              <p class="count">
                {{ statsData.total_speaker_events }}
              </p>
              <p class="text">🎤 Tech talks given</p>
            </div>
            <div class="content">
              <p class="count">
                {{ statsData.total_builds_published }}
              </p>
              <p class="text">💡 Builds published</p>
            </div>
            <div class="content">
              <p class="count">
                {{ statsData.total_labs_published }}
              </p>
              <p class="text">🔮 Labs published</p>
            </div>
          </div>
          <div
            class="component-container"
            *ngIf="
              statsData.total_labs_published === 0 &&
              statsData.total_builds_published === 0 &&
              statsData.total_speaker_events === 0
            "
            style.background-image="url({{ staticAssets.recap_background_screen_2 }})"
          >
            <div class="content">
              <p class="text">
                2025 is the year when you can give your first Tech Talk and share your knowledge with the developer
                community!
              </p>
            </div>
          </div>
          <div
            class="component-container"
            *ngIf="
              statsData.total_speaker_events === 0 &&
              (statsData.total_labs_published !== 0 || statsData.total_builds_published !== 0)
            "
            style.background-image="url({{ staticAssets.recap_background_screen_2 }})"
          >
            <div class="content" *ngIf="statsData.total_builds_published > 0">
              <p class="count">
                {{ statsData.total_builds_published }}
              </p>
              <p class="text">💡 Builds published</p>
            </div>
            <div class="content" *ngIf="statsData.total_labs_published > 0">
              <p class="count">
                {{ statsData.total_labs_published }}
              </p>
              <p class="text">🔮 Labs published</p>
            </div>
            <div class="content">
              <p class="text">
                2025 is the year when you can give your first Tech Talk and share your knowledge with the developer
                community!
              </p>
            </div>
          </div>
          <div
            class="component-container"
            *ngIf="
              statsData.total_speaker_events > 0 &&
              statsData.total_labs_published === 0 &&
              statsData.total_builds_published === 0
            "
            style.background-image="url({{ staticAssets.recap_background_screen_2 }})"
          >
            <div class="content" *ngIf="statsData.total_speaker_events > 0">
              <p class="count">
                {{ statsData.total_speaker_events }}
              </p>
              <p class="text">🎤 Tech talks given</p>
            </div>
            <div class="content">
              <p class="text">2025 is the year when you can share your projects with the techies of the world!</p>
            </div>
          </div>
        </div>

        <!-- Networking -->
        <div class="component-container-wrapper fifth">
          <div
            class="component-container"
            *ngIf="
              statsData.total_communities_joined === 0 &&
                statsData.total_followed_users === 0 &&
                statsData.total_followers_gained === 0;
              else networkingData
            "
            style.background-image="url({{ staticAssets.recap_background_screen_2 }})"
          >
            <div class="content">
              <p class="text">2025 will be the year to create & grow your amazing developer network!</p>
            </div>
          </div>
          <ng-template #networkingData>
            <div class="component-container" style.background-image="url({{ staticAssets.recap_background_screen_2 }})">
              <div class="content" *ngIf="statsData.total_communities_joined">
                <p class="count">
                  {{ statsData.total_communities_joined }}
                </p>
                <p class="text">🌐 Communities joined by you</p>
              </div>
              <div class="content" *ngIf="statsData.total_followed_users">
                <p class="count">
                  {{ statsData.total_followed_users }}
                </p>
                <p class="text">🙌 People you followed</p>
              </div>
              <div class="content" *ngIf="statsData.total_followers_gained">
                <p class="count">
                  {{ statsData.total_followers_gained }}
                </p>
                <p class="text">🤩 People followed you</p>
              </div>
            </div>
          </ng-template>
        </div>

        <!-- Thank You Screen -->
        <div class="component-container-wrapper thank-you">
          <div class="component-container" style.background-image="url({{ staticAssets.recap_background_screen_1 }})">
            <div class="commudle-logo">
              <img [src]="staticAssets.commudle_white_full_logo" title="commudle logo" />
            </div>
            <div class="content">
              <p class="new-year-text">
                Wish You A Very
                <br />
                Happy New Year <br />2025
              </p>
              <img [src]="staticAssets.heart_illustration" />
              <div class="text">
                <p class="first-line">Thank You!</p>
                <p class="second-line">For being an inspiring Techie</p>
              </div>
              <br />
              <button class="share" (click)="copyTextToClipboard()">
                Share &nbsp;
                <fa-icon [icon]="icons.faShare"></fa-icon>
              </button>
              <br />
              <br />
              <button class="connect" (click)="redirectToProfile()">Connect with {{ statsData.user.name }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="action-buttons-mobile">
      <button nbButton (click)="prevSlide()" [disabled]="currentSlide === 0">
        <fa-icon [icon]="icons.faChevronLeft"></fa-icon>
      </button>
      <button nbButton (click)="nextSlide()" [disabled]="currentSlide === slidesCount - 1">
        <fa-icon [icon]="icons.faChevronRight"></fa-icon>
      </button>
    </div>

    <button
      nbButton
      ghost
      class="navigation-button-right"
      (click)="nextSlide()"
      [disabled]="currentSlide === slidesCount - 1"
    >
      <fa-icon [icon]="icons.faChevronRight"></fa-icon>
    </button>
  </div>
</section>
