<div class="community-events-list">
  <div class="header-section">
    <h1 class="page-title">Events</h1>
    <a nbButton status="primary" [routerLink]="['/admin/communities', community.id, 'event-dashboard', 'new']">
      <fa-icon [icon]="icons.faPlus"></fa-icon> &nbsp; Create New Event
    </a>
  </div>

  <!-- angular2 smart table -kept for reference-->

  <!-- <div> 
  <angular2-smart-table [settings]="tableSettings" [source]="events"></angular2-smart-table> 
  </div> -->

  <!-- Search and Filter Section -->
  <div class="search-filter-section">
    <form [formGroup]="searchForm" class="search-form">
      <div>
        <nb-form-field>
          <nb-icon icon="search" nbPrefix></nb-icon>
          <input
            [disabled]="isLoading"
            fieldSize="small"
            formControlName="name"
            fullWidth
            nbInput
            placeholder="Search by name, email, designation or tags"
            type="text"
          />
        </nb-form-field>
      </div>
    </form>

    <div class="status-filter">
      <nb-tag-list>
        <nb-tag
          *ngFor="let eventStatus of eventStatuses"
          [appearance]="activeEventStatuses && activeEventStatuses.includes(eventStatus) ? 'filled' : 'outline'"
          [text]="eventStatus"
          status="primary"
          [removable]="activeEventStatuses && activeEventStatuses.includes(eventStatus) ? 'true' : 'false'"
          [ngClass]="{ activeTag: activeEventStatuses && activeEventStatuses.includes(eventStatus) }"
          (click)="filterByTags(eventStatus)"
        ></nb-tag>
      </nb-tag-list>
    </div>
  </div>

  <!-- Events Table Section -->
  <section class="event-list-container">
    <div class="table-wrapper">
      <table *ngIf="events && events.length > 0" class="events-table">
        <thead>
          <tr class="table-header">
            <th>NAME</th>
            <th>DATE</th>
            <th>STATUS</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="isLoading" class="loading-row">
            <td colspan="4" class="loading-cell">
              <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
            </td>
          </tr>
          <ng-container *ngIf="!isLoading">
            <tr *ngFor="let event of events" class="event-row">
              <td>
                <a
                  class="event-name"
                  [routerLink]="['/admin/communities', community.slug, 'event-dashboard', event.slug]"
                  >{{ event.name }}</a
                >
              </td>
              <td>
                <app-community-events-list-date [eventData]="event"></app-community-events-list-date>
              </td>
              <td>
                <span>
                  {{ event.status | titlecase }}
                </span>
              </td>
              <td class="action-buttons">
                <div class="event-dashboard-actions">
                  <a
                    [routerLink]="
                      event.status === EEventStatuses.OPEN
                        ? ['event-dashboard', event.slug, 'registrations']
                        : event.status === EEventStatuses.COMPLETED
                        ? ['event-dashboard', event.slug, 'stats']
                        : ['event-dashboard', event.slug]
                    "
                    nbButton
                    status="basic"
                    shape="semi-round"
                    size="small"
                    ><fa-icon [icon]="icons.faTableList"></fa-icon>&nbsp; Dashboard
                  </a>
                  <select (change)="onActionSelect($event, event)">
                    <option value="more" selected disabled>More</option>
                    <option *ngIf="event.start_time" value="clone">Clone</option>
                    <option value="public-page">Public Page</option>
                    <option value="stats">Stats</option>
                  </select>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <app-pagination
      class="pagination"
      (goTo)="page = $event; getCommunityEvents()"
      (next)="page = $event; getCommunityEvents()"
      (previous)="page = $event; getCommunityEvents()"
      *ngIf="total > 0"
      [count]="count"
      [current]="page"
      [total]="total"
    ></app-pagination>
  </section>
</div>

<ng-template #cloneEvent let-data let-ref="dialogRef">
  <nb-card class="clone-event">
    <nb-card-header>
      <div>Clone of {{ data.eventData.name }}</div>
      <button ghost nbButton size="small" (click)="ref.close()">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <app-edit-event [eventId]="data.eventData.id" type="clone"></app-edit-event>
    </nb-card-body>
  </nb-card>
</ng-template>
