.community-events-list {
  @apply com-m-6;

  .page-actions {
    @apply com-p-0 com-pb-4;
    fa-icon {
      @apply com-mr-2;
    }
  }

  .activeTag {
    @apply com-bg-primary-500 com-text-tWhite;
  }

  .status-filter {
    @apply com-my-4;
  }

  .member {
    .context-menu {
      @apply com-invisible;
    }
  }

  .event-list-container {
    .table-wrapper {
      @apply com-overflow-x-auto;

      table {
        @apply com-border-collapse com-w-full com-overflow-x-auto;

        td,
        th {
          @apply com-text-left com-p-2;
        }

        tr:nth-child(even) {
          @apply com-bg-Bright-Gray;
        }

        th:nth-child(1),
        td:nth-child(1) {
          @apply com-w-[32%];
        }

        th:nth-child(2),
        td:nth-child(2) {
          @apply com-w-[26%];
        }

        th:nth-child(3),
        td:nth-child(3) {
          @apply com-w-[12%];
        }

        th:nth-child(4),
        td:nth-child(4) {
          @apply com-w-[15%];
        }

        th:nth-child(5),
        td:nth-child(5) {
          @apply com-w-[15%];
        }
      }
    }

    .pagination {
      @apply com-mt-4;
    }
  }
}
