.community-events-list {
  @apply com-m-6;
  fa-icon {
    @apply com-mr-2;
  }

  .page-actions {
    @apply com-p-0 com-pb-4;
  }

  .activeTag {
    @apply com-bg-primary-500 com-text-tWhite;
  }

  .status-filter {
    @apply com-my-4;
  }

  .member {
    .context-menu {
      @apply com-invisible;
    }
  }

  table {
    @apply com-border-collapse com-w-full com-table-fixed;

    td,
    th {
      @apply com-text-left com-p-2;
    }

    tr:nth-child(even) {
      @apply com-bg-Bright-Gray;
    }

    th:nth-child(1),
    td:nth-child(1) {
      @apply com-w-[31.25%];
    }

    th:nth-child(2),
    td:nth-child(2) {
      @apply com-w-[26.25%];
    }

    th:nth-child(3),
    td:nth-child(3) {
      @apply com-w-[11.25%];
    }

    th:nth-child(4),
    td:nth-child(4) {
      @apply com-w-[15%];
    }

    th:nth-child(5),
    td:nth-child(5) {
      @apply com-w-[15%];
    }
  }

  .pagination {
    @apply com-mt-4;
  }
}
