<!-- 
<div class="base-layout">
  <div class="container">
    <div *ngIf="showPopup && showWhatsNewPopup" class="gradient-border card">
      <com-card>
        <com-card-header>
          <div class="heading">
            <fa-icon [icon]="faBullhorn" class="heading-icon"></fa-icon>
            <p class="heading-text">What’s New</p>
          </div>
          <button nbButton ghost (click)="setCookie(); closePopup()">
            <fa-icon [icon]="faXmark" class="cross-icon"></fa-icon></button
        ></com-card-header>
        <com-card-body>
          <div *ngFor="let update of newUpdates">
            <ul>
              <commudle-whats-new-card [update]="update"></commudle-whats-new-card>
            </ul>
          </div>
        </com-card-body>
        <com-card-footer
          ><button
            nbButton
            status="primary"
            outline
            size="small"
            ghost
            (click)="openDialog(cardInfoDialog); closePopup()"
          >
            View Details</button
          ><button nbButton status="primary" outline size="small" ghost (click)="setCookie(); closePopup()">
            Got it
          </button></com-card-footer
        >
      </com-card>
    </div>
  </div>
</div> -->

<!--  -->
<div *ngIf="showPopup && showWhatsNewPopup" class="popup-overlay">
  <div class="popup-container">
    <com-card class="card-info-popup">
      <com-card-header>
        <div class="heading">
          <img [src]="staticAssets.emojis.stars" class="heading-icon" alt="Stars" />
          <div class="heading-content">
            <p class="heading-text">What's New In Commudle?</p>
            <p class="heading-subtitle">We have added new features, enhancements & bug fixes</p>
          </div>
        </div>
        <button nbButton ghost (click)="setCookie(); closePopup()">
          <fa-icon [icon]="faXmark" class="cross-icon"></fa-icon></button
      ></com-card-header>
      <com-card-body>
        <div *ngFor="let update of newUpdates" class="updates-container">
          <ul>
            <commudle-whats-new-card [update]="update"></commudle-whats-new-card>
          </ul>
        </div>
      </com-card-body>
      <com-card-footer
        ><button nbButton size="medium" ghost fullWidth (click)="setCookie(); closePopup()">
          Close
        </button></com-card-footer
      >
    </com-card>
  </div>
</div>
