<div class="base-layout">
  <div class="container">
    <div class="one-column-layout">
      <nb-card>
        <nb-card-header>
          <span>Profanity Words and domains</span>
          <button (click)="openDialog(profanityTermFormDialog)" ghost nbButton shape="round" size="small">
            <nb-icon icon="plus"></nb-icon>
            Create New Profanity Term
          </button>
        </nb-card-header>
        <nb-card-body>
          <div class="select">
            <select placeholder="Filter by" [(ngModel)]="showAllResults" (ngModelChange)="changeProfanityType()">
              <option value="">All</option>
              <option value="true">Words</option>
              <option value="false">Domains</option>
            </select>
          </div>
          <table>
            <tr>
              <th>Word</th>
              <th>Domain</th>
              <th>User</th>
            </tr>
            <tr *ngFor="let profanityTerm of profanityTerms">
              <td>{{ profanityTerm.word }}</td>
              <td>{{ profanityTerm.domain }}</td>
              <td>{{ profanityTerm.user.email }}</td>
            </tr>
          </table>
        </nb-card-body>
        <nb-card-footer>
          <div class="pagination">
            <app-pagination
              (goTo)="page = $event; getProfanityTerms()"
              (next)="page = $event; getProfanityTerms()"
              (previous)="page = $event; getProfanityTerms()"
              *ngIf="total > 0"
              [count]="count"
              [current]="page"
              [total]="total"
            ></app-pagination>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>

<ng-template #profanityTermFormDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <div>Create</div>
      <button ghost nbButton size="small" (click)="ref.close()">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="create()" [formGroup]="profanityTermForm">
        <div>
          <nb-toggle formControlName="has_word">Word</nb-toggle>
        </div>
        <div *ngIf="profanityTermForm.controls['has_word'].value">
          <label>Word<input formControlName="word" nbInput type="text" fullWidth placeholder="Word" /></label>
        </div>
        <div *ngIf="!profanityTermForm.controls['has_word'].value">
          <label>Domain<input formControlName="domain" nbInput type="text" fullWidth placeholder="Domain" /></label>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary" (click)="create(); ref.close()">Create</button>
      <button nbButton status="danger" (click)="ref.close()">cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
