.event-stats-container {
  @apply com-my-6;
  com-card {
    @apply com-mx-0 com-my-4;
  }
  .event-stats {
    a {
      width: max-content;
    }

    .page-header {
      com-card-header {
        @apply com-flex com-items-center com-justify-start;
        h3 {
          font-weight: 300;
          margin: 0;

          nb-icon {
            font-size: 2rem;
          }

          small {
            font-size: 1rem;
          }
        }
      }
    }

    com-card.stat-card.visitors {
      com-card-header {
        h3 {
          font-weight: 300;
          margin: 0;

          small {
            font-size: 1rem;
          }
        }
      }

      com-card-body {
        height: 300px;

        .chart-container {
          height: 300px;
          position: relative;
          width: 100%;
        }

        .notification p {
          margin: 0;
        }
      }
    }

    com-card.stat-card.registration {
      com-card-header {
        h3 {
          font-weight: 300;
          margin: 0;

          small {
            font-size: 1rem;
          }
        }
      }

      com-card-body.simple-registration {
        .number-group {
          background: #e5f6ef;
          display: flex;
          margin-bottom: 0.5rem;
          padding: 0.5rem;

          .total {
            margin: 0;
            padding-right: 1rem;
          }

          .gender {
            margin: 0 1rem 0 0;
            width: 75px;

            .label {
              display: inline-block;
              margin-right: 10px;
            }
          }
        }
      }

      com-card-body.custom-registration {
        .form-group {
          margin-bottom: 2rem;

          h5.form-name {
            font-weight: 300;
            margin: 0;
          }

          .number-group {
            background: #e5f6ef;
            display: flex;
            margin-bottom: 0.5rem;
            padding: 0.5rem;

            .total {
              margin: 0;
              padding-right: 1rem;
            }

            .gender {
              margin: 0 1rem 0 0;
              width: 75px;

              .label {
                display: inline-block;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }

    com-card.stat-card.attendees {
      com-card-header {
        h3 {
          font-weight: 300;
          margin: 0;
        }
      }

      com-card-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .chart-container {
          padding: 1rem 0;
          position: relative;
          text-align: center;
          width: 330px;
          @apply com-mb-4;

          p {
            font-size: 1.2rem;
            margin: 0;
          }
        }

        .numbers {
          text-align: center;

          span {
            font-size: 1.3rem;
          }
        }
      }
    }

    com-card.stat-card.event-members {
      com-card-header {
        h3 {
          @apply com-m-0 com-font-light;
        }
      }

      com-card-body {
        @apply com-flex com-flex-wrap com-justify-evenly;

        .chart-container {
          @apply com-py-4 com-px-0 com-relative com-text-center com-w-80;

          p {
            @apply com-text-xl com-m-0;
          }
        }

        .members {
          @apply com-flex com-flex-wrap com-justify-around com-items-center;
          p {
            @apply com-text-xl com-m-0 com-text-center;
          }
        }
      }
    }

    com-card.stat-card.discussions {
      com-card-header {
        h3 {
          font-weight: 300;
          margin: 0;

          nb-icon {
            font-size: 2rem;
          }
        }
      }

      com-card-body {
        nb-list {
          nb-list-item {
            p {
              margin: 0;
              padding: 0 5px;
              word-break: break-all;
            }

            .type {
              width: 20%;
            }

            .parent {
              width: 50%;
            }

            .messages {
              width: 10%;
            }
          }
        }
      }
    }

    com-card.stat-card.polls {
      com-card-header {
        h3 {
          font-weight: 300;
          margin: 0;

          nb-icon {
            font-size: 2rem;
          }
        }
      }

      com-card-body {
        nb-list {
          nb-list-item {
            display: flex;
            flex-wrap: wrap;

            p {
              margin: 0;
              padding: 0 5px;
              word-break: break-all;
            }

            .question {
              width: 30%;
            }

            .pollable {
              width: 30%;
            }

            .responses {
              width: 10%;
            }

            .results {
              width: 10%;
            }
          }
        }
      }
    }
  }
}
