<com-card
  *ngIf="userWorkHistories.length > 0 || currentUser?.id === user.id"
  class="user-work-history"
  id="work-history"
>
  <com-card-header>
    <div class="section-heading-anchor heading">
      <fa-icon [icon]="faBuilding" class="com-text-Caribbean-Green icon"></fa-icon>
      Work History
      <a [routerLink]="'.'" fragment="work-history" class="anchor-link" aria-label="Link to work history section">
        <fa-icon [icon]="faHashtag" class="anchor-icon-small"></fa-icon>
      </a>
    </div>
  </com-card-header>
  <com-card-body>
    <button
      *ngIf="currentUser?.id === user?.id"
      (click)="onOpenDialog(userWorkHistoryDialog)"
      fullWidth
      ghost
      nbButton
      status="info"
    >
      <nb-icon icon="plus-circle"></nb-icon>
      Add Work History
    </button>
    <ng-container *ngFor="let userWorkHistory of userWorkHistories">
      <app-user-work-history-card
        (reloadUserWorkHistory)="getUserWorkHistories()"
        (updateUserWorkHistory)="onOpenEditUserWorkHistoryDialog(userWorkHistoryDialog, userWorkHistory)"
        [userWorkHistory]="userWorkHistory"
        [user]="user"
      ></app-user-work-history-card>
    </ng-container>
  </com-card-body>
</com-card>

<ng-template #userWorkHistoryDialog let-data>
  <com-card class="dialog-card">
    <com-card-header>
      <span class="com-text-base com-font-semibold com-text-Yankees-Blue">
        {{ isEditing ? 'Edit Work History' : 'Add Work History' }}
      </span>
      <button (click)="onCloseDialog()" ghost nbButton shape="round" size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </com-card-header>
    <com-card-body>
      <form [formGroup]="userWorkHistoryForm" class="com-flex com-flex-col com-space-y-3">
        <label class="title">
          Job Title*
          <input formControlName="job_title" fullWidth nbInput type="text" />
        </label>
        <label class="title">
          Company*
          <input formControlName="company" fullWidth nbInput type="text" />
        </label>
        <label class="title">
          Location*
          <input formControlName="location" fullWidth nbInput type="text" />
        </label>
        <label class="title">
          Start Date*
          <input formControlName="start_date" fullWidth nbInput type="month" />
        </label>
        <nb-toggle formControlName="is_working"><span class="title">I'm currently working here</span></nb-toggle>
        <label class="title">
          End Date
          <input formControlName="end_date" fullWidth nbInput type="month" />
        </label>
        <label class="title">
          Description
          <textarea formControlName="description" fullWidth nbInput rows="5" type="text"></textarea>
        </label>
      </form>
    </com-card-body>
    <com-card-footer class="com-flex com-justify-between">
      <button (click)="onCloseDialog()" ghost nbButton size="small" status="danger">Cancel</button>
      <button
        (click)="isEditing ? updateWorkHistory(data.id) : createWorkHistory()"
        [disabled]="userWorkHistoryForm.invalid"
        nbButton
        status="success"
      >
        {{ isEditing ? 'Update' : 'Create' }}
      </button>
    </com-card-footer>
  </com-card>
</ng-template>
