<div *ngIf="isBrowser" class="video-player-container">
  <div class="video-player">
    <p *ngIf="!(started && currentUser)" class="filler">
      <nb-icon icon="video"></nb-icon>
      <br />
      {{ fillerText }}
    </p>

    <div *ngIf="currentUser && started" [ngSwitch]="videoSource" class="youtube-player">
      <app-hms-video
        (ytStatus)="ytStatus.emit($event)"
        (hlsStatus)="hlsStatus.emit($event)"
        (recordingStatus)="recordingStatus.emit($event)"
        (liveStatus)="liveStatus.emit($event)"
        *ngSwitchCase="EEmbeddedVideoStreamSources.COMMUDLE"
        [embeddedVideoStream]="embeddedVideoStream"
        [eventName]="eventName"
        [eventBannerUrl]="eventBannerUrl"
        [event]="event"
      ></app-hms-video>
      <youtube-player
        *ngSwitchCase="EEmbeddedVideoStreamSources.YOUTUBE"
        [height]="height || 360"
        [videoId]="playerUrl"
        [width]="width || 640"
      ></youtube-player>

      <div *ngSwitchCase="EEmbeddedVideoStreamSources.EXTERNAL_LINK" class="external-link-container">
        <!-- Link available -->
        <div *ngIf="playerUrl; else noLinkState" class="external-link-content">
          <div class="external-link-icon-wrapper">
            <nb-icon icon="video-outline"></nb-icon>
          </div>
          <h3 class="external-link-heading">Your session is ready</h3>
          <p class="external-link-subtext">Click the button below to join the session in a new tab</p>
          <a [href]="playerUrl" target="_blank" class="external-link-btn">
            <nb-icon icon="external-link"></nb-icon>
            Join Session
          </a>
          <p class="external-link-url">{{ playerUrl }}</p>
        </div>

        <!-- No link configured -->
        <ng-template #noLinkState>
          <div class="external-link-content">
            <div class="external-link-icon-wrapper external-link-icon-wrapper-pending">
              <nb-icon icon="clock-outline"></nb-icon>
            </div>
            <h3 class="external-link-heading">Session link not available yet</h3>
            <p class="external-link-subtext">
              The organizer hasn't shared the meeting link yet. Please check back later.
            </p>
          </div>
        </ng-template>
      </div>

      <div *ngSwitchCase="EEmbeddedVideoStreamSources.ZOOM">
        <iframe
          [height]="height || 360"
          [src]="this.playerUrl"
          [width]="width || 640"
          allow="camera; microphone"
        ></iframe>
      </div>

      <div *ngSwitchCase="EEmbeddedVideoStreamSources.OTHER" [innerHTML]="playerUrl"></div>
    </div>
  </div>
</div>
