<div class="blogs-list">
  <div class="base-layout">
    <div class="container">
      <h1 class="main-heading" *ngIf="showFeaturedBlogsSection && page === 1">Blogs from the Developer Ecosystem</h1>
      <app-loading-spinner *ngIf="isLoadingFeatured"></app-loading-spinner>
      <div class="two-column-layout medium two-columns" *ngIf="showFeaturedBlogsSection && page === 1">
        <div class="main-column" *ngIf="!isLoadingFeatured">
          <div class="featured-blogs-list">
            <div *ngFor="let featuredBlog of featuredBlogs | slice : 0 : 1">
              <commudle-blog-card
                [blog]="featuredBlog"
                [shareButton]="false"
                [showUserProfile]="true"
                [fixCardHeight]="false"
              ></commudle-blog-card>
            </div>
          </div>
        </div>
        <div class="right-column" *ngIf="!isLoadingFeatured">
          <div class="featured-blogs-list">
            <div *ngFor="let featuredBlog of featuredBlogs | slice : 1">
              <commudle-blog-card
                [blog]="featuredBlog"
                [shareButton]="false"
                [fixCardHeight]="false"
              ></commudle-blog-card>
            </div>
          </div>
        </div>
      </div>
      <div class="one-column-layout">
        <div class="blog-container">
          <h2 class="header">Relating with Developers & Communities</h2>
          <div class="tags">
            <div class="tag-list">
              <a [routerLink]="['/blogs']" [queryParams]="{ page: 1 }" class="tag-link">
                <app-tag
                  [tags]="[defaultTag.value]"
                  [shape]="'rounded'"
                  [removable]="activeTag === defaultTag.value"
                  [fontColor]="activeTag === defaultTag.value ? 'com-text-azure' : 'com-text-tYankees-Blue'"
                  [backgroundColor]="activeTag === defaultTag.value ? 'com-bg-primary-100' : 'com-bg-[#F7F9FC]'"
                ></app-tag>
              </a>

              <a
                *ngFor="let tag of tags"
                [routerLink]="['/blogs/category', tag.value]"
                [queryParams]="{ page: 1 }"
                class="tag-link"
              >
                <app-tag
                  [tags]="[tag.value]"
                  [shape]="'rounded'"
                  [removable]="activeTag === tag.value"
                  [fontColor]="activeTag === tag.value ? 'com-text-azure' : 'com-text-tYankees-Blue'"
                  [backgroundColor]="activeTag === tag.value ? 'com-bg-primary-100' : 'com-bg-[#F7F9FC]'"
                ></app-tag>
              </a>
            </div>
          </div>
          <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
          <div class="blog-list" *ngIf="!isLoading">
            <div *ngFor="let blog of blogs">
              <commudle-blog-card [blog]="blog" [shareButton]="false"></commudle-blog-card>
              <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
            </div>
          </div>
          <div class="pagination" *ngIf="blogs">
            <app-pagination
              (goTo)="page = $event; updatePagesAndCount()"
              (next)="page = $event; updatePagesAndCount()"
              (previous)="page = $event; updatePagesAndCount()"
              *ngIf="total > 0"
              [count]="15"
              [current]="page"
              [total]="total"
            ></app-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
