<div *ngIf="eventData && eventData.start_time">
  <p class="time">
    <span *ngIf="eventData.start_time" class="start-time"
      >Starts - {{ moment.tz(eventData.start_time, eventData.timezone).format('MMMM Do, YYYY') }} |
      {{ moment.tz(eventData.start_time, eventData.timezone).format('h:mm A') }} -
      {{ moment.tz(eventData.timezone).zoneAbbr() }}
    </span>
    <span *ngIf="eventData.end_time" class="end-time"
      >Ends - {{ moment.tz(eventData.end_time, eventData.timezone).format('MMMM Do, YYYY') }} |
      {{ moment.tz(eventData.end_time, eventData.timezone).format('h:mm A') }} -
      {{ moment.tz(eventData.end_time, eventData.timezone).zoneAbbr() }}
    </span>
  </p>
</div>
