<div *ngIf="eventData && eventData.start_time">
  <p>
    {{ moment.tz(eventData.start_time, eventData.timezone).format('Do MMM YYYY h:mm A') }} - ({{
      moment.tz(eventData.timezone).zoneAbbr()
    }})
  </p>
  <div *ngIf="eventData.status === 'open'">
    <app-badge
      *ngIf="moment(eventData.start_time) > moment()"
      [text]="moment(eventData.start_time).fromNow() | titlecase"
      [fontSize]="'small'"
      [borderRadius]="'round'"
      [color]="'com-bg-red-500'"
      [fontColor]="'com-text-tWhite'"
    ></app-badge>
  </div>
</div>
