<div *ngIf="eventData && eventData.start_time" class="time-container">
  <p *ngIf="eventData.start_time" class="start-time">
    <span class="date">{{ moment.tz(eventData.start_time, eventData.timezone).format('MMM Do, YYYY') }}</span>
    <span class="time">
      {{ moment.tz(eventData.start_time, eventData.timezone).format('h:mm A') }}&nbsp;
      {{ moment.tz(eventData.timezone).zoneAbbr() }}
    </span>
  </p>
  <fa-icon [icon]="faArrowRight"></fa-icon>
  <p *ngIf="eventData.end_time" class="end-time">
    <span class="date">{{ moment.tz(eventData.end_time, eventData.timezone).format('MMM Do, YYYY') }}</span>
    <span class="time">
      {{ moment.tz(eventData.end_time, eventData.timezone).format('h:mm A') }}&nbsp;
      {{ moment.tz(eventData.end_time, eventData.timezone).zoneAbbr() }}
    </span>
  </p>
</div>
