<div class="community-build">
  <div class="content">
    <h5>
      {{ cb.name }}
      <a [routerLink]="['/builds', cb.slug]" class="external-link" target="_blank">
        <small>{{ cb.publish_status }}</small>
        <small *ngIf="[EPublishStatus.draft, EPublishStatus.submitted].includes(cb.publish_status)">Preview</small>
        <nb-icon icon="external-link"></nb-icon>
      </a>
    </h5>
    <p>
      <small>
        {{ moment(cb.created_at).fromNow() }}
      </small>
    </p>
    <div *ngIf="stats" class="stats">
      <p>
        {{ stats.total_visitors }}
        <small>Total Visits</small>
      </p>
      <p>
        {{ stats.unique_visitors }}
        <small>Unique Visitors</small>
      </p>
      <p>
        {{ stats.total_votes }}
        <small>Stars</small>
      </p>
      <p>
        {{ stats.total_comments }}
        <small>Comments</small>
      </p>
    </div>
  </div>
  <div class="status">
    <p>
      <app-badge [color]="EPublishStatusColors[cb.publish_status]" [text]="cb.publish_status | titlecase"></app-badge>
    </p>
  </div>
  <div class="build-type">
    <p>
      {{ cb.build_type | titlecase }}
    </p>
  </div>
  <div class="stats">
    <div>
      <app-votes-display [icon]="'star'" [votableId]="cb.id" [votableType]="'CommunityBuild'"></app-votes-display>
    </div>

    <div class="tags">
      <app-tag
        [tags]="cb.tags"
        size="tiny"
        [backgroundColor]="'com-bg-[#F6F9FC]'"
        [fontColor]="'com-text-tYankees-Blue'"
      ></app-tag>
    </div>
  </div>
  <div class="actions">
    <div>
      <button
        *ngIf="!cb.hackathon_team"
        [routerLink]="['/builds', cb.slug, 'edit']"
        fullWidth
        nbButton
        outline
        size="tiny"
        status="info"
      >
        <nb-icon icon="edit"></nb-icon>
        Edit
      </button>
      <button
        *ngIf="cb.hackathon_team"
        [routerLink]="['/builds', cb.slug, 'edit']"
        [queryParams]="{ parent_type: EDbModels.HACKATHON_TEAM, parent_id: cb.hackathon_team.id }"
        nbButton
        outline
        size="tiny"
        status="info"
      >
        <nb-icon icon="edit"></nb-icon>
        Edit
      </button>
    </div>
    <div>
      <button (click)="openDeleteConfirmation(cb)" fullWidth nbButton outline size="tiny" status="danger">
        <nb-icon icon="close-circle"></nb-icon>
        Delete
      </button>
    </div>
  </div>
</div>

<ng-template #imageTemplate let-data>
  <div class="image-window">
    <img alt="Image" src="{{ data.imageUrl }}" title="Image" />
  </div>
</ng-template>

<ng-template #confirmDeleteTemplate let-data let-ref="dialogRef">
  <nb-card class="delete-container">
    <nb-card-header>
      <div>Are You Sure</div>
      <button ghost nbButton size="small" (click)="ref.close()" shape="round">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div>
        Are you sure you want to delete <strong>{{ data.cb.name }}</strong
        >?
      </div>
      <em>This action can not be undone</em>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="destroyBuild(data.cb.id); ref.close()">Confirm</button>
      <button nbButton status="primary" (click)="ref.close()" outline>cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
