.community-emails {
  nb-card {
    @apply com-m-0;
    height: 100vh;

    nb-list {
      nb-list-item {
        .email {
          > div {
            display: flex;

            p {
              margin: 0 1.5rem 0 0;
            }
          }
        }
      }
    }
  }
}

.email-template {
  @apply com-m-0 com-p-0 md:com-w-[600px] com-w-full com-h-full md:com-max-h-[90dvh];
  img {
    @apply com-w-full;
  }
  nb-card-header {
    @apply com-flex com-justify-between com-items-center com-py-4 com-px-6;
    h3 {
      @apply com-m-0  com-text-sm com-font-medium com-text-Yankees-Blue;
    }
    button {
      @apply com-rounded-full;
    }
  }
}
