.community-emails {
  nb-card {
    @apply com-m-0;
    height: 100vh;

    nb-list {
      nb-list-item {
        .email {
          > div {
            display: flex;

            p {
              margin: 0 1.5rem 0 0;
            }
          }
        }
      }
    }
  }
}
