.card-row {
  display: flex;
  flex-direction: column;
  margin: 0 -0.5rem;

  @media screen and (min-width: 800px) {
    flex: 1 0 calc(50% - 1rem);
    flex-direction: row;
  }
}

.card-col {
  flex: 1 0 100%;
  flex-direction: column;
  margin: 0 0.5rem;

  @media screen and (min-width: 800px) {
    flex: 1 0 calc(50% - 1rem);
    flex-direction: row;
  }
}

.basic-details {
  align-items: center;
  display: flex;

  .logo {
    @apply com-h-12 com-w-12 com-overflow-hidden;

    img {
      @apply com-bg-tWhite com-h-full com-object-contain com-rounded-lg com-w-full;
    }
  }

  h4 {
    @apply com-mx-2 com-my-0;
  }
}

.header-links {
  .people-logo {
    @apply com-mb-4 com-mt-1;
  }
  .buttons {
    @apply com-flex com-flex-wrap md:com-gap-0 com-gap-2 com-justify-evenly md:com-justify-start;
    a,
    button {
      @apply md:com-mr-4 com-m-0;
    }
  }
}

.menu {
  @apply com-border-0 com-border-b com-border-solid com-border-gray-200 com-w-auto com-overflow-auto com-scrollbar-hide com-pt-4 com-mx-6;
  a {
    @apply com-text-gunmetal com-text-sm com-leading-4 com-h-fit com-m-0 com-pt-0 com-px-6 com-pb-17px com-cursor-pointer com-no-underline;

    nb-icon,
    fa-icon {
      @apply com-text-gray-500;
    }

    img {
      @apply com-mb-1;
    }

    .title {
      @apply com-self-center com-ml-2;
    }
    span {
      @apply com-text-gray-500;
    }
  }

  nb-icon {
    @apply com-text-2xl;
  }
  fa-icon {
    @apply com-text-xl;
  }

  .active {
    @apply com-border-0 com-border-b-3 com-border-solid com-border-Blueberry;

    nb-icon,
    fa-icon,
    .title {
      @apply com-text-Blueberry;
    }
  }
}

.disabled {
  fa-icon,
  span {
    @apply com-text-gray-400 #{!important};
  }
}

.header {
  @apply com-bg-white md:com-p-4 com-px-3 com-py-4;
}

.sidebar {
  @apply com-sticky com-top-16 com-h-[calc(100vh-70px)];

  a {
    @apply com-text-inherit com-no-underline;
  }
  .action-buttons {
    @apply com-flex com-flex-col com-p-4;
    .back-admin,
    .sidebar-expand-icon {
      .icon {
        @apply com-text-Cadet-Grey;
      }
      .heading {
        @apply com-text-xs com-text-Cadet-Grey;
      }
    }

    .category-heading {
      @apply com-text-sm com-font-semibold com-my-2;
    }
    .divided-line {
      @apply com-border com-border-solid com-border-Bright-Gray com-w-full;
    }
    .action-button {
      @apply com-p-1 com-flex com-items-center com-w-full com-cursor-pointer;
      &.active {
        @apply com-bg-Bright-Gray-Light com-text-tYankees-Blue;
      }
      .icon {
        @apply com-h-8 com-w-8 com-text-Cadet-Grey com-flex com-items-center com-justify-center com-mr-2 com-flex-shrink-0;

        fa-icon,
        nb-icon,
        img {
          @apply com-text-xl com-flex;
        }
      }
      .heading {
        @apply com-text-sm com-font-light;
      }
      &.public-event-page {
        @apply com-text-Azure;
        .icon {
          @apply com-text-Azure;
        }
      }
      &.stats {
        @apply com-text-Caribbean-Green;
        .icon {
          @apply com-text-Caribbean-Green;
        }
      }
    }

    .action-button:hover {
      @apply com-bg-Bright-Gray-Light com-text-tYankees-Blue;
    }
  }
}
a {
  @apply com-flex com-items-center;
}
.right-column {
  @apply com-w-full com-bg-white com-rounded-lg md:com-mt-4 com-max-w-screen-xl com-mx-auto;
}

.event-dashboard-menu {
  @apply com-sticky com-top-16 com-z-10 com-my-4;
  nb-card {
    @apply com-mx-0;
    nb-card-body {
      @apply com-p-0;

      div {
        @apply com-flex;
        .action-button {
          @apply com-p-2 com-flex com-gap-2 com-items-center com-text-inherit com-no-underline com-w-max;
          &.active {
            @apply com-border-0 com-border-b-3 com-border-solid com-border-primary-500;
            .heading {
              @apply com-text-primary-500;
            }
          }
          .icon {
            @apply com-text-lg com-text-Cadet-Grey;
          }
          .heading {
            @apply com-text-base com-font-medium com-w-max;
          }
        }
      }
    }
  }
}

.router {
  @apply com-max-w-screen-xl com-mx-auto;
}

.header-icons {
  @apply com-flex com-w-full;
}

.header-icons-non-expanded {
  @apply com-mb-4 com-justify-center;
}

.header-icons-expanded {
  @apply com-justify-between;
}
