<com-card id="details">
  <com-card-header class="com-flex com-items-center">
    <h6 class="title section-heading-anchor">
      <a [routerLink]="'.'" fragment="details"><nb-icon icon="info-outline" status="info"></nb-icon>Details</a>
      <a [routerLink]="'.'" fragment="details" class="anchor-link" aria-label="Link to Details section">
        <fa-icon [icon]="faHashtag" class="anchor-icon-small"></fa-icon>
      </a>
    </h6>
    <app-share-button
      *ngIf="share"
      [content]="environment.app_url + '/communities/' + event.kommunity_slug + '/events/' + event.slug"
      [title]="'Meet me at ' + event.name"
      [url]="environment.app_url + '/communities/' + event.kommunity_slug + '/events/' + event.slug"
    ></app-share-button>
  </com-card-header>
  <com-card-body>
    <div
      [innerHTML]="
        !isBot && !showFullDescription
          ? (event.description | linky : { sanitizeHtml: false } | truncatetext : 2500 | safeHtml)
          : (event.description | linky : { sanitizeHtml: false } | safeHtml)
      "
    ></div>
  </com-card-body>
  <com-card-footer (click)="viewMore()" *ngIf="event.description.length > 2500 && !isBot" class="com-cursor-pointer">
    <div>
      {{ footerText }}
      <nb-icon *ngIf="!showFullDescription" icon="arrow-ios-downward-outline"></nb-icon>
      <nb-icon *ngIf="showFullDescription" icon="arrow-ios-upward-outline"></nb-icon>
    </div>
  </com-card-footer>
</com-card>
