<div>
  <div class="text">
    <p class="header">Welcome to Commudle’s Self-Serve Advertising Portal</p>
    <p class="sub-heading">This is where you can set up a campaign instantly, all on your own.</p>
    <div class="info">
      <commudle-alert [info]="true" message=" This feature is in beta"></commudle-alert>
      <br />
      <commudle-alert [info]="true">
        <div infoContent>
          Read here about how ad campaigns work
          <a href="https://www.commudle.com/policies/self-serve-advertising-portal" target="_blank">
            https://www.commudle.com/policies/self-serve-advertising-portal</a
          >
        </div>
      </commudle-alert>
    </div>
    <p class="header">Why advertise on Commudle?</p>
    <p class="sub-heading">
      Commudle is the fastest-growing professional network for developers worldwide. When you advertise with our in-feed
      native ads, you’re putting your brand in front of over 1M developers when they’re curious and in discovery mode.
    </p>
  </div>

  <commudle-alert [info]="true">
    <div infoContent>Select campaign type carefully, it cannot be edited once you move to the next step.</div>
  </commudle-alert>

  <commudle-loading-spinner *ngIf="isLoading"></commudle-loading-spinner>
  <nb-card *ngIf="!isLoading">
    <nb-card-header>Select one of the following</nb-card-header>
    <nb-card-body>
      <div *ngFor="let campaignType of campaignTypes" class="campaign-type" [ngClass]="{ disabled: campaignExists }">
        <div (click)="selectCampaignType(campaignType.id)">
          <div class="radio-button" [ngClass]="{ selected: selectedCampaignTypeId === campaignType.id }">
            <span></span>
          </div>
          <div class="campaign-info">
            <div class="header-budget-amount">
              <p class="header">{{ campaignType.name }}</p>
              <span class="budget">{{ campaignType.budget_amount }} &nbsp;per minute</span>
            </div>
            <p class="clamped-description">
              <span [innerHTML]="getClampedText(campaignType.description)"></span>&nbsp;
              <ng-container *ngIf="campaignType.description.length > 150">
                <a (click)="viewMoreClicked(formTypeDescription, campaignType); $event.stopPropagation()">View More</a>
              </ng-container>
            </p>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>

  <button
    *ngIf="!isLoading"
    nbButton
    status="primary"
    shape="semi-round"
    (click)="campaign ? updateCampaign() : createCampaign()"
    [disabled]="!selectedCampaignTypeId"
  >
    Next - Campaign Setup &nbsp;
    <fa-icon [icon]="icons.faArrowRight"></fa-icon>
  </button>
</div>

<ng-template #formTypeDescription let-data let-ref="dialogRef">
  <nb-card class="description-card">
    <nb-card-header>
      <span>{{ data.campaignType.name }}</span>
      <button ghost nbButton size="small" (click)="ref.close()" shape="round">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div [innerHTML]="data.campaignType.description"></div>
    </nb-card-body>
  </nb-card>
</ng-template>
