<div *ngIf="embeddedVideoStream?.id" class="streaming-container">
  <ng-container *ngIf="communityAuthToken; else connectSection">
    <!-- Connected state -->
    <div class="connected-header">
      <div class="connected-status">
        <fa-icon [icon]="faYoutube" class="yt-icon-connected"></fa-icon>
        <span>YouTube Connected</span>
      </div>
      <button
        nbButton
        size="small"
        ghost
        status="danger"
        (click)="openDialog(disconnectYoutubeDialog)"
        [disabled]="!!embeddedVideoStream?.youtube_broadcast"
      >
        Disconnect
      </button>
    </div>

    <ng-container *ngIf="embeddedVideoStream?.youtube_broadcast; else createStreamSection">
      <!-- Stream exists -->
      <div class="stream-info">
        <div class="stream-status">
          <nb-icon icon="checkmark-circle-2" status="success"></nb-icon>
          <span>Stream is ready</span>
        </div>
        <div class="stream-actions">
          <a
            href="https://studio.youtube.com/video/{{
              embeddedVideoStream.youtube_broadcast.broadcast_id
            }}/livestreaming"
            nbButton
            size="small"
            status="info"
            outline
            target="_blank"
          >
            <fa-icon [icon]="faYoutube"></fa-icon>
            Open YouTube Studio
          </a>
          <button
            nbButton
            size="small"
            ghost
            status="danger"
            (click)="openDialog(deleteStreamDialog)"
            [nbSpinner]="loaders.deleteStream"
            [disabled]="loaders.deleteStream"
          >
            Delete Stream
          </button>
        </div>
      </div>
    </ng-container>

    <ng-template #createStreamSection>
      <div class="create-stream">
        <p class="create-stream-text">No YouTube stream configured yet. Create one to enable live streaming.</p>
        <button
          nbButton
          size="small"
          status="success"
          outline
          (click)="openDialog(liveStreamEnabledDialog)"
          [nbSpinner]="loaders.createStream"
          [disabled]="loaders.createStream"
        >
          <fa-icon [icon]="faYoutube"></fa-icon>
          Create New Stream
        </button>
      </div>
    </ng-template>
  </ng-container>

  <!-- Not connected -->
  <ng-template #connectSection>
    <div class="connect-section">
      <fa-icon [icon]="faYoutube" class="yt-icon-disconnected"></fa-icon>
      <p class="connect-text">
        Connect your YouTube account to enable live streaming. Make sure the account has permission to create live
        streams.
      </p>
      <button nbButton size="small" status="danger" (click)="loginToYoutube()">
        <fa-icon [icon]="faYoutube"></fa-icon>
        Connect to YouTube
      </button>
    </div>
  </ng-template>
</div>

<!-- Live stream enabled dialog -->
<ng-template #liveStreamEnabledDialog let-ref="dialogRef">
  <nb-card class="stream-dialog">
    <nb-card-header class="stream-dialog-header">
      <p class="stream-dialog-title">Enable Live Streaming</p>
      <button (click)="ref.close()" nbButton ghost size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <p>
        Before you can create a stream, make sure you have enabled live streaming on your YouTube account. It can take
        up to 24 hours for this feature to be enabled.
      </p>
      <ol class="stream-dialog-steps">
        <li>
          <a href="https://www.youtube.com/live_dashboard" target="_blank">Go to YouTube Studio</a>
        </li>
        <li>Follow YouTube's instructions to enable live streaming on your account</li>
      </ol>
      <img src="/assets/images/livestream_dashboard.webp" alt="YouTube Studio" class="stream-dialog-img" />
      <p>Once enabled, click "Continue" to create a new stream.</p>
    </nb-card-body>
    <nb-card-footer class="stream-dialog-footer">
      <button (click)="ref.close()" nbButton ghost status="basic">Cancel</button>
      <button (click)="createStream(); ref.close()" nbButton status="success">Continue</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- Disconnect YouTube dialog -->
<ng-template #disconnectYoutubeDialog let-ref="dialogRef">
  <nb-card class="stream-dialog">
    <nb-card-header class="stream-dialog-header">
      <p class="stream-dialog-title">Disconnect from YouTube</p>
      <button (click)="ref.close()" nbButton ghost size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <p>
        Are you sure you want to disconnect from YouTube? This will remove the connection between your YouTube account
        and Commudle.
      </p>
    </nb-card-body>
    <nb-card-footer class="stream-dialog-footer">
      <button (click)="ref.close()" nbButton ghost status="basic">Cancel</button>
      <button (click)="logoutFromYoutube(); ref.close()" nbButton status="danger">Yes, disconnect</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- Delete stream dialog -->
<ng-template #deleteStreamDialog let-ref="dialogRef">
  <nb-card class="stream-dialog">
    <nb-card-header class="stream-dialog-header">
      <p class="stream-dialog-title">Delete Stream</p>
      <button (click)="ref.close()" nbButton ghost size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <p>Are you sure you want to delete the stream? This will remove the stream from YouTube and Commudle.</p>
    </nb-card-body>
    <nb-card-footer class="stream-dialog-footer">
      <button (click)="ref.close()" nbButton ghost status="basic">Cancel</button>
      <button (click)="deleteStream(); ref.close()" nbButton status="danger">Yes, delete</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
