.sponsors {
  @apply com-mx-0 com-my-6;
  .event-sponsors {
    @apply com-flex com-items-center com-flex-wrap com-gap-4;
    .event-sponsor {
      @apply com-h-20 com-w-64 com-flex com-gap-2 com-items-center com-border com-border-dotted com-border-Bright-Gray com-rounded-md com-relative;
      .logo {
        @apply com-h-20 com-w-20 com-p-1 com-flex com-items-center com-border-0 com-border-r com-border-dotted com-border-Bright-Gray;
        img {
          @apply com-w-full;
        }
      }

      .remove-sponsor-button {
        position: absolute;
        top: 3px;
        right: 3px;

        p {
          margin: 0;
        }
      }
    }

    .new-sponsor-button {
      @apply com-mr-2 com-my-2 com-ml-0 com-p-5px com-w-[250px] com-h-[80px];

      border: 1px dashed grey;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        nb-icon {
          font-size: 1.2rem;
        }
        color: grey;
        text-align: center;
      }
    }
  }
}

nb-tabset.new-event-sponsor-options {
  nb-tab {
    padding: 0;
  }
  form {
    .logo {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      label {
        position: relative;
        padding: 150px 0;

        > span {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          font-size: 1.5rem;
          font-weight: 300;
          color: grey;

          nb-icon {
            font-size: 4rem;
            margin-bottom: 0.5rem;
          }
        }

        input {
          display: none;
        }
      }

      .uploaded-logo {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
        img {
          max-width: 100%;
        }
      }

      .delete-logo-button {
        text-align: center;
      }
    }
  }

  .existing-sponsors {
    max-height: 80vh;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .sponsor {
      width: 120px;
      height: 100px;
      background: #d3d3d333;
      padding: 3px;
      margin: 0.5rem;
      .logo {
        margin: 0 auto;
        width: 90%;
        height: 80%;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .logo {
        @apply com-h-4/5 com-p-1 com-flex com-items-center;
        img {
          @apply com-w-full;
        }
      }

      .name {
        text-align: center;
        margin: 0;
      }
    }
  }
}

h6 {
  @apply com-m-0 com-flex com-items-center;
}

.remove-sponsor-confirmation {
  nb-card-header,
  nb-card-footer {
    @apply com-flex com-items-center com-justify-between;
  }
}
