<nb-card class="sponsors">
  <nb-card-header>
    <h6>
      <nb-icon icon="briefcase-outline"></nb-icon> &nbsp; Sponsors
      <commudle-help-section [helpDictionaryName]="'event-sponsors'"></commudle-help-section>
    </h6>
  </nb-card-header>
  <nb-card-body>
    <button (click)="openForm(sponsorFormTemplate)" *ngIf="event.editable" nbButton status="primary">
      <nb-icon icon="plus"></nb-icon> &nbsp; <span>Add Sponsor</span>
    </button>
    <div class="sponsors">
      <div class="event-sponsors">
        <!-- list of sponsors -->
        <div *ngFor="let eventSponsor of sponsors; let i = index" class="event-sponsor">
          <div class="logo">
            <img
              *ngIf="eventSponsor.sponsor.logo"
              [alt]="eventSponsor.sponsor.name"
              [src]="eventSponsor.sponsor.logo.url"
              [title]="eventSponsor.sponsor.name"
            />
          </div>
          <div class="details">
            <p class="name-link">
              <span>{{ eventSponsor.sponsor.name }}</span>
              <br />
              <a [href]="eventSponsor.sponsor.link" target="_blank">{{ eventSponsor.sponsor.link }}</a>
            </p>
            <a
              (click)="openConfirmDeleteDialog(removeSponsorTemplate, eventSponsor, i)"
              *ngIf="event.editable"
              class="remove-sponsor-button clickable"
            >
              <nb-icon icon="close-circle-outline" status="danger"></nb-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #sponsorFormTemplate let-data let-ref="dialogRef">
  <nb-card class="add-sponsor-container">
    <nb-card-header>
      <span class="heading">Add a sponsor</span>
      <button ghost nbButton size="small" shape="round" (click)="ref.close()">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <nb-tabset class="new-event-sponsor-options">
        <nb-tab tabTitle="Choose">
          <app-loading-spinner *ngIf="loadingExistingSponsors"></app-loading-spinner>
          <div class="existing-sponsors" *ngIf="!loadingExistingSponsors">
            <nb-card
              (click)="addExistingSponsor(sponsor.id)"
              *ngFor="let sponsor of existingSponsors"
              class="sponsor-card"
            >
              <nb-card-body>
                <div class="sponsor-logo">
                  <img [alt]="sponsor.name" [src]="sponsor.logo.url" [title]="sponsor.name" />
                </div>
                <div class="sponsor-name" [title]="sponsor.name">{{ sponsor.name }}</div>
              </nb-card-body>
            </nb-card>
          </div>
        </nb-tab>
        <nb-tab [active]="!loadingExistingSponsors && existingSponsors.length === 0" tabTitle="Add New">
          <form (ngSubmit)="createSponsor()" [formGroup]="sponsorForm" class="sponsor-form">
            <div class="logo">
              <div class="uploaded-logo-container">
                <div *ngIf="uploadedLogoImage" class="uploaded-logo">
                  <img alt="Profile Picture" src="{{ uploadedLogoImage }}" title="Profile Picture" />
                </div>
              </div>

              <div class="delete-logo-button">
                <button (click)="removeLogo()" *ngIf="uploadedLogoImage" nbButton outline size="tiny" status="danger">
                  <nb-icon icon="close-circle"></nb-icon>
                  Remove Logo
                </button>
              </div>

              <label *ngIf="!uploadedLogoImage" class="clickable logo-image-uploader-container">
                <span>
                  <fa-icon [icon]="icons.faImage"></fa-icon>
                  <span class="label-text"> Click to upload a logo (200x200)</span>
                </span>
                <input
                  (change)="displaySelectedLogo($event)"
                  accept="image/*"
                  formControlName="logo"
                  fullWidth
                  nbInput
                  type="file"
                />
              </label>
            </div>

            <div class="field">
              <label> Name <span class="required">*</span> </label>
              <input formControlName="name" fullWidth nbInput type="text" placeholder="Sponsor's name" />
            </div>

            <div class="field">
              <label> Link </label>
              <input formControlName="link" fullWidth nbInput type="text" placeholder="https://..." />
            </div>

            <button [disabled]="!sponsorForm.valid" nbButton status="primary" fullWidth type="submit">Submit</button>
          </form>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #removeSponsorTemplate let-ref="dialogRef" let-data>
  <nb-card class="remove-sponsor-confirmation">
    <nb-card-header>
      <div>Remove Sponsor</div>
      <button ghost nbButton size="small" shape="round" (click)="ref.close()">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body> Are you sure you want to remove this sponsor? </nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="removeSponsor(data.sponsor_id, data.index); ref.close()">Remove</button>
      <button nbButton status="primary" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
