<div class="two-column-layout medium mobile-reverse">
  <div class="main-column com-mb-20">
    <div *ngIf="isLoading; else prizesCards" class="loading">
      <commudle-loading-spinner></commudle-loading-spinner>
    </div>
    <ng-template #prizesCards>
      <div class="prizes-header">
        <fa-icon [icon]="icons.faStar" class="prizes-header-icon"></fa-icon>
        <div>
          <h2 class="prizes-title">Prizes & Rewards</h2>
          <p class="prizes-subtitle">Recognition and rewards for the most innovative solutions.</p>
        </div>
      </div>
      <div class="prizes-list">
        <div *ngFor="let prize of hackathonPrizes" class="prize-card" [ngClass]="'prize-rank-' + prize.order">
          <div class="prize-card-content">
            <div class="prize-trophy">
              <img *ngIf="prize.order === 1" [src]="staticAssets.hackathon_trophy_winner" alt="Winner Trophy" />
              <img *ngIf="prize.order === 2" [src]="staticAssets.hackathon_trophy_silver" alt="Silver Trophy" />
              <img *ngIf="prize.order === 3" [src]="staticAssets.hackathon_trophy_bronze" alt="Bronze Trophy" />
              <img *ngIf="prize.order > 3" [src]="staticAssets.hacakthon_trophy_winner_state" alt="Trophy" />
            </div>
            <div class="prize-details">
              <div class="prize-info">
                <div class="prize-badge">
                  <fa-icon [icon]="icons.faMedal" class="badge-icon"></fa-icon>
                  <span>{{ prize.name }}</span>
                </div>
                <div class="prize-amount" *ngIf="prize.prize_amount">
                  {{ prize.currency_symbol }} {{ prize.prize_amount | number }}
                </div>
                <div class="prize-description" *ngIf="prize.description" [innerHTML]="prize.description"></div>
                <div class="prize-track" *ngIf="prize.hackathon_track?.name">
                  <fa-icon [icon]="icons.faLayerGroup"></fa-icon>
                  <span>{{ prize.hackathon_track.name }}</span>
                </div>
              </div>
              <div class="prize-right">
                <div class="winners-count" *ngIf="prize.no_of_winners">
                  <fa-icon [icon]="icons.faUsers"></fa-icon>
                  <span>{{ prize.no_of_winners }} {{ prize.no_of_winners === 1 ? 'Winner' : 'Winners' }}</span>
                </div>
                <a [routerLink]="['../winners']" class="arrow-btn">
                  <fa-icon [icon]="icons.faAngleRight"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="right-column">
    <commudle-public-hackathon-details-mini-card
      [hackathon]="hackathon"
      [hrgId]="hrgId"
      [community]="community"
      [showName]="false"
      [showStatusBadge]="false"
      [showCommunityBadge]="false"
      [showPrizeHeader]="false"
      [showLocation]="false"
      [showApplySection]="false"
    ></commudle-public-hackathon-details-mini-card>
  </div>
</div>
