<div *ngIf="openForms.length > 0">
  <div class="open-forms">
    <nb-card
      *ngFor="let form of openForms"
      class="form-link"
      [routerLink]="['/fill-form', form.data_form_entity_id]"
      nbButton
      nbTooltip="{{ form.name }}"
      size="small"
    >
      <nb-card-body>
        <div class="form-name-container">
          <fa-icon
            *ngIf="!form.already_filled && form.registration_type.name === ERegistationTypes.ATTENDEE"
            [icon]="faUser"
            class="form-icon"
          ></fa-icon>
          <fa-icon
            *ngIf="!form.already_filled && form.registration_type.name === ERegistationTypes.SPEAKER"
            [icon]="faMicrophone"
            class="form-icon"
          ></fa-icon>
          <fa-icon
            *ngIf="!form.already_filled && form.registration_type.name === ERegistationTypes.FEEDBACK"
            [icon]="faCommentDots"
            class="form-icon"
          ></fa-icon>
          <fa-icon
            *ngIf="!form.already_filled && form.registration_type.name === ERegistationTypes.COMMUNICATION"
            [icon]="faComments"
            class="form-icon"
          ></fa-icon>
          <fa-icon *ngIf="form.already_filled" [icon]="faPencil" class="form-icon"></fa-icon>
          <span class="form-name"> {{ form.name }}</span>
          <span *ngIf="form.is_paid" class="paid-form">PAID</span>
        </div>
        <div class="register-now-container">
          <span *ngIf="form.is_paid" class="price">{{
            form.paid_ticket_setting.price / 100 | currency : form.paid_ticket_setting.currency
          }}</span>
          <span *appBreakpoints="'>md'" class="register-now-text">{{
            form.registration_type.name === ERegistationTypes.FEEDBACK
              ? 'Give Feedback'
              : form.registration_type.name === ERegistationTypes.COMMUNICATION
              ? 'Fill Form'
              : 'Register Now'
          }}</span>
          &nbsp;
          <fa-icon [icon]="faArrowRight"></fa-icon>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<nb-card *ngIf="eventSimpleRegistration">
  <nb-card-body>
    <nb-alert
      *ngIf="
        eventSimpleRegistration.status === EEventSimpleRegistrationStatuses.CLOSED &&
        eventSimpleRegistration.user_event_registrations_count === 0
      "
      status="primary"
    >
      Registrations will open soon!
    </nb-alert>

    <nb-alert
      *ngIf="
        eventSimpleRegistration.status === EEventSimpleRegistrationStatuses.CLOSED &&
        eventSimpleRegistration.user_event_registrations_count > 0
      "
      outline="basic"
    >
      Registrations closed
    </nb-alert>

    <button
      (click)="onAcceptRoleButton()"
      *ngIf="eventSimpleRegistration.status === EEventSimpleRegistrationStatuses.OPEN"
      nbButton
      status="primary"
    >
      <span *ngIf="!eventSimpleRegistration.current_user_registered"> Register Here! </span>
      <span *ngIf="eventSimpleRegistration.current_user_registered"> Cancel My Registration </span>
    </button>
    <p *ngIf="userEventRegistration">
      <nb-alert outline status="basic">
        Your status: {{ userEventRegistration.registration_status.name | titlecase }}
      </nb-alert>
    </p>
  </nb-card-body>
</nb-card>
