<div class="two-column-layout medium">
  <div class="main-column com-mr-2">
    <div *ngIf="userTeamDetails && userTeamDetails.length > 0" class="team-selector">
      <label class="team-selector-label">
        Selected Team: <strong>{{ selectedTeam?.name }}</strong>
      </label>
      <div *ngIf="userTeamDetails.length > 1" class="select">
        <select
          [(ngModel)]="selectedTeamId"
          (ngModelChange)="onTeamSelectionChange()"
          class="team-select-large"
          fullWidth
        >
          <option *ngFor="let team of userTeamDetails" [ngValue]="team.id">
            {{ team.name }}
          </option>
        </select>
      </div>
    </div>
    <nb-card *ngIf="shouldShowProblemStatementPrompt()" status="warning" class="problem-statement-prompt">
      <nb-card-body>
        <p><strong>Action Required:</strong> Please select a Track to continue.</p>
        <button nbButton status="primary" size="small" (click)="openProblemStatementDialog()">
          Select Problem Statement
        </button>
      </nb-card-body>
    </nb-card>
    <nb-card *ngIf="userTeamDetails && selectedTeam?.track" class="track-details">
      <nb-card-header>SELECTED TRACK</nb-card-header>
      <nb-card-body>
        <div class="track-name">{{ selectedTeam.track.name }}</div>
        <div *ngIf="selectedTeam.problem_statement" class="problem-statement-section">
          <div class="problem-label">Problem Statement:</div>
          <div [innerHTML]="selectedTeam.problem_statement.title" class="problem-name"></div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card class="project-details" *ngIf="userTeamDetails && selectedTeam?.community_build">
      <nb-card-header>PROJECT DETAILS</nb-card-header>
      <nb-card-body>
        <div class="project-name">{{ selectedTeam.community_build.name }}</div>
        <div [innerHTML]="selectedTeam.community_build.description"></div>
      </nb-card-body>
      <nb-card-footer>
        <a
          [routerLink]="['/builds', selectedTeam.community_build.slug, 'edit']"
          [queryParams]="{ parent_type: 'HackathonTeam', parent_id: selectedTeam.id }"
          target="_blank"
          >Post Updates &nbsp; <fa-icon [icon]="icons.faArrowRight"></fa-icon
        ></a>
      </nb-card-footer>
    </nb-card>
    <div *ngIf="hrgId && selectedTeam">
      <commudle-public-hackathon-registration
        [hackathon]="hackathon"
        [hrgId]="hrgId"
        [userTeamDetails]="selectedTeam"
      ></commudle-public-hackathon-registration>
    </div>
    <div class="user-channels-list">
      <nb-card>
        <nb-card-body class="channels-list-cards">
          <div *ngFor="let channel of channels">
            <a [routerLink]="['../channels', channel.id]">
              <div class="channel-list-card">
                <div>
                  <p class="name">{{ channel.name }}</p>
                  <p class="members-count">{{ channel.member_count }} members</p>
                  <p class="descriptions">{{ channel.description }}</p>
                </div>
              </div>
            </a>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="right-column">
    <div *ngIf="hrgId && selectedTeam">
      <nb-card class="team-details-container">
        <nb-card-header>
          <h5>{{ selectedTeam.name }}</h5>
          <button nbButton ghost status="primary" (click)="openEditTeamMembersDialog()">
            <fa-icon [icon]="icons.faEdit"></fa-icon> &nbsp; Edit Team Members
          </button>
        </nb-card-header>
        <nb-card-body>
          <div *ngFor="let hur of selectedTeam.hackathon_user_responses; let i = index" class="team-detail">
            <div class="details">
              <span>{{ hur.name }}</span>
              <span>{{ hur.user_email }}</span>
              <span>{{ hur.invite_status | capitalizeAndRemoveUnderscore }}</span>
            </div>
            <!-- <div>
              <button
                nbButton
                ghost
                status="danger"
                (click)="openDialogBox(removeTeamMember, hur, userTeamDetails[selectedTeamIndex], i, selectedTeamIndex)"
                *ngIf="userTeamDetails[selectedTeamIndex].user_id !== hur.user_id"
              >
                <fa-icon [icon]="icons.faUserMinus"></fa-icon> &nbsp; Remove
              </button>
            </div> -->
            <div
              *ngIf="
                hur.invite_status === EInvitationStatus.INCOMPLETE_APPLICATION ||
                hur.invite_status === EInvitationStatus.INVITED
              "
            >
              <button
                nbButton
                ghost
                status="danger"
                (click)="openDialogBox(resendInvite, hur, selectedTeam, i)"
                *ngIf="selectedTeam?.user_id !== hur.user_id"
              >
                Resend Invite
              </button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<ng-template #removeTeamMember let-data let-ref="dialogRef">
  <nb-card class="remove-teammate-dialogbox">
    <nb-card-header>
      <span> Are you Sure you want to remove {{ data.hur.name }}?</span>
      <button ghost nbButton size="small" (click)="ref.close()" shape="round">
        <fa-icon [icon]="icons.faXmark"></fa-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      If you remove {{ data.hur.name }}({{ data.hur.user_email }}) from the team, they will also lose access to all the
      channels of this hackathon.
    </nb-card-body>
    <nb-card-footer>
      <button
        nbButton
        status="danger"
        (click)="removeMember(data.hur, data.team, data.index, data.team_index); ref.close()"
      >
        remove
      </button>
      <button nbButton status="primary" ghost (click)="ref.close()">cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #resendInvite let-data let-ref="dialogRef">
  <nb-card class="resend-invite-dialogbox">
    <nb-card-header>
      <span>Resend Invitation</span>
      <button ghost nbButton size="small" (click)="ref.close()" shape="round">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>

    <nb-card-body>
      <p>
        Are you sure you want to resend an invite to <strong>{{ data.hur.name }}</strong
        >?
      </p>
      <p>
        This will resend an invitation email to <strong>{{ data.hur.user_email }}</strong> and allow them to accept or
        reject your hackathon team invite.
      </p>
    </nb-card-body>

    <nb-card-footer>
      <button nbButton status="primary" (click)="resendInviteToMember(data.hur, data.team); ref.close()">
        Resend Invite
      </button>
      <button nbButton ghost (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #editTeamMembersDialog let-data let-ref="dialogRef">
  <nb-card class="edit-team-members-dialog">
    <nb-card-header>
      <span>Edit {{ data.selectedTeam.name }} Members</span>
      <button ghost nbButton size="small" (click)="ref.close()" shape="round">
        <fa-icon [icon]="icons.faXmark"></fa-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <commudle-public-hackathon-teammate-form
        [hackathonUserResponse]="data.hackathonUserResponse"
        [hackathonResponseGroup]="data.hackathonResponseGroup"
        [hasTeammateOption]="hasTeammateOption"
        [hackathon]="hackathon"
        [team]="data.selectedTeam"
        [hasSubmitButton]="true"
        (submitTeammateDetailsEvent)="submitTeammateDetails($event, ref, data.hackathonUserResponse.id)"
      ></commudle-public-hackathon-teammate-form>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #problemStatementDialog let-data let-ref="dialogRef">
  <nb-card class="problem-statement-dialog">
    <nb-card-header>
      <span>Select Track </span>
      <button ghost nbButton size="small" (click)="ref.close()" shape="round">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <commudle-public-hackathon-project-details-form
        [hackathon]="hackathon"
        [hackathonUserResponse]="data.selectedTeam.hackathon_user_responses[0]"
        [team]="data.selectedTeam"
        [hidePreviousButton]="true"
        [submitButtonText]="'Submit'"
        (createOrUpdateProjectDetails)="submitProjectDetails($event, ref)"
      ></commudle-public-hackathon-project-details-form>
    </nb-card-body>
  </nb-card>
</ng-template>
