<nb-card class="mail-popup">
  <nb-card-header>
    <span>{{ isBulk ? 'Send Dashboard Link to All Mentors' : 'Send Dashboard Link to ' + mentor.name + '' }}</span>
    <button nbButton size="small" shape="round" (click)="closeDialogBox()">
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <commudle-alert [info]="true" message="This will send a pre-formatted email "></commudle-alert>
    <div class="message-field">
      <label for="message" class="message">Message (Optional)</label>
      <editor [init]="tinyMCE" [(ngModel)]="message"></editor>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      status="primary"
      shape="semi-round"
      fullWidth
      (click)="sendDashboardLink()"
      [nbSpinner]="isSubmitting"
      [disabled]="isSubmitting"
    >
      Send
    </button>
  </nb-card-footer>
</nb-card>
