<nb-card class="user-build">
  <nb-card-body>
    <a [routerLink]="['/builds', build.slug]">
      <div class="build-card-image">
        <commudle-banner-image
          *ngIf="build.thumbnail_image"
          [headerImagePath]="
            build.thumbnail_image ? build.thumbnail_image.i320 : staticAssets.community_build_empty_state
          "
          [name]="build.name"
          [bottomRightCurve]="false"
          [bottomLeftCurve]="false"
          [aspectRatio]="'4/3'"
        ></commudle-banner-image>
        <commudle-banner-image
          *ngIf="build.images"
          [headerImagePath]="build.images[0] ? build.images[0]?.url : staticAssets.community_build_empty_state"
          [name]="build.name"
          [bottomRightCurve]="false"
          [bottomLeftCurve]="false"
          [aspectRatio]="'4/3'"
        ></commudle-banner-image>
      </div>
    </a>
    <div class="content">
      <a [routerLink]="['/builds', build.slug]">
        <div class="details">
          <h4 class="user-build-name">{{ build.name }}</h4>
          <p class="time">{{ moment(build.created_at).format('MMM Do, YYYY') }}</p>
          <app-user-profile-card-small [user]="build.user"></app-user-profile-card-small>
        </div>
      </a>
      <div class="votes">
        <app-votes-display
          [icon]="'star'"
          [votableId]="build.id"
          [votableType]="'CommunityBuild'"
          [votesDirectionVertical]="true"
          size="mini"
        ></app-votes-display>
      </div>
    </div>
  </nb-card-body>
</nb-card>
