<div class="delete-channel">
  <div class="delete-channel-warning">
    <nb-icon icon="alert-triangle-outline"></nb-icon>
    <div>
      <p class="delete-channel-heading">Are you sure you want to delete this channel?</p>
      <p class="delete-channel-info">
        A deleted channel can be recovered for up to 5 days by sending an email to more&#64;commudle.com.
      </p>
    </div>
  </div>

  <form [formGroup]="deleteForm" (ngSubmit)="submitForm()" class="delete-channel-form">
    <div class="form-field-container">
      <label class="form-label">Type <strong>YES</strong> to confirm</label>
      <input nbInput fullWidth formControlName="confirmation" type="text" placeholder="YES" />
    </div>
    <button nbButton [disabled]="!deleteForm.valid" outline status="danger" type="submit">Delete Channel</button>
  </form>
</div>
