:host {
  div.data-form-container {
    // max-width: 920px;
    // margin: 0 auto;

    .submit-button {
      @apply com-px-2;
      &.sticky {
        @apply com-py-1 com-sticky com-bottom-0 com-bg-transparent;
      }
    }

    nb-card {
      @apply com-mx-0 com-my-4;
    }

    .card-body {
      @apply com-px-4 com-py-5;

      input {
        @apply com-mt-2 com-mb-0;
      }

      .description {
        @apply com-mt-4;
        label {
          @apply com-mt-4;
          textarea {
            @apply com-mt-4 com-mb-0;
          }
        }
      }
    }

    label {
      @apply com-text-base com-font-medium com-text-Charcoal;
    }

    .data-form-question-choices-container {
      margin-bottom: 0;

      .add-question-button {
        @apply com-mt-2 com-mb-6;
        button {
          @apply com-text-sm com-font-medium com-text-Ultramarine-Blue com-border-Ultramarine-Blue com-bg-white com-rounded-10;
        }
      }
    }

    .cdk-drag-placeholder {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      @apply com-min-h-[120px] com-border-0 com-rounded-xl com-bg-slate-200 com-min-w-full;
    }
    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .question-container {
      @apply com-flex com-flex-col com-font-semibold com-text-xl com-justify-start;

      label {
        @apply com-text-xl com-font-semibold;
      }

      input {
        @apply com-mt-4 com-mb-0;
      }

      textarea {
        @apply com-mt-1 com-mb-0;
      }

      .choices-container {
        @apply com-flex com-flex-col com-font-semibold com-text-xl com-justify-start;

        .choice-container {
          nb-icon {
            @apply com-text-base;
          }
        }
      }
    }
  }
  .questions-form-section {
    .drag-button {
      @apply com-p-0 com-flex com-justify-center;

      button {
        @apply com-cursor-move;
      }
    }

    label {
      @apply com-text-base com-font-medium com-text-Yankees-Blue;
    }

    input {
      @apply com-text-gray-500 com-bg-Ghost-White com-rounded-lg com-text-sm com-font-medium;
    }
    .question-form-footer {
      @apply com-flex com-space-x-2 com-items-center com-mt-20 com-align-middle md:com-flex-row sm:com-flex-col com-justify-between;

      .add-question-footer {
        @apply com-text-sm com-text-gray-900 com-pl-px com-pr-4;

        nb-icon {
          @apply com-h-5 com-w-5 com-text-gray-500;
        }
      }

      .toggle {
        @apply md:com-border-l com-border-Bright-Gray com-border-solid com-border-y-0 com-border-r-0
        com-text-sm com-font-medium com-border-0 md:com-pl-4 com-pl-0 com-block md:com-flex md:com--ml-2;
        span {
        }
      }

      .delete-question-footer {
        @apply com-text-sm com-font-medium com-text-Infra-Red;

        nb-icon {
          @apply com-h-5 com-w-5;
        }
      }

      .context-menu {
        @apply md:com-hidden com-flex com-justify-end;

        .context-button {
          @apply com-flex com-justify-between;
        }
      }
    }

    nb-card-body {
      @apply com-pt-4 com-px-6 com-pb-6;
    }
  }
}
.footer-icons {
  @apply md:com-flex com-hidden;
}

.required-text {
  @apply com-text-sm com-text-gray-900;
}
.description-textbox {
  @apply com-mt-3 com-w-full;
}
.field {
  @apply com-flex com-gap-x-4 com-mt-4;

  .add-description-button {
    @apply com-bg-white com-text-sm com-font-medium com-text-Yankees-Blue md:com-flex com-hidden com-border com-border-solid com-border-Bright-Gray com-rounded-lg;
    nb-icon {
      @apply com-h-4 com-w-4 com-mr-1;
    }
  }

  .question-settings {
    @apply com-justify-start com-flex com-w-full md:com-w-auto;

    .dropdown {
      @apply com-flex com-items-center com-text-Yankees-Blue com-h-8 com-p-3 com-cursor-pointer com-bg-white com-border com-border-solid com-border-Bright-Gray com-rounded-lg com-w-full md:com-w-[172px] com-relative;
      nb-icon {
        @apply com-h-4 com-w-4 com-mr-1 com-pointer-events-none com-relative com-z-10;
      }
      select {
        @apply com-border-0 com-bg-white com-rounded-lg com-cursor-pointer com-text-sm com-w-full md:com-w-auto com-text-Yankees-Blue com-font-medium com-absolute com-inset-0 com-pl-8;
        option {
          @apply com-text-sm com-text-Yankees-Blue;
        }
      }
    }
  }
}
.required-choice {
  @apply com-mt-5 com-w-full com-flex com-items-center;
}
.close-circle-outline {
  @apply com-ml-2 com-text-red-500 com-h-5 com-w-5;
}
.add-choice-button {
  @apply com-mt-3;
}
.required-below {
  @apply com-align-middle com-flex;
}
.required-title {
  @apply com-flex com-flex-col;
}

.required-question {
  @apply com-text-sm com-font-semibold com-text-Infra-Red com-ml-2px;
}
