<div class="event-dashboard-actions" *ngIf="eventData">
  <a
    [routerLink]="
      eventData.status === EEventStatuses.OPEN
        ? ['event-dashboard', eventData.slug, 'registrations']
        : ['event-dashboard', eventData.slug]
    "
    nbButton
    hero
    status="info"
    size="tiny"
  >
    Dashboard
  </a>
  <button
    *ngIf="eventData.start_time"
    (click)="openCloneEventWindow(cloneEvent)"
    outline
    nbButton
    status="info"
    size="tiny"
  >
    Clone
  </button>
</div>

<ng-template #cloneEvent let-data let-ref="dialogRef">
  <nb-card class="clone-event">
    <nb-card-header>
      <div>Clone of {{ eventData.name }}</div>
      <button ghost nbButton size="small" (click)="ref.close()">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <app-edit-event [eventId]="eventData.id" type="clone"></app-edit-event>
    </nb-card-body>
  </nb-card>
</ng-template>
