<div>
  <div class="user-details-container">
    <div class="com-flex com-justify-between">
      <app-user-profile-card-large [user]="user"></app-user-profile-card-large>
      <p class="timeago" title="{{ moment(userResponse.created_at).format('dddd Do MMM, YYYY h:mm A') }}">
        {{ moment(userResponse.created_at).fromNow() }}
      </p>
    </div>
    <p class="contact-details">
      <small>{{ user.email === 'Not Visible' ? 'Email: Not Visible' : user.email }}</small>
      <small *ngIf="user.phone"> / {{ user.phone === 'Not Visible' ? 'Phone: Not Visible' : user.phone }}</small>
    </p>
    <p *ngIf="user.user_domain" class="user-domain">
      <small>Domain: {{ EDomain[user.user_domain] }}</small>
    </p>
    <p *ngIf="user.experience_level" class="user-experience">
      <small>Experience Level: {{ EExperienceLevel[user.experience_level] }}</small>
    </p>
    <div class="social-links">
      <a *ngIf="user.github" href="{{ user.github | completeurl : 'github' }}" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a *ngIf="user.twitter" href="{{ user.twitter | completeurl : 'twitter' }}" target="_blank">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a *ngIf="user.linkedin" href="{{ user.linkedin | completeurl : 'linkedin' }}" target="_blank">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
      <a *ngIf="user.personal_website" href="{{ user.personal_website | completeurl }}" target="_blank">
        <fa-icon [icon]="faInfo"></fa-icon>
      </a>
    </div>
  </div>
  <div class="registration-status-details">
    <div *ngIf="['speaker', 'attendee'].includes(registrationType.name)">
      <div class="registration-status-list">
        <div
          (click)="event.editable && openConfirmationDialogBox(rs.id)"
          *ngFor="let rs of registrationStatuses"
          class="registration-status-button"
        >
          <p
            [ngClass]="{ 'selected-status': rs.id === userResponse.registration_status.id, disabled: !event.editable }"
          >
            {{ rs.name | titlecase }}
          </p>
        </div>
      </div>
      @if (event.editable) {
      <div class="action-buttons">
        @if (userResponse.registration_status.name === 'shortlisted') {
        <div class="rsvp-container">
          <button
            (click)="openRSVPEmailWindow()"
            nbButton
            class="rsvp-button"
            fullWidth
            outline
            shape="semi-round"
            size="small"
            ghost
          >
            <fa-icon [icon]="faEnvelope" class="rsvp-icon"></fa-icon>
            <span class="rsvp-text">Send RSVP Email</span>
          </button>
          <button
            (click)="openNotesDialogBox(userResponse.id)"
            nbButton
            class="notes-button"
            outline
            shape="semi-round"
            size="small"
            ghost
          >
            <app-badge
              *ngIf="userResponse.notes.length > 0"
              [text]="userResponse.notes.length.toString()"
              [color]="'com-bg-red-500'"
              [fontColor]="'com-text-tWhite'"
              [position]="'top right'"
              borderRadius="full-round"
            ></app-badge>
            <fa-icon [icon]="faStickyNote" class="notes-icon"></fa-icon>
          </button>
        </div>
        } @else if (userResponse.registration_status.name === 'confirmed') { @if (userResponse.entry_pass === null) {
        <div class="entry-pass-container">
          <button
            (click)="generateEntryPass()"
            nbButton
            class="entry-pass-button"
            fullWidth
            outline
            size="small"
            shape="semi-round"
            ghost
          >
            <span class="entry-pass-text">Generate Entry Pass</span>
          </button>
          <button
            (click)="openNotesDialogBox(userResponse.id)"
            nbButton
            class="notes-button"
            outline
            size="small"
            shape="semi-round"
            ghost
          >
            <app-badge
              *ngIf="userResponse.notes.length > 0"
              [text]="userResponse.notes.length.toString()"
              [color]="'com-bg-red-500'"
              [fontColor]="'com-text-tWhite'"
              [position]="'top right'"
              borderRadius="full-round"
            ></app-badge>
            <fa-icon [icon]="faStickyNote" class="notes-icon"></fa-icon>
          </button>
        </div>
        } @else {
        <div class="entry-pass-container">
          <button
            (click)="openEntryPassEmailWindow()"
            nbButton
            class="entry-pass-button"
            fullWidth
            outline
            size="small"
            shape="semi-round"
            ghost
          >
            <fa-icon [icon]="faEnvelope" class="entry-pass-icon"></fa-icon>
            <span class="entry-pass-text">Send Entry Pass :</span>
            <span class="entry-pass-code">{{ userResponse.entry_pass.unique_code }}</span>
          </button>
          <button
            (click)="openNotesDialogBox(userResponse.id)"
            nbButton
            class="notes-button"
            outline
            size="small"
            shape="semi-round"
            ghost
          >
            <app-badge
              *ngIf="userResponse.notes.length > 0"
              [text]="userResponse.notes.length.toString()"
              [color]="'com-bg-red-500'"
              [fontColor]="'com-text-tWhite'"
              [position]="'top right'"
              borderRadius="full-round"
            ></app-badge>
            <fa-icon [icon]="faStickyNote" class="notes-icon"></fa-icon>
          </button>
        </div>
        <div class="attendee-buttons">
          @if(userResponse.entry_pass.attendance){
          <button
            (click)="toggleAttendance()"
            status="success"
            nbButton
            size="small"
            fullWidth
            outline
            shape="semi-round"
          >
            <fa-icon [icon]="icons.faCheck"></fa-icon> &nbsp; Attendance
          </button>
          }@else {<button (click)="toggleAttendance()" nbButton size="small" fullWidth outline shape="semi-round" ghost>
            <fa-icon [icon]="icons.faCheck"></fa-icon> &nbsp; Attendance</button
          >} @if(userResponse.entry_pass.uninvited){
          <button
            (click)="toggleUninvited()"
            status="warning"
            nbButton
            size="small"
            fullWidth
            outline
            shape="semi-round"
          >
            Uninvited
          </button>
          }@else {<button (click)="toggleUninvited()" nbButton size="small" fullWidth outline shape="semi-round" ghost>
            Uninvited</button
          >}
        </div>
        }} @else {
        <button
          (click)="openNotesDialogBox(userResponse.id)"
          nbButton
          class="notes-only-button"
          fullWidth
          outline
          size="small"
          shape="semi-round"
          ghost
        >
          <fa-icon [icon]="faStickyNote" class="notes-only-icon"></fa-icon>
          <span>Add Note</span>
          @if(userResponse.notes && userResponse.notes.length > 0){
          <app-badge
            [text]="userResponse.notes.length.toString()"
            [color]="'com-bg-red-500'"
            [fontColor]="'com-text-tWhite'"
            [position]="'top right'"
            borderRadius="full-round"
          ></app-badge>
          }
        </button>
        }
      </div>
      }
    </div>
  </div>
</div>

<ng-template #confirmDeleteEntryPassDialog let-data let-ref="dialogRef">
  <nb-card class="confirm-delete-entry-pass">
    <nb-card-header>
      <div>Are You Sure?</div>
      <button ghost nbButton size="small" (click)="ref.close()">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div>This user already has an entry pass, are you sure you want to change the status?</div>
      <em>Changing the status will delete the entry pass.</em>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary" (click)="updateRegistrationStatus(data.registrationStatusId); ref.close()">
        Confirm
      </button>
      <button nbButton status="danger" (click)="ref.close()">cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #notesListDialog let-data let-ref="dialogRef">
  <nb-card class="notes-dialog-box dialog-box">
    <nb-card-header>
      <div>Notes</div>
      <button ghost nbButton size="small" (click)="ref.close()" shape="round">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div class="add-note-container">
        <textarea nbInput placeholder="Enter your note..." [(ngModel)]="newNoteText" rows="2" fullWidth></textarea>
        <button
          (click)="createNotes(data.dfergId)"
          nbButton
          status="primary"
          [disabled]="!newNoteText?.trim()"
          class="add-note-button"
          size="small"
        >
          <fa-icon [icon]="icons.faCheck" class="notes-icon"></fa-icon>
          <span>Add Note</span>
        </button>
      </div>

      <div class="notes">
        @for (note of userResponse.notes; track note.id; let i = $index) {
        <div class="note">
          <div class="text-container">
            <p class="text">{{ note.text }}</p>
            <small class="created"
              >{{ moment(note.created_at).format('MMM DD YYYY').toUpperCase() }} - {{ note.created_by.name }}</small
            >
          </div>
          <div class="actions">
            <fa-icon [icon]="icons.faXmark" (click)="openDeleteNoteConfirmation(note.id, i)"></fa-icon>
          </div>
        </div>
        }
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #confirmDeleteNoteDialog let-data let-ref="dialogRef">
  <nb-card class="confirm-delete-note">
    <nb-card-header>
      <div>Delete Note</div>
      <button ghost nbButton size="small" (click)="ref.close()" shape="round">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div>Are you sure you want to delete this note?</div>
      <em>This action cannot be undone.</em>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="destroyNote(data.noteId, data.index); ref.close()">Delete</button>
      <button nbButton status="basic" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
