.user-details-container {
  .timeago {
    @apply com-text-gray-400;
  }
  app-user-profile-card-large {
    &::ng-deep {
      .user-profile-large {
        margin: 10px 0;
        background-color: transparent;
      }
    }
  }

  .contact-details,
  .user-domain,
  .user-experience {
    @apply com-m-0;
  }

  .social-links {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    a {
      color: black;
      margin: 0 0.5rem;

      fa-icon {
        @apply com-text-black;
      }
    }
  }
}

.registration-status-details {
  .registration-status-list {
    display: flex;
    flex-wrap: wrap;
    > div {
      padding: 5px;
      border: 0.5px solid lightgrey;
      cursor: pointer;
      p {
        font-size: 12px;
        margin: 0;
        color: blue;

        &.disabled {
          color: lightgrey;
        }

        &.selected-status {
          color: green;
          font-weight: bold;
        }
      }
    }
  }

  .entry-pass-container,
  .rsvp-container {
    @apply com-flex com-items-center com-gap-2;

    .entry-pass-button,
    .rsvp-button {
      @apply com-flex com-items-center com-gap-2;

      .entry-pass-icon,
      .rsvp-icon {
        @apply com-text-gray-600;
      }

      .entry-pass-text,
      .rsvp-text {
        @apply com-text-sm com-font-medium com-text-gray-700;
      }
    }

    .notes-button {
      .notes-icon {
        @apply com-text-orange-400;
        font-size: 18px;
      }
    }
  }

  .action-buttons {
    .entry-pass-code {
      margin: 0;
    }

    .active-uninvited {
      background-color: blue;
      color: white;
    }

    .active-attendance {
      background-color: green;
      color: white;
    }
  }
}

.confirm-delete-entry-pass,
.confirm-delete-note {
  nb-card-header,
  nb-card-footer {
    @apply com-flex com-justify-between com-items-center;
  }
}

.create-note-dialog-box {
  @apply com-w-full md:com-w-[20dvw];
}

.notes-dialog-box {
  @apply com-w-full md:com-w-[30dvw];

  .add-note-container {
    .add-note-button {
      @apply com-mt-3;

      .notes-icon {
        @apply com-mr-2;
      }
    }
  }

  .notes {
    .note {
      @apply com-flex com-gap-2 com-py-4;
      .text-container {
        @apply com-w-full;
        .text {
          @apply com-m-0 com-text-Yankees-Blue com-text-sm com-italic;
        }
      }
    }
    .note:not(:last-child) {
      @apply com-border-0 com-border-b com-border-solid com-border-Bright-Gray;
    }
    .actions {
      @apply com-items-end;
      fa-icon {
        @apply com-text-red-500 com-p-1 com-m-2 com-cursor-pointer;
      }
    }
  }
  .created {
    @apply com-text-gray-500 com-text-xs;
  }
}

.dialog-box {
  nb-card-header {
    @apply com-flex com-items-center com-justify-between;
  }
}
