<ng-container *ngIf="user">
  <!-- 1. Featured Stats -->
  <div class="user-stats">
    <commudle-user-features-stats *appBreakpoints="'<=md'" [user]="user"></commudle-user-features-stats>
  </div>

  <!-- 7. Badges (mobile) -->
  <app-user-badges *appBreakpoints="'<=md'" [user]="user"></app-user-badges>

  <!-- 2. About -->
  <app-user-basic-social [user]="user"></app-user-basic-social>

  <!-- 3. Work History -->
  <app-user-work-history [user]="user"></app-user-work-history>

  <!-- 4. Jobs -->
  <app-user-job *ngIf="hiring" [user]="user"></app-user-job>

  <!-- 5. Resume -->
  <app-user-resume [user]="user"></app-user-resume>

  <!-- 6. Speaker Sessions & Hackathon Judging & Volunteer -->
  <app-user-contributions
    [user]="user"
    [showBuilds]="false"
    [showLabs]="false"
    [showTalksAtEvents]="true"
    [showAttendedEvents]="false"
    [showCommunities]="false"
  ></app-user-contributions>
  <commudle-user-hackathon-speaker-judge-mentor [user]="user"></commudle-user-hackathon-speaker-judge-mentor>

  <!-- 8. Labs -->
  <app-user-contributions
    [user]="user"
    [showBuilds]="false"
    [showLabs]="true"
    [showTalksAtEvents]="false"
    [showAttendedEvents]="false"
    [showCommunities]="false"
  ></app-user-contributions>

  <!-- 9. Builds -->
  <app-user-contributions
    [user]="user"
    [showBuilds]="true"
    [showLabs]="false"
    [showTalksAtEvents]="false"
    [showAttendedEvents]="false"
    [showCommunities]="false"
  ></app-user-contributions>

  <!-- 10. Content -->
  <app-user-social [user]="user"></app-user-social>

  <!-- 11. Hackathon Participant -->
  <commudle-user-hackathons [user]="user"></commudle-user-hackathons>

  <!-- 12. Events (Attended) -->
  <app-user-contributions
    [user]="user"
    [showBuilds]="false"
    [showLabs]="false"
    [showTalksAtEvents]="false"
    [showAttendedEvents]="true"
    [showCommunities]="false"
  ></app-user-contributions>

  <!-- 13. Communities -->
  <app-user-contributions
    [user]="user"
    [showBuilds]="false"
    [showLabs]="false"
    [showTalksAtEvents]="false"
    [showAttendedEvents]="false"
    [showCommunities]="true"
  ></app-user-contributions>

  <!-- 14. Certificates -->
  <app-user-certificates [user]="user"></app-user-certificates>
</ng-container>
