<div class="hackathon-team-confirmation-container">
  <div class="base-layout thin">
    <div class="container">
      <div class="one-column-layout">
        <commudle-loading-spinner *ngIf="isLoading; else confirmationContainer"></commudle-loading-spinner>
        <ng-template #confirmationContainer>
          <div *ngIf="this.showPageDetails" class="confirmation-card">
            <div class="confirmation-header" *ngIf="judge">
              <div class="check-icon">{{ judge.invite_status === EInvitationStatus.ACCEPTED ? '🎉' : '❌' }}</div>
              <div *ngIf="judge.invite_status === EInvitationStatus.ACCEPTED">
                <h1 class="title">
                  Congratulations! You are selected as a {{ judge.judge_type }} at {{ hackathon.name }}
                </h1>
                <h3 class="sub-heading">
                  We’re excited to have your expertise onboard. Here's everything you need to prepare.
                </h3>
              </div>
              <div *ngIf="judge.invite_status === EInvitationStatus.REJECTED">
                <h1 class="title">You have declined the invitation</h1>
                <h3 class="sub-heading">
                  If you did this by mistake, please contact the person who sent you the invite
                </h3>
              </div>
              <button
                class="com-mt-2"
                *ngIf="judge.invite_status === EInvitationStatus.ACCEPTED && judge.judge_type === 'mentor'"
                nbButton
                status="primary"
                [routerLink]="[
                  '/communities',
                  hackathon.community.slug,
                  'hackathons',
                  hackathon.slug,
                  'mentor-dashboard'
                ]"
              >
                Go to Mentor Dashboard
              </button>
            </div>

            <!-- User profile section -->
            <div class="profile-card-container">
              <ng-container *ngIf="currentUser && isProfileCompleted">
                <div class="profile-card">
                  <div class="profile-preview-card">
                    <div class="card-heading">Profile Card Preview</div>
                    <app-user-profile-card-large [user]="currentUser"></app-user-profile-card-large>
                  </div>

                  <div class="profile-completion-card">
                    <div class="card-heading">Profile's Progress</div>
                    <commudle-profile-completion-progress></commudle-profile-completion-progress>
                  </div>
                </div>

                <div class="missing-field-card">
                  <commudle-user-profile-missing-fields></commudle-user-profile-missing-fields>
                </div>
              </ng-container>

              <ng-container *ngIf="currentUser && !isProfileCompleted">
                <commudle-user-profile [currentUser]="currentUser"></commudle-user-profile>
                <commudle-userprofile-details
                  [userProfileDetails]="userProfileDetails"
                  [username]="currentUser.username"
                ></commudle-userprofile-details>
              </ng-container>
            </div>

            <!-- Hackathon judges section -->
            <div *ngIf="hackathon.judges_count > 0 || isLoading" class="leaders-card">
              <h2 class="card-heading">Follow Hackathon Judges</h2>
              <commudle-loading-spinner *ngIf="isLoading"></commudle-loading-spinner>
              <ng-container *ngIf="!isLoading && hackathonJudges?.length > 0">
                <div *ngFor="let user of hackathonJudges" class="leader">
                  <app-user-profile-card-large
                    [alignFollowToRight]="true"
                    [showFollowButton]="true"
                    [user]="user"
                    appearanceOfFollowButton="outline"
                  ></app-user-profile-card-large>
                </div>
              </ng-container>
            </div>

            <!-- Community leaders section -->
            <div *ngIf="communityLeaders?.length > 0 || isLoadingCommunityLeaders" class="leaders-card">
              <h2 class="card-heading">Follow Community Leaders</h2>
              <commudle-loading-spinner *ngIf="isLoadingCommunityLeaders"></commudle-loading-spinner>
              <ng-container *ngIf="!isLoadingCommunityLeaders && communityLeaders?.length > 0">
                <div *ngFor="let user of communityLeaders" class="leader">
                  <app-user-profile-card-large
                    [alignFollowToRight]="true"
                    [showFollowButton]="true"
                    [user]="user"
                    appearanceOfFollowButton="outline"
                  ></app-user-profile-card-large>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
