<div
  class="background-image"
  [ngStyle]="{ 'background-image': 'url(\'' + staticAssets.user_profile_complete_background + '\')' }"
>
  <div class="base-layout">
    <div class="container">
      <div class="three-column-layout thin">
        <div class="left-column"></div>
        <div>
          <p class="step-number">Step 3 of 3</p>
          <h2 class="welcome-text">Build Your Network</h2>
          <p class="sub-text">Here are your first few steps — join, follow, and engage!</p>
          <div *ngIf="communities.length > 0">
            <h2 class="community-heading">Recommended Communities</h2>
            <div class="community-container">
              <div *ngFor="let community of communities" class="communities-list-cards">
                <commudle-featured-communities-card
                  [featuredCommunity]="community"
                  [showJoinBtnBottom]="true"
                ></commudle-featured-communities-card>
              </div>
            </div>
          </div>
          <div *ngIf="speakers.length > 0">
            <h2 class="speakers-heading">Techies to Follow!</h2>
            <div class="speakers-container">
              <div *ngFor="let speaker of speakers" class="speakers-list-cards">
                <app-user-profile-card-large
                  [showFollowButton]="true"
                  [alignFollowToRight]="false"
                  [showAbout]="true"
                  [user]="speaker"
                  [isMobileWidthFull]="true"
                  [showSpeakersCount]="true"
                  [maxUserNameLength]="15"
                  [showHiringLookingTags]="false"
                  [appearanceOfFollowButton]="'outline'"
                  [alignSpeakerCountToRight]="true"
                ></app-user-profile-card-large>
              </div>
            </div>
          </div>
          <div *ngIf="upcomingEvents.length > 0">
            <h2 class="events-heading">Upcoming Events</h2>
            <div class="events-container">
              <div *ngFor="let upcomingEvent of upcomingEvents" class="events-list-cards">
                <commudle-event-mini-card
                  [attendedEvent]="upcomingEvent"
                  [iconSize]="'medium'"
                  [cardType]="'upcomingEvents'"
                ></commudle-event-mini-card>
              </div>
            </div>
          </div>
          <button nbButton status="primary" shape="semi-round" fullWidth [routerLink]="'/dashboard'">
            Go to Dashboard
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
