<nb-card class="forums-dashboard-container">
  <nb-card-header>
    <div class="header-content">
      <fa-icon (click)="toggleSidebar()" [icon]="faIcons.faBars"></fa-icon>
      <span>Forums</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="sidebar">
      <commudle-sidebar
        [eventName]="sidebarEventName"
        [forWindow]="false"
        [showExpandedButton]="false"
        [textSize]="ESidebarHeading.MEDIUM"
      >
        <div class="categories-content">
          <p class="heading">Categories</p>
          @for (category of categories$ | async; track category.slug) {
          <a [routerLink]="['category', category.slug]" routerLinkActive="active">
            <div class="category-item">
              {{ category.name }}
            </div>
          </a>
          }
        </div>
      </commudle-sidebar>
    </div>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </nb-card-body>
</nb-card>
