<nb-card class="forums-dashboard-container">
  <nb-card-header>
    <div class="header-content">
      <fa-icon (click)="toggleSidebar()" [icon]="faIcons.faBars"></fa-icon>
      <span>Forums</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="sidebar">
      <commudle-sidebar
        [eventName]="sidebarEventName"
        [forWindow]="false"
        [showExpandedButton]="false"
        heading="Categories"
        [textSize]="ESidebarHeading.MEDIUM"
      >
        <div class="categories-content">
          <a
            *ngFor="let category of categories$ | async"
            [routerLink]="['category', category.slug]"
            routerLinkActive="active"
          >
            <div class="category-item">
              {{ category.name }}
            </div>
          </a>
        </div>
      </commudle-sidebar>
    </div>
    <router-outlet></router-outlet>
  </nb-card-body>
</nb-card>
