<div class="team-assignments-compact">
  @if(currentSlot?.round_mentor_slot_bookings && currentSlot.round_mentor_slot_bookings.length > 0) {
  <div class="team-cell-wrapper" [class.disabled]="isSlotCancelled" (click)="onSlotClick()">
    @if(round.round_mentor_slot_rule.max_teams_per_slot === currentSlot.round_mentor_slot_bookings.length){
    <div class="team-count-badge-full">Filled</div>
    }@else {
    <div class="team-count-badge">
      {{ currentSlot.round_mentor_slot_bookings.length }}
    </div>
    }
    <div class="team-summary custom-scrollbar">
      @for(rmsb of currentSlot.round_mentor_slot_bookings; track rmsb.hackathon_team.id) {
      <span class="team-name">
        {{ rmsb.hackathon_team.name }}
        @if(rmsb.hackathon_team_round_score?.status === EHackathonTeamRoundScoreStatus.SUBMITTED) {
        <span class="scored" [title]="'Current round score: ' + rmsb.hackathon_team_round_score.total_score">
          {{ rmsb.hackathon_team_round_score.total_score }}
        </span>
        } @else{
        <app-badge
          text="Score was pending or not submitted"
          [fontColor]="'com-text-tAuro-Metal-Saurus'"
          [fontSize]="'xx-small'"
          [borderRadius]="'round'"
          [color]="'com-bg-Bright-Gray-Light'"
        ></app-badge>
        }
      </span>
      }
    </div>
  </div>
  } @else if(currentSlot) {
  <div class="no-teams-actions">
    <button
      class="no-teams-compact add-btn"
      (click)="onSlotClick()"
      [disabled]="isSlotCancelled || !round?.round_mentor_slot_rule?.booking_open"
    >
      <fa-icon [icon]="icons.faPlus"></fa-icon>Add teams
    </button>
    @if(isSlotCancelled) {
    <button class="no-teams-compact activate-btn" (click)="onActivateSlot($event)">
      <fa-icon [icon]="icons.faCheck"></fa-icon>
      Activate slot
    </button>
    } @else {
    <button class="no-teams-compact cancel-btn" (click)="onCancelSlot($event)">
      <fa-icon [icon]="icons.faXmark"></fa-icon>
      Cancel slot
    </button>
    }
  </div>
  } @else {
  <div class="no-slot-message">NO SLOT</div>
  }
</div>

<ng-template #cancelConfirmDialog let-data let-ref="dialogRef">
  <nb-card class="dialog-box-card">
    <nb-card-header>
      <div>Cancel Slot</div>
      <button ghost nbButton size="small" (click)="ref.close(false)" shape="round">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <p>Are you sure you want to cancel this slot?</p>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="ref.close(true)">Yes, Cancel</button>
      <button nbButton (click)="ref.close(false)">No</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #activateConfirmDialog let-data let-ref="dialogRef">
  <nb-card class="dialog-box-card">
    <nb-card-header>
      <div>Activate Slot</div>
      <button ghost nbButton size="small" (click)="ref.close(false)" shape="round">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <p>Are you sure you want to open this slot?</p>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="success" (click)="ref.close(true)">Yes, Open</button>
      <button nbButton (click)="ref.close(false)">No</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
