<!-- Desktop Layout: vertical list in right column -->
<div *appBreakpoints="'>md'" class="desktop-stats">
  <h4 class="desktop-stats-title">AT A GLANCE</h4>

  <app-skeleton-cards *ngIf="isLoading" [cards]="4"></app-skeleton-cards>

  <ng-container *ngIf="!isLoading">
    <div class="features-container">
      <div class="desktop-stat-row" *ngFor="let stat of stats">
        <div class="desktop-stat-left">
          <div class="stat-icon {{ stat.colorClass }}">
            <fa-icon [icon]="stat.icon"></fa-icon>
          </div>
          <span class="stat-label">{{ stat.label }}</span>
        </div>
        <span class="stat-count">{{ stat.count }}</span>
      </div>
    </div>
  </ng-container>
</div>

<!-- Mobile Layout: 2x2 grid of stat cards -->
<div *appBreakpoints="'<=md'" class="mobile-stats">
  <app-skeleton-cards *ngIf="isLoading" [cards]="3"></app-skeleton-cards>

  <ng-container *ngIf="!isLoading">
    <div class="stat-card" *ngFor="let stat of stats">
      <div class="stat-icon {{ stat.colorClass }}">
        <fa-icon [icon]="stat.icon"></fa-icon>
      </div>
      <div class="stat-info">
        <span class="stat-count">{{ stat.count }}</span>
        <span class="stat-label">{{ stat.label }}</span>
      </div>
    </div>
  </ng-container>
</div>
