<app-loading-spinner *ngIf="!campaign"></app-loading-spinner>

<div *ngIf="campaign" class="campaign-container">
  <h3 class="title">Campaign Details</h3>

  <div class="campaign-info">
    <p class="campaign-item"><strong>Campaign Name:</strong> {{ campaign.name ? campaign.name : '--' }}</p>

    <p class="campaign-item">
      <strong>Start Date:</strong> {{ campaign.start_at ? (campaign.start_at | date : 'longDate') : '--' }}
    </p>

    <p class="campaign-item">
      <strong>End Date:</strong> {{ campaign.end_at ? (campaign.end_at | date : 'longDate') : '--' }}
    </p>
    <p class="campaign-item">
      <strong>Start Time:</strong>
      {{ campaign.start_at ? (campaign.start_at | date : 'HH:mm') : '--' }}
    </p>

    <p class="campaign-item">
      <strong>End Time:</strong>
      {{ campaign.end_at ? moment.utc(campaign.end_at, 'HH:mm').local().format('HH:mm') : '--' }}
    </p>

    <p class="campaign-item">
      <strong>Budget:</strong> {{ campaign.budget ? (campaign.budget | currency : campaign.currency_type) : '--' }}
    </p>

    <p class="campaign-item">
      <strong>Status: </strong>
      <span>{{ campaign.status ? (campaign.status | capitalizeAndRemoveUnderscore) : '--' }}</span>
    </p>

    <p class="campaign-item">
      <strong>Created At:</strong> {{ campaign.created_at ? (campaign.created_at | date : 'longDate') : '--' }}
    </p>

    <p class="campaign-item"><strong>CTA Label:</strong> {{ campaign.cta_label ? campaign.cta_label : '--' }}</p>

    <div class="campaign-item" *ngIf="campaign.unapproved_reasons?.length > 0">
      <p *ngFor="let reason of campaign.unapproved_reasons">{{ reason.text }}</p>
    </div>

    <p class="campaign-item"><strong>Created by:</strong> {{ campaign.user?.name }}</p>
  </div>

  <div class="campaign-section">
    <h6>Campaign Assets</h6>
    <ul *ngIf="campaign.campaign_assets?.length; else noAssets" class="assets-list">
      <li *ngFor="let asset of campaign.campaign_assets" class="asset-item">
        <img [src]="asset.image.url ? asset.image.url : '--'" [alt]="asset.headline" class="asset-image" />
        <p>
          Url:
          <a [href]="asset.url ? asset.url : '--'">{{ asset.url ? asset.url : '--' }}</a>
        </p>
      </li>
    </ul>
    <ng-template #noAssets> No Assets </ng-template>
  </div>
</div>
