<com-card [ngClass]="horizontalScroll ? 'com-w-72' : 'com-w-full'">
  <com-card-body>
    <a [routerLink]="['/users', speakersContent.user.username]">
      <p class="title">{{ speakersContent.title }}</p>
      <p class="description">{{ speakersContent.description }}</p>
      <div class="tags-and-logo">
        <app-tag
          *ngIf="speakersTagsLength > 0"
          [tags]="getTagNames()"
          [backgroundColor]="'com-bg-Azure-opacity-10'"
          [size]="'tiny'"
          [fontColor]="'com-text-Dark-Jungle-Green'"
          [maximumTag]="3"
        ></app-tag>
        <img
          alt="{{ speakersContent.title }}"
          src="{{ speakersContent.favicon }}"
          title="{{ speakersContent.title }}"
        />
      </div>
    </a>
  </com-card-body>
</com-card>
