:host {
  display: block;
}

.login-container {
  @apply com-m-0 md:com-w-[26dvw] com-w-[90dvw] com-h-full;
  nb-card-header {
    h2 {
      @apply com-text-Yankees-Blue com-text-lg com-font-semibold;
    }
  }

  .login-form {
    @apply com-flex com-flex-col;

    &::before {
      color: rgb(151, 160, 175);
      content: 'or';
      display: block;
      font-size: 11px;
      line-height: 1;
      margin-bottom: 16px;
      text-align: center;
      text-transform: uppercase;
    }
    input {
      @apply com-mb-4;
    }
    button {
      @apply com-mt-6;
      @apply com-mb-8;
    }
  }
}
