<div class="base-layout">
  <div class="container">
    <div class="one-column-layout">
      <div class="com-min-h-screen com-flex com-items-center com-justify-center" *ngIf="isLoading">
        <commudle-loading-spinner></commudle-loading-spinner>
      </div>
      <div *ngIf="!isLoading" class="hackathon-header">
        <div class="hackathon-header-text">
          <commudle-public-hackathon-details-mini-card
            [hackathon]="hackathon"
            [hrgId]="hrgId"
            [community]="community"
            [showDatesRow]="false"
            [showInterestedMembers]="false"
            [showCountdown]="false"
            [showPrizeHeader]="false"
          ></commudle-public-hackathon-details-mini-card>
        </div>
        <div class="hackathon-header-banner" *ngIf="hackathon.banner_image" appTilt [maxTilt]="8" [scale]="1.02">
          <commudle-banner-image
            *appBreakpoints="'>md'"
            [name]="hackathon.name"
            [headerImagePath]="hackathon.banner_image.url"
            [aspectRatio]="'2/1'"
          ></commudle-banner-image>
          <commudle-banner-image
            *appBreakpoints="'<=md'"
            [name]="hackathon.name"
            [headerImagePath]="hackathon.banner_image.url"
            [aspectRatio]="'2/1'"
          ></commudle-banner-image>
        </div>
      </div>
      <div #stickySentinel class="sticky-sentinel"></div>
      <div
        class="menu-items-footer menu-items-footer-sticky"
        *ngIf="!isLoading"
        [ngClass]="{ 'sticky-active': isTabsSticky, 'com-rounded-t-10': showBannerImage }"
      >
        <div class="page-menu">
          <div class="menu-items d-flex">
            <ng-container *appBreakpoints="'<=md'">
              <div *ngIf="hasDashboardAndChannelAccess" class="dashboard-btn-wrapper">
                <a [routerLink]="['user-dashboard']">
                  <button comButton status="primary" size="tiny" shape="semi-round" class="dashboard-btn">
                    <fa-icon [icon]="icons.faArrowTrendUp"></fa-icon> &nbsp; Participant Team Dashboard
                  </button>
                </a>
              </div>
              <div *ngIf="userRoles.is_mentor" class="dashboard-btn-wrapper">
                <a [routerLink]="['mentor-dashboard']">
                  <button comButton status="info" size="tiny" shape="semi-round" class="dashboard-btn">
                    <fa-icon [icon]="icons.faGavel"></fa-icon> &nbsp; Mentor Dashboard
                  </button>
                </a>
              </div>
              <div *ngIf="userRoles.is_judge" class="dashboard-btn-wrapper">
                <a [routerLink]="['judge-dashboard']">
                  <button comButton status="warning" size="tiny" shape="semi-round" class="dashboard-btn">
                    <fa-icon [icon]="icons.faGavel"></fa-icon> &nbsp; Judge Dashboard
                  </button>
                </a>
              </div>
            </ng-container>
            <div>
              <a class="d-flex" [routerLink]="['.']" [class.active]="activeFragment === '' && !showBannerImage">
                <fa-icon [icon]="icons.faInfoCircle"></fa-icon>
                <span class="title">Overview</span>
              </a>
            </div>
            <div *ngIf="hackathon.updates_count > 0">
              <a class="d-flex" [routerLink]="'.'" fragment="updates" [class.active]="activeFragment === 'updates'">
                <fa-icon [icon]="icons.faStar"></fa-icon>
                <span class="title">Updates</span>
              </a>
            </div>

            <div *ngIf="hackathon.tracks_count > 0">
              <a class="d-flex" [routerLink]="['tracks']" routerLinkActive="active">
                <fa-icon [icon]="icons.faAward"></fa-icon>
                <span class="title">Tracks</span>
              </a>
            </div>

            <div *ngIf="hackathon.sponsors_count > 0">
              <a class="d-flex" [routerLink]="'.'" fragment="sponsors" [class.active]="activeFragment === 'sponsors'">
                <fa-icon [icon]="icons.faSackDollar"></fa-icon>
                <span class="title">Sponsors</span>
              </a>
            </div>

            <div *ngIf="hackathon.faqs_count > 0">
              <a class="d-flex" [routerLink]="'.'" fragment="faq" [class.active]="activeFragment === 'faq'">
                <fa-icon [icon]="icons.faCircleQuestion"></fa-icon>
                <span class="title">FAQs</span>
              </a>
            </div>

            <div *ngIf="hasCollaborationCommunities">
              <a
                class="d-flex"
                [routerLink]="'.'"
                fragment="collaborations"
                [class.active]="activeFragment === 'collaborations'"
              >
                <fa-icon [icon]="icons.faHandshake"></fa-icon>
                <span class="title">Collaborations</span>
              </a>
            </div>

            <!-- TODO Done to be later -->
            <!-- <div>
            <a [routerLink]="['schedule']" routerLinkActive="active">
              <fa-icon [icon]="icons.faGlobe"></fa-icon>
              <p class="name">schedule</p>
            </a>
          </div> -->
            <div *ngIf="hackathon.judges_count > 0">
              <a class="d-flex" [routerLink]="['judges']" routerLinkActive="active">
                <fa-icon [icon]="icons.faUser"></fa-icon>
                <span class="title">Judges</span>
              </a>
            </div>
            <div *ngIf="hasDashboardAndChannelAccess">
              <a class="d-flex" [routerLink]="['channels']" routerLinkActive="active">
                <fa-icon [icon]="icons.faHashtag"></fa-icon>
                <span class="title">Channels</span>
              </a>
            </div>
            <div *ngIf="hackathon.prizes_count > 0">
              <a class="d-flex" [routerLink]="['prizes']" routerLinkActive="active">
                <fa-icon [icon]="icons.faAward"></fa-icon>
                <span class="title">Prizes</span>
              </a>
            </div>
            <div>
              <a class="d-flex" [routerLink]="['winners']" routerLinkActive="active">
                <fa-icon [icon]="icons.faTrophy"></fa-icon>
                <span class="title">Winners</span>
              </a>
            </div>
            <div *ngIf="hackathon.projects_count > 0">
              <a class="d-flex" [routerLink]="['projects']" routerLinkActive="active">
                <fa-icon [icon]="icons.faLaptopCode"></fa-icon>
                <span class="title">Projects</span>
              </a>
            </div>
            <ng-container *appBreakpoints="'>md'">
              <div *ngIf="hasDashboardAndChannelAccess" class="dashboard-btn-wrapper">
                <a [routerLink]="['user-dashboard']">
                  <button comButton status="primary" size="tiny" shape="semi-round" class="dashboard-btn">
                    <fa-icon [icon]="icons.faArrowTrendUp"></fa-icon> &nbsp; Participant Team Dashboard
                  </button>
                </a>
              </div>
              <div *ngIf="userRoles.is_mentor" class="dashboard-btn-wrapper">
                <a [routerLink]="['mentor-dashboard']">
                  <button comButton status="info" size="tiny" shape="semi-round" class="dashboard-btn">
                    <fa-icon [icon]="icons.faGavel"></fa-icon> &nbsp; Mentor Dashboard
                  </button>
                </a>
              </div>
              <div *ngIf="userRoles.is_judge" class="dashboard-btn-wrapper">
                <a [routerLink]="['judge-dashboard']">
                  <button comButton status="warning" size="tiny" shape="semi-round" class="dashboard-btn">
                    <fa-icon [icon]="icons.faGavel"></fa-icon> &nbsp; Judge Dashboard
                  </button>
                </a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="router" *ngIf="!isLoading">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
