<nb-card>
  <nb-card-body>
    <div class="events">
      <section *ngIf="upcomingEvents.length >= 1" class="upcoming-events-section">
        <h2 class="heading">
          <div class="heading-btn"><fa-icon [icon]="faCalendarDays"></fa-icon></div>
          Upcoming Events
        </h2>
        <div class="upcoming-events-container">
          <a
            *ngFor="let event of upcomingEvents"
            [routerLink]="['/communities', event.kommunity_slug, 'events', event.slug]"
            [ngClass]="{
              'upcoming-multiple-events': upcomingEvents.length > 1,
              'upcoming-single-event': upcomingEvents.length === 1
            }"
          >
            <div>
              <commudle-event-large-card [event]="event"></commudle-event-large-card>
            </div>
          </a>
        </div>
      </section>
      <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <section *ngIf="pastEvents.length >= 1" class="past-events">
        <h2 class="heading">
          <div class="heading-btn"><fa-icon [icon]="faCalendarCheck"></fa-icon></div>
          Past Events
        </h2>
        <div *ngIf="isLoadingPastEvents">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="!isLoadingPastEvents" class="past-events-container">
          <a
            *ngFor="let event of pastEvents"
            [routerLink]="['/communities', event.kommunity_slug, 'events', event.slug]"
          >
            <nb-card class="past-container">
              <nb-card-body>
                <div *ngIf="event.header_image_path">
                  <commudle-banner-image
                    [headerImagePath]="event.header_image_path"
                    [name]="event.name"
                    [bottomRightCurve]="false"
                    [bottomLeftCurve]="false"
                  ></commudle-banner-image>
                </div>
                <div *ngIf="!event.header_image_path" class="no-image-header">
                  <nb-icon icon="link" status="primary"></nb-icon>
                </div>
                <div class="past-details">
                  <div class="past-details-container">
                    <div class="detailss">
                      <div class="completed">
                        Completed
                        <nb-icon
                          icon="checkmark-circle-2"
                          nbTooltip="Completed"
                          status="success"
                          class="com-m-auto"
                        ></nb-icon>
                      </div>
                      <div class="interested-members">
                        <span>Interested Members: {{ event.interested_members_count }}</span>
                      </div>
                    </div>
                    <p class="event-name">
                      {{ event.name }}
                      <span *ngIf="event.kommunity_id !== community.id" class="collaboration">(Collaboration)</span>
                    </p>
                    <p class="event-timings">{{ moment(event.start_time).format('dddd, MMM Do, YYYY') }}</p>
                  </div>
                  <a class="view-details">View Details</a>
                </div>
              </nb-card-body>
            </nb-card>
          </a>
        </div>
        <app-pagination
          (goTo)="page = $event; getPastEvents()"
          (next)="page = $event; getPastEvents()"
          (previous)="page = $event; getPastEvents()"
          *ngIf="total > 0"
          [count]="count"
          [current]="page"
          [total]="total"
        ></app-pagination>
      </section>
    </div>
  </nb-card-body>
</nb-card>
