<nb-card class="certificate-recipient-preview-dialog">
  <nb-card-header class="com-flex com-justify-between com-items-center">
    <span>Preview — {{ recipient.email }}</span>
    <button ghost nbButton size="small" (click)="close()" shape="round">
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

    <commudle-alert *ngIf="errorMessage" [error]="true" [errorMessage]="errorMessage"></commudle-alert>

    <object
      *ngIf="pdfObjectUrl"
      [attr.data]="pdfObjectUrl | safe : 'resourceUrl'"
      type="application/pdf"
      class="pdf-object"
    ></object>
  </nb-card-body>
</nb-card>
