<div class="action-buttons">
  <button nbButton status="primary" (click)="open(discountCodesDialogBox)">View All Discount Codes</button>
  <button nbButton status="primary" (click)="openFormDialog()" class="create-button">Create Discount Coupon</button>
  <button nbButton status="primary" (click)="open(refundPage)">
    {{ community.has_refund_policy ? 'Edit Refund policy' : 'Create Refund Policy' }}
  </button>
</div>

<ng-template #refundPage let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <span>Refund Policy</span>
      <button ghost nbButton size="small" (click)="ref.close()" shape="round">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body class="com-px-0">
      <app-custom-page-form
        [parentId]="community.id"
        [parentType]="EDbModels.KOMMUNITY"
        [pageType]="EPageType.REFUND_POLICIES"
        [pageSlug]="refundPolicy?.slug"
        (createdPage)="updateRefundPage($event)"
      ></app-custom-page-form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary" (click)="createOrUpdateRefundPage()">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #discountCodesDialogBox let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <span>Discount Codes List</span>
      <button ghost nbButton size="small" (click)="ref.close()" shape="round">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div class="discount-codes">
        <table>
          <tr>
            <th>Code</th>
            <th>Valid Upto</th>
            <th>Value/ Percentage</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let discountCode of discountCodes">
            <td>{{ discountCode.code }}</td>
            <td>
              <span *ngIf="discountCode.expires_at">{{
                moment(discountCode.expires_at).local().format('DD-MM-YY HH:mm')
              }}</span>
              <span *ngIf="!discountCode.expires_at">--</span>
            </td>
            <td>
              {{ discountCode.discount_value
              }}{{ discountCode.discount_type === EDiscountType.PERCENTAGE ? '%' : '/-' }}
            </td>
            <td class="discount-code-action-buttons">
              <div class="action-button" (click)="openFormDialog(discountCode)">
                <fa-icon [icon]="icons.faPenToSquare"></fa-icon>
                <span> Edit </span>
              </div>
              <div class="action-button" (click)="copyTextToClipboard(discountCode.code)">
                <fa-icon [icon]="icons.faCopy"></fa-icon>
                <span> Copy </span>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
