<div class="action-buttons">
  <button nbButton status="primary" (click)="open(discountCodesDialogBox)" size="small">
    <fa-icon [icon]="icons.faTableList"></fa-icon> &nbsp;View All Discount Codes
  </button>
  <button nbButton status="primary" (click)="openFormDialog()" class="create-button" size="small">
    <fa-icon [icon]="icons.faMoneyBill"></fa-icon>
    &nbsp; Create Discount Coupon
  </button>
  <button nbButton status="primary" (click)="open(refundPage)" size="small">
    <fa-icon [icon]="icons.faHandHoldingDollar"></fa-icon>
    &nbsp;
    {{ community.has_refund_policy ? 'Edit Refund policy' : 'Create Refund Policy' }}
  </button>
</div>

<ng-template #refundPage let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <span>Refund Policy</span>
      <button ghost nbButton size="small" (click)="ref.close()" shape="round">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body class="com-px-0">
      <app-custom-page-form
        [parentId]="community.id"
        [parentType]="EDbModels.KOMMUNITY"
        [pageType]="EPageType.REFUND_POLICIES"
        [pageSlug]="refundPolicy?.slug"
        (createdPage)="updateRefundPage($event)"
      ></app-custom-page-form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary" (click)="createOrUpdateRefundPage()">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #discountCodesDialogBox let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <div>
        <span>Discount Codes List</span>
        &nbsp; &nbsp; &nbsp;
        <button nbButton (click)="openFormDialog()" class="create-button" status="primary" outline size="small">
          <fa-icon [icon]="icons.faPlus"></fa-icon>&nbsp;Create Discount Coupon
        </button>
      </div>
      <button ghost nbButton size="small" (click)="ref.close()" shape="round">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body class="com-p-0">
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      <div class="discount-codes" *ngIf="!isLoading">
        <table>
          <tr class="table-header">
            <th>Code</th>
            <th>Valid Upto</th>
            <th>Max application limit count</th>
            <th>
              <div class="text-help">
                Discount Used
                <commudle-help-section helpDictionaryName="discount-code-used-count"></commudle-help-section>
              </div>
            </th>
            <th>
              <div class="text-help">
                Discount Applied
                <commudle-help-section helpDictionaryName="discount-code-applied-count"></commudle-help-section>
              </div>
            </th>
            <th>Discount</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let discountCode of discountCodes">
            <td>{{ discountCode.code }}</td>
            <td>
              {{ discountCode.expires_at ? moment(discountCode.expires_at).local().format('DD-MM-YY HH:mm') : '--' }}
            </td>
            <td>{{ discountCode.max_limit ? discountCode.max_limit : '--' }}</td>
            <td>
              {{ discountCode.discount_used_count }}
            </td>
            <td>
              {{ discountCode.discount_applied_count }}
            </td>
            <td>
              {{
                discountCode.discount_type === EDiscountType.PERCENTAGE
                  ? discountCode.discount_value
                  : discountCode.discount_value / 100
              }}{{ discountCode.discount_type === EDiscountType.PERCENTAGE ? '%' : '/-' }}
            </td>
            <td class="discount-code-action-buttons">
              <div class="action-button" (click)="openFormDialog(discountCode)">
                <fa-icon [icon]="icons.faPenToSquare"></fa-icon>
                <span> Edit </span>
              </div>
              <div class="action-button" (click)="copyTextToClipboard(discountCode.code)">
                <fa-icon [icon]="icons.faCopy"></fa-icon>
                <span> Copy </span>
              </div>
              <div
                *ngIf="discountCode.discount_used_count === 0 && discountCode.discount_applied_count === 0"
                class="action-button"
                (click)="
                  deleteDiscountCode(
                    discountCode.id,
                    discountCode.discount_used_count,
                    discountCode.discount_applied_count
                  )
                "
              >
                <fa-icon [icon]="icons.faTrash"></fa-icon>
                <span> Delete </span>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
