:host {
  .event-edit-form-container {
    @apply com-mx-0;
  }

  .save-button-top {
    margin: 0 0 1.5rem 0;
  }
  .save-button-bottom {
    margin: 1.5rem 0 0 0;
  }

  div[role='group'],
  div[role='individual'] {
    @apply com-mb-5;
  }

  nb-alert {
    p {
      color: white;
    }
  }

  .event-date-details {
    @apply com-mb-5;
    > div {
      display: flex;
      flex-wrap: wrap;
      > div {
        margin-right: 1.5rem;
      }

      @media screen and (max-width: 640px) {
        > div {
          margin: 0.5rem 0;
        }
      }
    }
    .required::after {
      content: ' *';
    }
  }
}

.backButton {
  @apply com-mt-6 com-mb-2;
}

nb-card {
  @apply com-m-0;
}

.event-type {
  @apply com-mb-5;
  > div {
    @apply com-mt-2;
    > div {
      @apply com-flex com-gap-2 com-items-center;
    }
  }
}

input,
.tox-editor-container,
editor,
.tag {
  @apply com-mt-2;
}
