<div class="event-edit-form-container">
  <div class="back-button" *ngIf="type === 'Save'">
    <commudle-back-button text="Back"></commudle-back-button>
  </div>

  <nb-card class="card-container" [ngClass]="{ 'com-rounded-t-none': type === 'clone' }">
    <nb-card-body>
      <h3 *ngIf="type === 'Save'" class="page-title">Edit Event</h3>

      <nb-alert status="info" *ngIf="event && !event.editable && type === 'Save'" class="info-alert">
        <p>
          This event is <strong>{{ event.event_status?.name | titlecase }}</strong> and cannot be edited
        </p>
      </nb-alert>

      <form class="event-edit-form" [formGroup]="eventForm" (ngSubmit)="type === 'Save' ? updateEvent() : cloneEvent()">
        <div formGroupName="event">
          <div class="form-group">
            <label for="name"> Name <span class="required">*</span> </label>
            <input
              id="name"
              type="text"
              nbInput
              fullWidth
              formControlName="name"
              [disabled]="true"
              class="form-input"
            />
            <commudle-alert
              *ngIf="
                eventForm['controls'].event['controls'].name.touched &&
                eventForm['controls'].event['controls'].name.invalid &&
                eventForm['controls'].event['controls'].name.errors.required
              "
              [error]="true"
              [errorMessage]="'Required Field'"
            ></commudle-alert>
          </div>

          <div class="timing-alert">
            <commudle-alert [info]="true" message="Timings (Leave empty if you are yet to decide)"></commudle-alert>
          </div>

          <div class="date-timezone-row">
            <div class="form-group">
              <label for="start_date">Start Date</label>
              <input
                id="start_date"
                nbInput
                type="datetime-local"
                placeholder="Pick a date"
                formControlName="start_date"
                fullWidth
                class="form-input"
              />
            </div>

            <div class="form-group">
              <label for="end_date">End Date</label>
              <input
                id="end_date"
                nbInput
                type="datetime-local"
                placeholder="Pick a date"
                formControlName="end_date"
                fullWidth
                class="form-input"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="timezone">Timezone</label>
            <nb-select
              id="timezone"
              placeholder="Select Timezone"
              formControlName="timezone"
              status="primary"
              size="large"
              hero
              class="form-select"
            >
              <nb-option *ngFor="let tz of allTimeZones" [value]="tz">
                {{ tz }}
              </nb-option>
            </nb-select>
            <commudle-alert
              *ngIf="
                eventForm['controls'].event['controls'].timezone.touched &&
                eventForm['controls'].event['controls'].timezone.invalid &&
                eventForm['controls'].event['controls'].timezone.errors.required
              "
              [error]="true"
              [errorMessage]="'Required Field'"
            ></commudle-alert>
          </div>
          <div class="form-group">
            <label> Event Type <span class="required">*</span> </label>
            <div class="radio-group">
              <div *ngFor="let type of EEventType | keyvalue" class="radio-option">
                <input
                  [id]="type.key"
                  [value]="type.value"
                  formControlName="event_type"
                  type="radio"
                  class="radio-input"
                />
                <label [for]="type.key" class="radio-label">{{ type.value | titlecase }}</label>
              </div>
            </div>
            <commudle-alert
              *ngIf="
                eventForm['controls'].event['controls'].event_type.touched &&
                eventForm['controls'].event['controls'].event_type.invalid &&
                eventForm['controls'].event['controls'].event_type.errors.required
              "
              [error]="true"
              [errorMessage]="'Required Field'"
            ></commudle-alert>
          </div>

          <div class="form-group">
            <label> Description <span class="required">*</span> </label>
            <commudle-alert
              *ngIf="
                eventForm['controls'].event['controls'].description.touched &&
                eventForm['controls'].event['controls'].description.invalid &&
                eventForm['controls'].event['controls'].description.errors.required
              "
              [error]="true"
              [errorMessage]="'Required Field'"
            ></commudle-alert>
            <div class="editor-container">
              <editor
                formControlName="description"
                apiKey="e34vgv7ocd6ttka8t6qcd07g7lifas1y9lyve8ze1013nefs"
                [init]="tinyMCE"
              >
              </editor>
            </div>
          </div>

          <div class="form-group">
            <label> Tags <span class="required">*</span> </label>
            <div class="tag-container">
              <app-tag
                (tagAdd)="onTagAdd($event)"
                (tagDelete)="onTagDelete($event)"
                [editable]="true"
                [tags]="tags"
                [minimumTags]="minimumTags"
                [backgroundColor]="'com-bg-tAnti-Flash'"
                [fontColor]="'com-text-tYankees-Blue'"
              ></app-tag>
            </div>
          </div>

          <div class="form-group" *ngIf="type === 'clone'">
            <label> Which other fields do you want to clone? <span class="required">*</span> </label>
            <div class="clone-fields-checkboxes">
              <nb-checkbox [(ngModel)]="bannerImage" [ngModelOptions]="{ standalone: true }" status="basic"
                >Banner Image</nb-checkbox
              >
              <nb-checkbox [(ngModel)]="agenda" [ngModelOptions]="{ standalone: true }" status="basic"
                >Agenda</nb-checkbox
              >
              <nb-checkbox [(ngModel)]="sponsors" [ngModelOptions]="{ standalone: true }" status="basic"
                >Sponsors</nb-checkbox
              >
              <nb-checkbox [(ngModel)]="eventForms" [ngModelOptions]="{ standalone: true }" status="basic"
                >Forms</nb-checkbox
              >
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button
            *ngIf="event && (type === 'clone' || (type === 'Save' && event.editable))"
            [disabled]="tags.length < 3 || submitIsInProcess"
            type="submit"
            nbButton
            fullWidth
            status="info"
            [nbSpinner]="submitIsInProcess"
            class="submit-button"
          >
            {{ type }}
          </button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
