<div
  class="round-item"
  [ngClass]="{
    'round-completed': isCompleted,
    'round-current': this.userTeamDetails?.round?.id === round.id,
    'round-upcoming': isUpcoming,
    'round-live': isLive
  }"
>
  <div class="round-indicator">
    <div class="round-number">{{ index + 1 }}</div>
  </div>
  <div class="round-content">
    <div class="round-name">{{ round.name | titlecase }}</div>
    <div class="round-date" *ngIf="round.date">
      {{ moment(round.date).format('MMM DD, YYYY, hh:mm A') }}
      @if(round.end_date) {
      <span> -> {{ moment(round.end_date).format('MMM DD, YYYY, hh:mm A') }}</span>
      }
    </div>
    <div class="round-description" *ngIf="round.description">
      <span #descriptionSpan [innerHTML]="round.description" [class.expanded]="isDescriptionExpanded"></span>
      <button class="read-more-btn" (click)="toggleDescription()" *ngIf="isDescriptionTruncated">
        {{ isDescriptionExpanded ? 'Show less' : 'Read more' }}
      </button>
    </div>
    <div class="round-evaluators" *ngIf="roundEvaluators.length > 0">
      <a
        class="evaluator-card"
        *ngFor="let evaluator of roundEvaluators"
        [routerLink]="['/users', evaluator?.username]"
      >
        <img
          *ngIf="evaluator.photo?.url"
          [src]="evaluator.photo.url"
          [alt]="evaluator.name"
          class="evaluator-avatar"
          [username]="evaluator?.username"
          appMiniUserProfile
        />
        <div class="evaluator-info" appMiniUserProfile [username]="evaluator?.username">
          <div class="evaluator-name">{{ evaluator.name }}</div>
          <div class="evaluator-role">{{ evaluator.judge_type | titlecase }}</div>
        </div>
        @if(evaluator?.username){
        <app-user-follow
          [username]="evaluator.username"
          [name]="evaluator.name"
          [userId]="evaluator.judge_user_id"
          [isMobileWidthFull]="false"
          [appearance]="'outline'"
          class="follow-btn"
          (click)="$event.stopPropagation(); $event.preventDefault()"
        ></app-user-follow>
        } @if(bookedSlotByMentor.get(evaluator.id)) {
        <div class="slot-booked">
          <div>
            <nb-icon icon="calendar-outline"></nb-icon>
            <span>
              {{ moment(bookedSlotByMentor.get(evaluator.id).starts_at).format('MMM DD, hh:mm A') }} -
              {{ moment(bookedSlotByMentor.get(evaluator.id).ends_at).format('hh:mm A') }}
            </span>
          </div>
          @if(mentorSlotsByMentor.get(evaluator.id)?.[0]?.hackathon_judge?.meeting_location) {
          @if(mentorSlotsByMentor.get(evaluator.id)[0].hackathon_judge.meeting_location.startsWith('http://') ||
          mentorSlotsByMentor.get(evaluator.id)[0].hackathon_judge.meeting_location.startsWith('https://')) {
          <a
            [href]="mentorSlotsByMentor.get(evaluator.id)[0].hackathon_judge.meeting_location"
            target="_blank"
            rel="noopener noreferrer"
            class="meeting-link"
            (click)="$event.stopPropagation()"
          >
            <nb-icon icon="video-outline"></nb-icon> Join Meeting
          </a>
          <commudle-alert [info]="true">
            <div infoContent>In case you want to alter the slot, please contact the admin team</div>
          </commudle-alert>
          } @else {
          <span class="meeting-location-text">
            <nb-icon icon="pin-outline"></nb-icon>
            {{ mentorSlotsByMentor.get(evaluator.id)[0].hackathon_judge.meeting_location }}
          </span>
          } }
        </div>
        } @else if(mentorSlotsByMentor.get(evaluator.id)?.length > 0 && round.round_mentor_slot_rule?.booking_open &&
        (round.round_mentor_slot_rule?.teams_choose_slots || !round.round_mentor_slot_rule?.only_admin_assigns_teams)) {
        <button
          nbButton
          size="tiny"
          status="primary"
          (click)="$event.stopPropagation(); $event.preventDefault(); openBookSlotDialog(evaluator.id)"
        >
          Book Slot
        </button>
        }
      </a>
    </div>
  </div>
  <div class="round-status">
    <div *ngIf="isLive" class="status-live">Live</div>
    <div *ngIf="this.userTeamDetails?.round?.id === round.id" class="status-current">👉 You are here</div>
    <div *ngIf="isCompleted" class="status-completed">✓</div>
    <div
      *ngIf="!isLive && this.userTeamDetails?.round?.id !== round.id && !isCompleted && isUpcoming"
      class="status-upcoming"
    >
      Upcoming
    </div>
  </div>
  @if(userTeamDetails?.round?.id === round.id && userTeamDetails.registration_status ===
  EHackathonRegistrationStatus.ACCEPTED && (round.round_type === ERoundType.PPT_SUBMISSION || round.round_type ===
  ERoundType.PROJECT_SUBMISSION || round.round_type === ERoundType.PROJECT_UPDATE_SUBMISSION || round.round_type ===
  ERoundType.FINAL_JUDGING)) {
  <div class="round-action">
    @if(round.round_type === ERoundType.PPT_SUBMISSION){ @if(getRoundSubmission()?.file_attachment) {
    <a
      class="view-ppt-link"
      [href]="getRoundSubmission().file_attachment.url"
      target="_blank"
      rel="noopener noreferrer"
    >
      View PPT
    </a>
    }
    <button nbButton status="primary" size="small" (click)="openPPTUploadDialog()" [disabled]="!isLive">
      {{ getRoundSubmission() ? 'Update PPT' : 'Submit PPT' }}
    </button>
    } @else if (round.round_type === ERoundType.PROJECT_SUBMISSION || round.round_type === ERoundType.FINAL_JUDGING) {
    <a
      nbButton
      status="primary"
      size="small"
      [routerLink]="
        userTeamDetails.community_build ? ['/builds', userTeamDetails.community_build.slug, 'edit'] : ['/builds/create']
      "
      [queryParams]="{ parent_type: 'HackathonTeam', parent_id: userTeamDetails.id }"
      [class.disabled]="!isLive"
    >
      Submit Project
    </a>
    } @else if (round.round_type === ERoundType.PROJECT_UPDATE_SUBMISSION) {
    <a
      nbButton
      status="primary"
      size="small"
      [routerLink]="
        userTeamDetails.community_build ? ['/builds', userTeamDetails.community_build.slug, 'edit'] : ['/builds/create']
      "
      [queryParams]="{ parent_type: 'HackathonTeam', parent_id: userTeamDetails.id }"
      [class.disabled]="!isLive"
    >
      Submit Update
    </a>
    }
  </div>
  }
</div>

<ng-template #bookSlotDialog let-ref="dialogRef">
  <nb-card class="book-slot-dialog-card">
    <nb-card-header>
      <span>Book Mentor Slot</span>
      <button nbButton size="small" shape="round" (click)="ref.close()" ghost>
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div class="slot-item">
        @if(selectedMentorSlots.length > 0) {
        <div *ngFor="let slot of selectedMentorSlots">
          <button nbButton fullWidth status="basic" (click)="bookSlot(slot.id, ref)">
            {{ moment(slot.starts_at).format('MMM DD, YYYY hh:mm A') }} - {{ moment(slot.ends_at).format('hh:mm A') }}
          </button>
        </div>
        } @else {
        <p>No slots available yet!</p>
        }
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #confirmDialog let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Confirm Slot Booking</nb-card-header>
    <nb-card-body>
      <p>Are you sure? Once the slot is booked, it cannot be changed.</p>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary" (click)="ref.close(true)">Confirm</button>
      <button nbButton status="basic" (click)="ref.close(false)">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
