<div *ngIf="blog" class="blog-cards">
  <a [routerLink]="['/blogs', blog?.slug.current]" class="blog-card">
    <div class="blog-actions">
      <app-share-button
        *ngIf="shareButton"
        [content]="environment.app_url + '/blogs/' + blog.slug.current"
        [round]="true"
        [showText]="false"
        [text]="blog.title"
        [title]="blog.title"
        [url]="environment.app_url + '/blogs/' + blog.slug.current"
      ></app-share-button>
    </div>
    <app-loading-spinner *ngIf="imageLoading"></app-loading-spinner>
    <commudle-banner-image
      [headerImagePath]="imageUrl(blog?.headerImage).url()"
      [name]="blog?.title"
      [aspectRatio]="'16/9'"
    ></commudle-banner-image>
    <div class="content" [ngClass]="{ content: fixCardHeight }">
      <div class="profile-date">
        <div *ngIf="user && showUserProfile">
          <app-user-profile-card-small [user]="user"></app-user-profile-card-small>
        </div>
        <p class="date">
          <fa-icon [icon]="faCalendar"></fa-icon><span>{{ blog.publishedAt | date }}</span>
        </p>
      </div>
      <h3 class="name">
        {{ blog?.title }}
      </h3>
      <div class="meta-description">
        {{ blog?.meta_description }}
      </div>
    </div>
    <a class="read-more">
      Read Blog &nbsp;
      <nb-icon icon="arrow-forward-outline"></nb-icon>
    </a>
  </a>
</div>
