<section class="hackathon-details">
  <h1>{{ hackathon?.name }}</h1>
  <div class="badge">
    <p>Hackathon</p>
  </div>
  <app-community-badge *ngIf="community" [community]="community" size="small"></app-community-badge>
  <a
    *ngIf="hackathon"
    [routerLink]="['/communities', hackathon.community.slug, 'hackathons', hackathon.slug]"
    target="_blank"
    class="public-page-button"
  >
    <button nbButton status="primary" shape="round" size="tiny">
      Public Page &nbsp;
      <div class="icon">
        <fa-icon [icon]="icons.faArrowUpRightFromSquare"></fa-icon>
      </div>
    </button>
  </a>
  <a [routerLink]="['stats']" target="_blank">
    <div class="icon">
      <button nbButton status="success" shape="round" size="tiny">
        <fa-icon [icon]="icons.faArrowUpRightFromSquare"></fa-icon>
        &nbsp; Stats
      </button>
    </div>
  </a>
</section>

<section class="com-flex">
  <div class="sidebar">
    <commudle-sidebar
      [expandedWidth]="sidebarExpanded ? ESidebarWidth.XL : ESidebarWidth.XSMALL"
      [forWindow]="false"
      [showExpandedButton]="true"
      [eventName]="sidebarEventName"
      [heading]="'Hackathon Dashboard'"
      [textSize]="ESidebarHeading.MEDIUM"
    >
      <div class="action-buttons">
        <div
          class="header-icons"
          [ngClass]="{ 'header-icons-non-expanded': !sidebarExpanded, 'header-icons-expanded': sidebarExpanded }"
        >
          <a
            *ngIf="sidebarExpanded"
            [routerLink]="['/admin', 'communities', community?.slug, 'hackathons']"
            class="back-admin"
          >
            <div class="icon">
              <fa-icon [icon]="icons.faArrowLeft"></fa-icon>
            </div>
            <div class="heading">Back to Admin Panel</div>
          </a>
        </div>

        <div *ngIf="sidebarExpanded" class="status-buttons">
          <div class="category-heading">
            STATUS <commudle-help-section [helpDictionaryName]="'event-status'"></commudle-help-section>
          </div>
          @if (hackathon) {
          <section>
            <select class="select-status" (change)="updateStatus($event.target)">
              <option *ngFor="let i of hackathonStatuses" [value]="i" [selected]="hackathon.status === i">
                {{ i | titlecase }}
              </option>
            </select>
          </section>
          }
        </div>
        <div class="categories">
          <div
            class="category-setup-manage"
            [ngClass]="{ '!com-flex-col-reverse': hackathon?.status === EHackathonStatus.OPEN }"
          >
            <div class="category">
              <div>
                <div *ngIf="sidebarExpanded" class="category-heading">HACKATHON SETUP</div>
                <div>
                  <a
                    class="action-button"
                    [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['./']"
                    routerLinkActive="active"
                  >
                    <div class="icon">
                      <fa-icon [icon]="icons.faCircleInfo"></fa-icon>
                    </div>
                    <div *ngIf="sidebarExpanded" class="action-button-name">Basic Information</div>
                  </a>
                  <a class="action-button" [routerLink]="['contact']" routerLinkActive="active">
                    <div class="icon">
                      <fa-icon [icon]="icons.faLink"></fa-icon>
                    </div>
                    <div *ngIf="sidebarExpanded" class="action-button-name">Contact & Social Links</div>
                  </a>
                  <a class="action-button" [routerLink]="['dates']" routerLinkActive="active">
                    <div class="icon">
                      <fa-icon [icon]="icons.faCalendarDay"></fa-icon>
                    </div>
                    <div *ngIf="sidebarExpanded" class="action-button-name">Hackathon's Dates</div>
                  </a>
                  <a class="action-button" [routerLink]="['tracks']" routerLinkActive="active">
                    <div class="icon">
                      <fa-icon [icon]="icons.faAward"></fa-icon>
                    </div>
                    <div *ngIf="sidebarExpanded" class="action-button-name">Tracks & Prizes</div>
                  </a>
                  <a class="action-button" [routerLink]="['rounds']" routerLinkActive="active">
                    <div class="icon">
                      <fa-icon [icon]="icons.faGamepad"></fa-icon>
                    </div>
                    <div *ngIf="sidebarExpanded" class="action-button-name">Rounds</div>
                  </a>
                  <a class="action-button" [routerLink]="['registrations']" routerLinkActive="active">
                    <div class="icon">
                      <fa-icon [icon]="icons.faRectangleList"></fa-icon>
                    </div>
                    <div *ngIf="sidebarExpanded" class="action-button-name">Registration Form</div>
                  </a>
                  <a class="action-button" [routerLink]="['sponsors']" routerLinkActive="active">
                    <div class="icon">
                      <fa-icon [icon]="icons.faSackDollar"></fa-icon>
                    </div>
                    <div *ngIf="sidebarExpanded" class="action-button-name">Sponsors</div>
                  </a>
                  <a class="action-button" [routerLink]="['speakers']" routerLinkActive="active">
                    <div class="icon">
                      <fa-icon [icon]="icons.faMicrophone"></fa-icon>
                    </div>
                    <div *ngIf="sidebarExpanded" class="action-button-name">Judges, Speakers & Mentors</div>
                  </a>
                  <a class="action-button" [routerLink]="['faqs']" routerLinkActive="active">
                    <div class="icon">
                      <fa-icon [icon]="icons.faCircleQuestion"></fa-icon>
                    </div>
                    <div *ngIf="sidebarExpanded" class="action-button-name">FAQ's</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="category">
              <div>
                <div *ngIf="sidebarExpanded" class="category-heading">MANAGE HACKATHON</div>
                <div>
                  <a class="action-button" [routerLink]="['applications-dashboard']" routerLinkActive="active">
                    <div class="icon">
                      <fa-icon [icon]="icons.faEye"></fa-icon>
                    </div>
                    <div *ngIf="sidebarExpanded" class="action-button-name">Applications & Projects</div>
                  </a>
                  <a class="action-button" [routerLink]="['updates']" routerLinkActive="active">
                    <div class="icon">
                      <fa-icon [icon]="icons.faStar"></fa-icon>
                    </div>
                    <div *ngIf="sidebarExpanded" class="action-button-name">Post Updates</div>
                  </a>
                  <a class="action-button" [routerLink]="['channels']" routerLinkActive="active">
                    <div class="icon">
                      <fa-icon [icon]="icons.faHashtag"></fa-icon>
                    </div>
                    <div *ngIf="sidebarExpanded" class="action-button-name">Channels</div>
                  </a>
                  <a class="action-button" [routerLink]="['emails']" routerLinkActive="active">
                    <div class="icon">
                      <fa-icon [icon]="icons.faEnvelope"></fa-icon>
                    </div>
                    <div *ngIf="sidebarExpanded" class="action-button-name">Communications</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="category">
            <div class="category-heading" *ngIf="sidebarExpanded">OTHER LINKS</div>
            <div *ngIf="hackathon && community">
              <a
                class="action-button"
                [routerLink]="['/communities', community.slug, 'hackathons', hackathon.slug]"
                target="_blank"
              >
                <div class="icon">
                  <fa-icon [icon]="icons.faArrowUpRightFromSquare"></fa-icon>
                </div>
                <div *ngIf="sidebarExpanded" class="action-button-name">Public Page</div>
              </a>
              <a class="action-button" [routerLink]="['stats']" target="_blank">
                <div class="icon">
                  <fa-icon [icon]="icons.faArrowUpRightFromSquare"></fa-icon>
                </div>
                <div *ngIf="sidebarExpanded" class="action-button-name">Hackathon Stats</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </commudle-sidebar>
  </div>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</section>
