<nb-card>
  <nb-card-body>
    <div *ngIf="skeletonLoaderCard" class="skeleton-vertical-cards">
      <commudle-skeleton-vertical-cards [cards]="4"></commudle-skeleton-vertical-cards>
    </div>
    <div *ngIf="speakers.length > 0" class="speakers-container" id="speakers-section">
      <p class="header-text">Meet Our Speakers</p>
      <div class="speakers-list" (scroll)="checkScrollPosition($event)">
        <ng-container *ngFor="let speaker of speakers" class="speakers-card">
          <app-speaker-card [speaker]="speaker" [maxUserNameLength]="25"></app-speaker-card>
        </ng-container>
        <div class="load-more">
          <app-loading-spinner *ngIf="canLoadMoreSpeakers && !skeletonLoaderCard"></app-loading-spinner>
          <button
            *ngIf="page_info?.has_next_page"
            [disabled]="isLoadingSpeakers"
            (click)="getSpeakerDetails()"
            nbButton
            outline
            size="tiny"
            status="basic"
          >
            View More
          </button>
        </div>
      </div>
      <button
        nbButton
        status="primary"
        size="small"
        class="scroll-button left"
        [disabled]="isLeftScrollDisabled"
        (click)="scrollSpeakers('left')"
        aria-label="Scroll left"
      >
        <nb-icon icon="arrow-left-outline"></nb-icon>
      </button>
      <button
        nbButton
        status="primary"
        size="small"
        class="scroll-button right"
        [disabled]="isRightScrollDisabled"
        (click)="scrollSpeakers('right')"
        aria-label="Scroll right"
      >
        <nb-icon icon="arrow-right-outline"></nb-icon>
      </button>
    </div>

    <div class="members-container">
      <div class="members">
        <p class="header-text">Active members of the community</p>
        <app-loading-spinner *ngIf="isLoadingMembers && !canLoadMore"></app-loading-spinner>
        <div class="search-filters">
          <form [formGroup]="searchForm" class="search-container">
            <div class="search">
              <nb-form-field>
                <nb-icon icon="search" nbPrefix></nb-icon>
                <input
                  formControlName="name"
                  fullWidth
                  nbInput
                  placeholder="Search using name, email, designation, about, etc"
                  shape="semi-round"
                  type="text"
                />
              </nb-form-field>
            </div>
          </form>

          <div [formGroup]="membersForm" class="filter-dropdowns-container">
            <div class="filter-dropdowns">
              <select formControlName="domains" (change)="onFilterChange()" class="filter-select">
                <option value="" disabled>Domains</option>
                <option *ngFor="let domain of EDomain | keyvalue : originalOrder" [value]="domain.key">
                  {{ domain.value }}
                </option>
              </select>
              <select formControlName="employment_status" (change)="onFilterChange()" class="filter-select">
                <option value="" disabled>Looking for work / Hiring</option>
                <option value="employee">Looking For Work</option>
                <option value="employer">Hiring</option>
              </select>
            </div>

            <!-- Active Filter Tags -->
            <div class="active-filter-tags">
              <nb-tag-list>
                <nb-tag
                  [appearance]="filterByMutuals ? 'filled' : 'outline'"
                  [text]="'My Mutuals'"
                  size="small"
                  status="info"
                  [removable]="filterByMutuals ? 'true' : 'false'"
                  (click)="filterByTags('mutuals')"
                ></nb-tag>
              </nb-tag-list>

              <button
                (click)="clearAllFilters()"
                nbButton
                size="tiny"
                status="basic"
                appearance="outline"
                shape="round"
                class="clear-filters-btn"
              >
                Clear All
              </button>
            </div>
          </div>
        </div>
        <div class="members-list">
          <ng-container *ngFor="let member of members">
            <div class="member-card">
              <app-user-profile-card-large
                [user]="member"
                [showFollowButton]="true"
                [alignFollowToRight]="true"
                [showLeaderBadgeToNameHeader]="true"
                [appearanceOfFollowButton]="'outline'"
                [showCompanyName]="true"
              ></app-user-profile-card-large>
            </div>
          </ng-container>
        </div>

        <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
        <div class="load-more">
          <button
            *ngIf="canLoadMore"
            (click)="getMembers()"
            nbButton
            outline
            size="small"
            status="info"
            [disabled]="!canLoadMore || isLoadingMembers"
          >
            Load More
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
