<div class="past-events" id="past-events">
  <h2 class="title">
    <a [routerLink]="'.'" fragment="past-events"
      ><button nbButton status="basic" size="small" shape="semi-round">
        <fa-icon [icon]="faCalendarCheck"></fa-icon></button
      ><span>Past Events</span></a
    >
  </h2>
  <div class="past-events-card-list">
    <commudle-event-card *ngFor="let event of pastEvents" [event]="event"></commudle-event-card>
  </div>
  <div class="load-more">
    <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
    <button
      *ngIf="page_info?.has_next_page"
      [disabled]="showSpinner"
      (click)="getPastEvents()"
      nbButton
      outline
      size="small"
      status="info"
    >
      Load More
    </button>
  </div>
</div>
