<div class="community-members">
  <div class="quick-insights">
    <h2 class="quick-insights-title">Quick Insights</h2>
    <div class="insights-grid">
      <div class="insight-card">
        <p class="insight-label">TOTAL MEMBERS</p>
        <p class="insight-number">{{ community.members_count }}</p>
      </div>
      <div class="insight-card">
        <p class="insight-label">GENDER DISTRIBUTION</p>
        <canvas id="chart-member-distibution"></canvas>
      </div>
      <div class="insight-card">
        <p class="insight-label">PROFESSIONALS VS STUDENTS</p>
        <canvas id="chart-experience-distribution"></canvas>
      </div>
      <div class="insight-card">
        <p class="insight-label">NEW MEMBERS IN LAST {{ daysFilter || 90 }} DAYS</p>
        <div class="days-filter-container">
          <input
            formControlName="days"
            nbInput
            placeholder="Enter the number of days"
            type="number"
            min="1"
            max="365"
            (input)="onDaysFilterChange($event)"
            class="days-input"
          />
        </div>
        <p class="insight-number">{{ newMembersCount }}</p>
      </div>
    </div>
  </div>

  <div class="search-filters">
    <form [formGroup]="searchForm" class="search-container">
      <div class="search">
        <nb-form-field>
          <nb-icon icon="search" nbPrefix></nb-icon>
          <input
            formControlName="name"
            fullWidth
            nbInput
            placeholder="Search using name, email, designation, about, etc"
            shape="round"
            type="text"
          />
        </nb-form-field>
      </div>
    </form>

    <div [formGroup]="communityFilterForm" class="filter-dropdowns-container">
      <div class="filter-dropdowns">
        <nb-select
          formControlName="experience_level"
          (selectedChange)="onFilterChange()"
          placeholder="Experience"
          multiple
          size="small"
          shape="round"
          ghost
          class="filter-select"
        >
          <nb-option
            *ngFor="let experienceLevel of EExperienceLevel | keyvalue : originalOrder"
            [value]="experienceLevel.key"
          >
            {{ experienceLevel.value }}
          </nb-option>
        </nb-select>
        <nb-select
          formControlName="employment_status"
          (selectedChange)="onFilterChange()"
          placeholder="Looking for work / Hiring"
          size="small"
          shape="round"
          ghost
          class="filter-select"
        >
          <nb-option value="employee">Looking For Work</nb-option>
          <nb-option value="employer">Hiring</nb-option>
        </nb-select>
        <nb-select
          formControlName="gender"
          (selectedChange)="onFilterChange()"
          placeholder="Gender"
          size="small"
          shape="round"
          ghost
          class="filter-select"
        >
          <nb-option value="male">Male</nb-option>
          <nb-option value="female">Female</nb-option>
          <nb-option value="prefer_not_to_answer">Prefer not to say</nb-option>
        </nb-select>
        <nb-select
          formControlName="domains"
          (selectedChange)="onFilterChange()"
          placeholder="Domains"
          multiple
          size="small"
          shape="round"
          ghost
          class="filter-select"
        >
          <nb-option *ngFor="let domain of EDomain | keyvalue : originalOrder" [value]="domain.key">
            {{ domain.value }}
          </nb-option>
        </nb-select>
        <div class="skills-filter-container">
          <label class="skills-label">Skills</label>
          <app-tag
            (tagAdd)="onTagAdd($event)"
            (tagDelete)="onTagDelete($event)"
            [backgroundColor]="'com-bg-gray-100'"
            [editable]="true"
            [fontColor]="'com-text-tYankees-Blue'"
            [tags]="communityFilterForm.get('skills').value || []"
            [minTagLimit]="false"
            [showAutoSuggestDropDown]="true"
            [showTagsOnLoad]="true"
            [size]="'tiny'"
          ></app-tag>
        </div>
      </div>

      <!-- Active Filter Tags -->
      <div class="active-filter-tags">
        <nb-tag-list>
          <nb-tag
            [appearance]="mostActive ? 'filled' : 'outline'"
            [text]="'Most Active (Top 10%)'"
            size="small"
            status="info"
            [removable]="mostActive ? 'true' : 'false'"
            [ngClass]="{ activeTag: mostActive }"
            (click)="filterByTags(options[0])"
          ></nb-tag>
          <nb-tag
            [appearance]="contributor ? 'filled' : 'outline'"
            [text]="'Top Contributor'"
            size="small"
            status="info"
            [removable]="contributor ? 'true' : 'false'"
            [ngClass]="{ activeTag: contributor }"
            (click)="filterByTags(options[1])"
          ></nb-tag>
          <nb-tag
            [appearance]="contentCreator ? 'filled' : 'outline'"
            [text]="'Content Creator'"
            size="small"
            status="info"
            [removable]="contentCreator ? 'true' : 'false'"
            [ngClass]="{ activeTag: contentCreator }"
            (click)="filterByTags(options[2])"
          ></nb-tag>
          <nb-tag
            [appearance]="speaker ? 'filled' : 'outline'"
            [text]="'Speaker'"
            size="small"
            status="info"
            [removable]="speaker ? 'true' : 'false'"
            [ngClass]="{ activeTag: speaker }"
            (click)="filterByTags(options[3])"
          ></nb-tag>
        </nb-tag-list>
        <button
          (click)="clearAllFilters()"
          nbButton
          size="tiny"
          status="basic"
          appearance="outline"
          shape="round"
          class="clear-filters-btn"
        >
          Clear All Filters
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading-spinner">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div class="members-table" *ngIf="!isLoading">
    <table>
      <thead>
        <tr>
          <th class="sortable">
            MEMBERS
            <fa-icon (click)="sortBy('name')" title="Sort by name" [icon]="faSort"></fa-icon>
          </th>
          <th>USER ENGAGEMENT</th>
          <th>ACTIVITY</th>
          <th>
            LAST SEEN <fa-icon (click)="sortBy('last_seen_at')" title="Sort by last seen" [icon]="faSort"></fa-icon>
          </th>
          <th>PROFILE HIGHLIGHTS</th>
          <th>LOCATION <fa-icon (click)="sortBy('location')" title="Sort by location" [icon]="faSort"></fa-icon></th>
          <th>
            JOINED DATE <fa-icon (click)="sortBy('activated_at')" title="Sort by joined date" [icon]="faSort"></fa-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userRole of userRolesUsers">
          <td valign="top">
            <p class="user-communities-role" *ngIf="userRole.user_role.name === EUserRoles.ORGANIZER">
              <nb-icon icon="star"></nb-icon>
              <span>
                {{ userRole.user_role.name | titlecase }}
              </span>
            </p>
            <div class="user-profile-card">
              <div class="profile-badges">
                <app-user-profile-card-medium [user]="userRole.user"></app-user-profile-card-medium>
                <div class="badges-container" *ngIf="userRole.user_highlights?.badges?.length">
                  <app-badge
                    *ngFor="let badge of userRole.user_highlights.badges"
                    [text]="badge.name"
                    [color]="'com-bg-Bright-Gray-Light'"
                    [fontSize]="'small'"
                    [fontColor]="'com-text-tAuro-Metal-Saurus'"
                    [borderRadius]="'round'"
                    class="user-badge"
                  >
                  </app-badge>
                </div>
              </div>
              <button
                (click)="activeContextMenuUser = userRole.user"
                [nbContextMenu]="contextMenuItems"
                class="context-menu com-h-2"
                ghost
                nbButton
                nbContextMenuTag="community-member-context-menu"
              >
                <nb-icon icon="more-vertical"></nb-icon>
              </button>
            </div>
          </td>
          <td>
            <div *ngIf="userRole.agg_user_community_engagement" class="engagement-data">
              <ul>
                <li>Overall Attendence: {{ userRole.agg_user_community_engagement.overall_attendance_rate }}</li>
                <li>
                  Events (attendee): {{ userRole.agg_user_community_engagement.total_event_registrations }} registered,
                  {{ userRole.agg_user_community_engagement.total_event_registrations }} attended,
                  {{ userRole.agg_user_community_engagement.total_event_registrations }} invited & skipped,
                  {{ userRole.agg_user_community_engagement.total_volunteered_events }} volunteered
                </li>
                <li>
                  Events (speaker):
                  {{ userRole.agg_user_community_engagement.total_event_speaker_registrations }} registered,
                  {{ userRole.agg_user_community_engagement.total_event_speaker_sessions }} talks delivered
                </li>
                <li>
                  Hackathon: {{ userRole.agg_user_community_engagement.total_hackathon_registrations }} registered
                </li>
                <li>Channel Messages Sent: {{ userRole.agg_user_community_engagement.total_channel_messages }}</li>
              </ul>
            </div>
          </td>
          <td>
            <span class="activity-indicator">{{ userRole.community_score }}</span>
          </td>
          <td>
            <span class="last-seen">{{ userRole.last_seen_at ? moment(userRole.last_seen_at).fromNow() : '--' }}</span>
          </td>
          <td>
            <ul
              *ngIf="
                userRole.user_highlights?.community_builds?.length > 0 ||
                userRole.user_highlights?.labs?.length > 0 ||
                userRole.user_highlights?.speaker_resources?.length > 0 ||
                userRole.user_highlights?.social_resources?.length > 0
              "
              class="profile-highlights"
            >
              <li *ngIf="userRole.user_highlights.community_builds.length > 0">
                Posted Builds
                <a
                  *ngFor="let item of userRole.user_highlights.community_builds"
                  [routerLink]="['/builds', item.slug]"
                  target="_blank"
                >
                  {{ item.name }}&nbsp;
                </a>
              </li>
              <li *ngIf="userRole.user_highlights.labs.length > 0">
                Posted Labs
                <a
                  *ngFor="let item of userRole.user_highlights.labs"
                  [routerLink]="['/labs', item.slug]"
                  target="_blank"
                >
                  {{ item.name }}&nbsp;
                </a>
              </li>
              <li *ngIf="userRole.user_highlights.social_resources.length > 0">
                Social Resources
                <a
                  *ngFor="let item of userRole.user_highlights.social_resources"
                  [routerLink]="['/users', item.username]"
                  target="_blank"
                >
                  {{ item.name }}&nbsp;
                </a>
              </li>
              <li *ngIf="userRole.user_highlights.speaker_resources.length > 0">
                Speaker Resources
                <a
                  *ngFor="let item of userRole.user_highlights.speaker_resources"
                  [routerLink]="['/speaker-resources', item.id]"
                  target="_blank"
                >
                  {{ item.name }}&nbsp;
                </a>
              </li>
            </ul>
            <p
              *ngIf="
                userRole.user_highlights.community_builds.length === 0 &&
                userRole.user_highlights.labs.length === 0 &&
                userRole.user_highlights.speaker_resources.length === 0 &&
                userRole.user_highlights.social_resources.length === 0
              "
            >
              --
            </p>
          </td>
          <td class="location">
            <span>{{ userRole.user.location ? userRole.user.location : '--' }}</span>
          </td>
          <td class="joined-date">
            <span>{{ userRole.activated_at ? moment(userRole.activated_at).format('MMM DD, YYYY') : '--' }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    (goTo)="page = $event; getMembers()"
    (next)="page = $event; getMembers()"
    (previous)="page = $event; getMembers()"
    *ngIf="total > 0"
    [count]="count"
    [current]="page"
    [total]="total"
  ></app-pagination>
</div>

<!-- Remove User Dialog -->
<ng-template #removeUserDialog let-data let-ref="dialogRef">
  <nb-card class="dialog-card">
    <nb-card-header class="dialog-header">
      <span>
        <nb-icon icon="alert-triangle" status="warning"></nb-icon>
        Confirmation
      </span>
      <button (click)="ref.close()" ghost nbButton size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body class="dialog-body">
      <p>
        Are you sure you want to <strong>remove</strong>&nbsp;<em>{{ data.user?.name }}</em> from the community? (Select
        the roles you want to remove them from)
      </p>
      <div class="dialog-body-content">
        <div *ngFor="let userRole of selectedUserRoles">
          <input
            type="checkbox"
            (change)="toggleUserRole(userRole.id)"
            [checked]="userRolesUserIds.value.includes(userRole.id)"
          />
          <label for="vehicle1"> {{ userRole.parent_name }} ({{ userRole.user_role.name }})</label><br />
        </div>
      </div>
      <p><strong>Note:</strong>&nbsp;This action cannot be undone.</p>
    </nb-card-body>
    <nb-card-footer class="dialog-footer">
      <button (click)="ref.close()" ghost nbButton status="danger">No</button>
      <button
        (click)="removeUser(); ref.close()"
        [disabled]="!selectedUserRoles.length || !userRolesUserIds.value.length"
        nbButton
        status="success"
      >
        Yes
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- Block User Dialog -->
<ng-template #blockUserDialog let-data let-ref="dialogRef">
  <nb-card class="dialog-card">
    <nb-card-header class="dialog-header">
      <span>
        <nb-icon icon="alert-triangle" status="warning"></nb-icon>
        Confirmation
      </span>
      <button (click)="ref.close()" ghost nbButton size="small">
        <nb-icon icon="close"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body class="dialog-body">
      <p>
        Are you sure you want to <strong>remove & block</strong>&nbsp;<em>{{ data.user?.name }}</em> from the community?
      </p>
      <p><strong>Note:</strong>&nbsp;This action cannot be undone.</p>
    </nb-card-body>
    <nb-card-footer class="dialog-footer">
      <button (click)="ref.close()" ghost nbButton status="danger">No</button>
      <button (click)="blockUser(data.user.id); ref.close()" nbButton status="success">Yes</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
