<nb-card class="mail-popup">
  <nb-card-header>
    <span>{{
      isBulk ? 'Send Team Assignment Email to All Mentors' : 'Send Team Assignment Email to ' + mentor.name
    }}</span>
    <button nbButton size="small" shape="round" (click)="closeDialogBox()" ghost>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <commudle-alert [info]="true" message="This will send team assignment details to the mentor(s)"></commudle-alert>
    <commudle-alert [info]="true" message="Send Round Team Assignment Email"></commudle-alert>

    <div class="round-field">
      <label for="round">Select Round *</label>
      <select id="round" [(ngModel)]="selectedRoundId" class="round-select">
        <option *ngFor="let round of rounds" [value]="round.id">{{ round.name }}</option>
      </select>
    </div>

    <div class="message-field">
      <label for="message">Additional Message (Optional)</label>
      <editor [init]="tinyMCE" [(ngModel)]="message"></editor>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="footer-actions">
      <button
        nbButton
        status="basic"
        shape="semi-round"
        (click)="previewEmail()"
        [disabled]="!selectedRoundId"
        [nbSpinner]="showPreviewSpinner"
        fullWidth
      >
        Preview
      </button>
      <button
        nbButton
        status="primary"
        shape="semi-round"
        (click)="sendEmail()"
        [nbSpinner]="isSubmitting"
        [disabled]="isSubmitting || !selectedRoundId"
        fullWidth
      >
        Send
      </button>
    </div>
  </nb-card-footer>
</nb-card>
