<div class="community-build-card">
  <a [routerLink]="[communityBuild.slug]">
    <div class="details">
      <div class="image-badge-wrapper">
        <commudle-banner-image
          [headerImagePath]="
        communityBuild.thumbnail_image
          ? communityBuild.thumbnail_image.i320
          : communityBuild.images?.[0]
          ? communityBuild.images[0].url
          : staticAssets.community_build_empty_state
      "
          [name]="communityBuild.name"
          [topRightCurve]="false"
          [topLeftCurve]="false"
          [bottomRightCurve]="false"
          [bottomLeftCurve]="false"
          [aspectRatio]="'3/2'"
          class="community-build-card-image"
        ></commudle-banner-image>
        <div *appBreakpoints="'<=lg'" class="mobile-hackathon-badge">
          <app-badge
            *ngIf="communityBuild.hackathon_team"
            [text]="'Hackathon'"
            [fontColor]="'com-text-tChocolate-Traditional'"
            [fontSize]="'xx-small'"
            [borderRadius]="'round'"
            [color]="'com-bg-Seashell'"
          ></app-badge>
        </div>
      </div>
      <div class="community-build-card-details">
        <div class="community-build-card-title-time">
          <p class="time">{{ moment(communityBuild.created_at).format('MMM Do, YYYY') }}</p>
          <div *appBreakpoints="'>lg'">
            <app-badge
              *ngIf="communityBuild.hackathon_team"
              class="desktop-hackathon-badge"
              [text]="'Hackathon'"
              [fontColor]="'com-text-tChocolate-Traditional'"
              [fontSize]="'small'"
              [borderRadius]="'round'"
              [color]="'com-bg-Seashell'"
            ></app-badge>
          </div>
        </div>
        <h5 class="title">{{ communityBuild.name }}</h5>
        <div [innerHTML]="communityBuild.description" class="description"></div>
        <div *ngIf="communityBuild.tags?.length > 0" class="tags">
          <app-tag
            *appBreakpoints="'>lg'"
            [tags]="communityBuild.tags"
            [backgroundColor]="'com-bg-gray-100'"
            [size]="'tiny'"
            [fontColor]="'com-text-gray-500'"
            [maximumTag]="4"
          ></app-tag>
        </div>
        <div *appBreakpoints="'>lg'" class="app-user-profile-card">
          <app-user-profile-card-medium [user]="communityBuild.user"></app-user-profile-card-medium>
        </div>
        <div *appBreakpoints="'<=lg'" class="app-user-profile-card">
          <app-user-profile-card-small [user]="communityBuild.user"></app-user-profile-card-small>
        </div>
      </div>
    </div>
  </a>
  <div class="votes">
    <app-votes-display
      [icon]="'star'"
      [votableId]="communityBuild.id"
      [votableType]="'CommunityBuild'"
      [votesDirectionVertical]="true"
      size="mini"
    ></app-votes-display>
  </div>
</div>
