<table>
  <tr>
    <th>Campaign Type</th>
    <th>Campaign Name</th>
    <th>Status</th>
    <th>Budget</th>
    <th>Duration Time</th>
    <th>Created At</th>
    <th *ngIf="sysAdmin">Created By</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let campaign of campaigns">
    <td>{{ campaign.campaign_type.name }}</td>
    <td>{{ campaign.name }}</td>
    <td>
      <div *ngIf="!sysAdmin">{{ campaign.status | capitalizeAndRemoveUnderscore }}</div>
      <div *ngIf="sysAdmin">
        <div class="select">
          <select [(ngModel)]="campaign.status" (change)="updateStatus($event, campaign.id)">
            <option *ngFor="let CampaignStatus of ECampaignStatus | keyvalue" [value]="CampaignStatus.value">
              {{ CampaignStatus.value | capitalizeAndRemoveUnderscore }}
            </option>
          </select>
        </div>
      </div>
    </td>
    <td *ngIf="campaign.budget">{{ campaign.currency_type }}{{ campaign.budget }}</td>
    <td>
      <span *ngIf="campaign.start_time"
        >Start Time: {{ moment(campaign.start_time).format('MMM Do, YYYY - h:mm a') }}</span
      >
      <span *ngIf="campaign.end_time">End Time: {{ moment(campaign.end_time).format('MMM Do, YYYY - h:mm a') }}</span>
    </td>
    <td>{{ moment(campaign.created_at).format('MMM Do, YYYY - h:mm a') }}</td>
    <td *ngIf="sysAdmin">
      <app-user-profile-mini [user]="campaign.user" size="small"></app-user-profile-mini>
    </td>
    <td>
      <a *ngIf="!sysAdmin" [routerLink]="['edit', campaign.id]">
        <button nbButton status="info" size="tiny">
          <fa-icon [icon]="icons.faEdit" shape="semi-round"></fa-icon> &nbsp; Edit
        </button>
      </a>
    </td>
  </tr>
</table>
