<div *ngIf="upcomingEvents.length > 0 || isLoadingUpcoming" id="upcoming-events">
  <h2 class="title">
    <a [routerLink]="'.'" fragment="upcoming-events"
      ><button nbButton status="basic" size="small" shape="semi-round">
        <fa-icon [icon]="faCalendarDays"></fa-icon>
      </button>
      <div class="heading-subheading">
        <span class="title">Upcoming Events</span><span class="sub-heading">Explore latest & exciting events</span>
      </div></a
    >
  </h2>
  <app-loading-spinner *ngIf="isLoadingUpcoming"></app-loading-spinner>
  <div *ngIf="!isLoadingUpcoming">
    <div *ngFor="let event of upcomingEvents" class="event-horizontal-card">
      <commudle-event-horizontal-card [event]="event"></commudle-event-horizontal-card>
    </div>
  </div>
  <div class="load-more">
    <app-loading-spinner *ngIf="showSpinner && !isLoadingUpcoming"></app-loading-spinner>
    <button
      *ngIf="page_info?.has_next_page"
      [disabled]="showSpinner"
      (click)="getUpcomingEvents()"
      nbButton
      outline
      size="small"
      status="info"
    >
      Load More
    </button>
  </div>
</div>
