<div id="upcoming-events" class="upcoming-events">
  <div class="heading-subheading">
    <h2 class="title section-heading-anchor">
      Upcoming Events
      <a [routerLink]="'.'" fragment="upcoming-events" class="anchor-link" aria-label="Link to upcoming events section">
        <fa-icon [icon]="faLink" class="anchor-icon-medium"></fa-icon>
      </a>
    </h2>
    <span class="sub-heading">Explore latest & exciting events</span>
  </div>
  <app-skeleton-cards
    [ImageShapeCircle]="false"
    [ImageShapeSquare]="true"
    [cards]="4"
    *ngIf="isLoadingUpcoming"
  ></app-skeleton-cards>
  <div *ngIf="!isLoadingUpcoming">
    <div *ngFor="let event of upcomingEvents" class="event-horizontal-card">
      <commudle-event-horizontal-card [event]="event"></commudle-event-horizontal-card>
    </div>
  </div>
  <div class="no-upcoming" *ngIf="!isLoadingUpcoming && upcomingEvents.length === 0">
    <p>No Upcoming Events</p>
  </div>
  <div class="load-more">
    <app-loading-spinner *ngIf="showSpinner && !isLoadingUpcoming"></app-loading-spinner>
    <button
      *ngIf="page_info?.has_next_page"
      [disabled]="showSpinner"
      (click)="getUpcomingEvents()"
      nbButton
      outline
      size="small"
      status="info"
    >
      Load More
    </button>
  </div>
</div>
