<div class="archive-channel">
  <div class="archive-channel-warning">
    <nb-icon icon="alert-triangle-outline"></nb-icon>
    <div>
      <p class="archive-channel-heading">Are you sure you want to archive this channel?</p>
    </div>
  </div>

  <form [formGroup]="archiveForm" (ngSubmit)="submitForm()" class="archive-channel-form">
    <div class="form-field-container">
      <label class="form-label">Type <strong>YES</strong> to confirm</label>
      <input nbInput fullWidth formControlName="confirmation" type="text" placeholder="YES" />
    </div>
    <button nbButton [disabled]="!archiveForm.valid" outline status="danger" type="submit">Archive Channel</button>
  </form>
</div>
