<div *ngIf="hackathon" class="hackathon">
  <a [routerLink]="['/communities', hackathon.community.slug, 'hackathons', hackathon.slug]">
    <nb-card>
      <nb-card-body>
        <div>
          <commudle-banner-image
            *appBreakpoints="'>lg'"
            [headerImagePath]="hackathon.banner_image ? hackathon.banner_image.url : staticAssets.hackathon_empty_state"
            [name]="hackathon.name"
            [bottomRightCurve]="false"
            [bottomLeftCurve]="false"
          ></commudle-banner-image>
          <commudle-banner-image
            *appBreakpoints="'<=lg'"
            [headerImagePath]="hackathon.banner_image ? hackathon.banner_image.url : staticAssets.hackathon_empty_state"
            [name]="hackathon.name"
            [aspectRatio]="'1/1'"
            class="mobile-image"
          ></commudle-banner-image>
        </div>
        <div *appBreakpoints="'>lg'" class="details-container">
          <div class="hackathon-details">
            <div class="details">
              <div class="completed" *ngIf="hackathon.status === 'completed'">
                Completed
                <nb-icon icon="checkmark-circle-2" nbTooltip="Completed" status="success" class="com-m-auto"></nb-icon>
              </div>
              <div *ngIf="hackathon.number_of_participants > 0" class="interested-members">
                <app-badge
                  [text]="hackathon.number_of_participants"
                  [fontColor]="'com-text-tAuro-Metal-Saurus'"
                  [nbIcon]="'people-outline'"
                  [fontSize]="'small'"
                  [borderRadius]="'round'"
                  [color]="'com-bg-Bright-Gray-Light'"
                ></app-badge>
              </div>
            </div>
            <p class="hackathon-name">
              {{ hackathon.name }}
            </p>
            <p class="hackathon-timings">
              {{ moment(hackathon.start_date).format('MMM Do, YYYY') }} |
              <span>{{ hackathon.hackathon_location_type | titlecase }}</span>
            </p>
            <div *ngIf="hackathon.community" class="community-badge">
              <app-community-badge [community]="hackathon.community" [size]="'small'"></app-community-badge>
            </div>
          </div>
          <a class="view-details">View Details</a>
        </div>
        <div *appBreakpoints="'<=lg'" class="details-container-mobile">
          <p class="hackathon-title">{{ hackathon.name }}</p>
          <div class="time-badge">
            <div class="date">
              <p class="hackathon-time">{{ moment(hackathon.start_date).format('MMM Do, YYYY') }}</p>
            </div>
            <div class="interested-members" *ngIf="hackathon.number_of_participants > 0">
              <app-badge
                [text]="hackathon.number_of_participants"
                [fontColor]="'com-text-tAuro-Metal-Saurus'"
                [nbIcon]="'people-outline'"
                [fontSize]="'small'"
                [borderRadius]="'round'"
                [color]="'com-bg-Bright-Gray-Light'"
              ></app-badge>
            </div>
          </div>
          <div *ngIf="hackathon.community" class="community-badge">
            <app-community-badge [community]="hackathon.community" [size]="'small'"></app-community-badge>
          </div>
        </div>
        <!-- <div *ngIf="totalPrizesByCurrency?.length > 0 && totalPrizesByCurrency[0].amount > 0">
          <div *ngFor="let item of totalPrizesByCurrency.slice(0, 1)" class="prize-amount">
            {{ item.currency.symbol }}{{ item.amount }}
          </div>
          </div> -->
      </nb-card-body>
    </nb-card>
  </a>
</div>
