<div
  class="chats-container"
  [ngClass]="{ 'page-mode': isPersonalChatsPage, 'detail-open': isPersonalChatsPage && showMobileChatDetail }"
>
  <div class="chats-list">
    <app-chats-list
      (getChat)="openChat($event)"
      (moveUserToTop)="liveUpdates($event)"
      (getPersonalChats)="getPersonalChat()"
      [isPersonalChatsPage]="isPersonalChatsPage"
      [loadingChat]="isLoadingChat"
      [allPersonalChatUsers]="allPersonalChatUsers"
      [totalChats]="total"
      [currentUser]="currentUser"
    ></app-chats-list>
  </div>
  <div
    *ngIf="!isPersonalChatsPage || (isPersonalChatsPage && showMobileChatDetail)"
    [style.right.px]="isPersonalChatsPage ? null : chatsWindowsRight"
    class="chats-windows"
  >
    <app-chats-window
      (removeChat)="closeChat($event)"
      (removeFromUnread)="removeFromUnread($event)"
      *ngFor="let follower of discussionFollowers"
      [discussionFollower]="follower"
      [fullPageMode]="isPersonalChatsPage && showMobileChatDetail"
    ></app-chats-window>
  </div>
</div>
