<div class="event-details" *ngIf="event">
  <div class="community-badge">
    <app-community-badge [community]="event.kommunity ? event.kommunity : community"></app-community-badge>
  </div>
  <div class="date-registered-text">
    <div class="event-start-date">
      <fa-icon [icon]="icons.faCalendarDays"></fa-icon>&nbsp;
      <span>{{ moment(event.start_time).format('MMM DD, YYYY') }}</span>
    </div>
    <div class="registered-text" *ngIf="showRegisteredIcon">
      <fa-icon [icon]="icons.faCircleCheck"></fa-icon>&nbsp;You're Registered
    </div>
  </div>

  <div class="event-location" *ngIf="event?.event_locations?.length > 0">
    <fa-icon [icon]="icons.faLocationDot"></fa-icon>&nbsp;
    <a [href]="event.event_locations[0].map_link">{{ event.event_locations[0].name }}</a>
  </div>

  <div class="interested-members">
    <commudle-interested-members
      [users]="interestedUsers"
      [totalCount]="interestedUsersCount"
      [showHeading]="false"
    ></commudle-interested-members>
  </div>

  <div class="actions">
    <div class="primary-buttons">
      <button
        *ngIf="showAddToCalendarButton"
        nbButton
        status="primary"
        fullWidth
        shape="semi-round"
        (click)="addToCalendar()"
      >
        <fa-icon [icon]="icons.faCalendarPlus"></fa-icon>&nbsp; Add to Calendar
      </button>
      <button status="info" nbButton outline fullWidth shape="semi-round" (click)="shareEvent()">
        <fa-icon [icon]="icons.faShareNodes"></fa-icon>&nbsp; Share Event
      </button>
    </div>
    <div class="secondary-button">
      <a
        [routerLink]="['/communities', event.kommunity ? event.kommunity.id : community.id, 'events', this.event.slug]"
      >
        <button nbButton fullWidth shape="semi-round" outline class="take-event-button">
          <fa-icon [icon]="icons.faArrowUpRightFromSquare"></fa-icon>&nbsp; Take me to Event’s Page
        </button>
      </a>
    </div>
  </div>
</div>
