<nb-card class="mail-popup">
  <nb-card-header>
    <span>Winner Announcement Email</span>
    <button nbButton shape="round" (click)="closeDialogBox()" ghost>
      <nb-icon icon="close"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <commudle-alert [info]="true" message="This will send a pre-formatted email "></commudle-alert>
    <div class="message-field">
      <label for="message" class="message">Message (Optional)</label>
      <editor [init]="tinyMCE" [(ngModel)]="message"></editor>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button
      (click)="previewEmail(hackathonId); showPreviewSpinner = true"
      nbButton
      status="primary"
      shape="semi-round"
      [nbSpinner]="showPreviewSpinner"
      type="button"
    >
      Preview Email
    </button>
    <button
      nbButton
      status="primary"
      shape="semi-round"
      fullWidth
      (click)="SendWinnerAnnouncementMailer()"
      [nbSpinner]="isLoading"
      [disabled]="isLoading"
    >
      Send
    </button>
  </nb-card-footer>
</nb-card>
