@import './apps/commudle-admin/src/assets/styles/variables';

.admin-badges-form {
  @apply com-mt-4 com-flex;
  com-card-header {
    @apply com-flex com-items-center;
  }
  com-card-body {
    .form-fields {
      label,
      button {
        margin: $space-8 0;
      }
    }

    .image-container {
      align-items: center;
      display: flex;
      justify-content: center;

      img {
        height: 200px;
      }
    }
  }
}
